<div data-component="HowItWorksHero" id="not-all-wifi-equal" class="HowItWorksHero js-scroll-section">
	<div class="PhoneAnimation"></div><img src="{{site.baseurl}}/images/work/plumewifi/hero-phone-cover.png" class="PhoneAnimation-cover"/>
	<div class="PhoneAnimation-animation"><img src="{{site.baseurl}}/images/work/plumewifi/hero-phone-frames.png" class="PhoneAnimation-frames"/></div>
</div>
<div data-component="IpadAnimation" class="IpadAnimation"><img src="{{site.baseurl}}/images/work/plumewifi/hero/ipad/hero-ipad.png"/>
	<div class="IpadAnimation-screen"><img src="{{site.baseurl}}/images/work/plumewifi/hero/ipad/animation-frames-q50.jpg" class="IpadAnimation-screenImageHTML"/>
		<svg baseProfile="full" version="1.2" viewBox="0 0 395 883" class="IpadAnimation-screenImageSVG">
			<defs>
				<mask id="IpadAnimation-screenMask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
					<image width="100%" height="100%" xlink:href="{{site.baseurl}}/images/work/plumewifi/hero/ipad/hero-ipad-screen-mask.png"></image>
				</mask>
			</defs>
			<image mask="url(#IpadAnimation-screenMask)" width="2100%" height="100%" y="0%" x="0%" xlink:href="{{site.baseurl}}/images/work/plumewifi/hero/ipad/animation-frames-q50.jpg" class="IpadAnimation-tweenTarget"></image>
		</svg>
	</div><img src="{{site.baseurl}}/images/work/plumewifi/hero/ipad/hero-ipad-glare.png" class="IpadAnimation-screenGlare"/>
	<div class="Controller"><img src="{{site.baseurl}}/images/work/plumewifi/hero-controller.png"/></div>
	<div class="DropCam"><img src="{{site.baseurl}}/images/work/plumewifi/hero-dropcam.png"/></div>
	<div class="Remote"><img src="{{site.baseurl}}/images/work/plumewifi/hero-remote.png"/></div>
	<div class="g-containerWide HowItWorksHero-vcenter">
		<div data-component="ElementScrollVisibility" data-offset="-200" class="g-containerNarrow u-pad-mediumTop u-pad-smallBottom t-center">
			<h1 class="js-text-animation-header">Not all WiFi is created equal.</h1>
			<div class="js-text-animation-copy">
				<p class="t-hero-text">It’s easy to promise full coverage WiFi when conditions are perfect. But what about when everyone is home, your neighbor is streaming and every device is trying to connect? Plume is the only WiFi solution powered by the cloud, which means it can adapt to real life in real-time—ensuring every room and every device has a reliably fast connection today, tomorrow, and years from now.</p><a href="#free-to-move" class="btn-nextArrow js-btn-scrollToNext"></a>
			</div>
		</div>
	</div>
</div>
