<div class="plume-prototype u-ratio u-ratio--16_9">
	<div class="plume-prototype-content u-ratio__content">
		<div class="plume-prototype-resp ">
			<div class="plume-prototype-canvas">
				<div class="plume-prototype-item">
					<div class="plume-prototype-thermostat"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/thermostat.png" class="plume-prototype-texture"/></div>
				</div>
				<div class="plume-prototype-item">
					<div class="plume-prototype-paper"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/paper.png" class="plume-prototype-texture"/></div>
				</div>
				<div class="plume-prototype-item">
					<div class="plume-prototype-toy"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/toy.png" class="plume-prototype-texture"/></div>
				</div>
				<div class="plume-prototype-item">
					<div class="plume-prototype-tablet"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/tablet.png" class="plume-prototype-texture"/></div>
				</div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/foreground-sans-pod.png" class="plume-prototype-fg"/>
				<div class="plume-prototype-item"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/126747/pod.png" class="plume-prototype-pod"/></div>
			</div>
		</div>
	</div>
</div>
