---
layout: default
---
<article class="casestudy {{page.class}} u--pad-top">
  {{ content }}
</article>

{% if page.next_in_category != nil %}
  {% assign nextpage = page.next_in_category %}
{% else %}
  {% assign nextpage = page.first_in_category %}
{% endif %}


<section id="next-casestudy" class="next-casestudy">
  <a class="grid next-casestudy__link" href="{{ nextpage.permalink }}" class="work--project-{{ nextpage.class }}" {% if nextpage.color %} style="background-color: {{ nextpage.color }};" {% endif %}>

    <svg class="next-casestudy__link__shape" viewBox="-375 -27.5 1310 655" enable-background="new -375 -27.5 1310 655">
      <g fill="{{nextpage.color}}">
        <polyline points="-375,62.3 -375,-27.5 931.1,-7.8   "/>
        <rect x="-375" y="-8" width="1310" height="635.5"/>
      </g>
    </svg>
    <svg class="next-casestudy__link__shape next-casestudy__link__shape--hover" viewBox="-375 -27.5 1310 655" enable-background="new -375 -27.5 1310 655">
      <g fill="{{nextpage.hoverColor}}">
        <polyline points="-375,62.3 -375,-27.5 931.1,-7.8   "/>
        <rect x="-375" y="-8" width="1310" height="635.5"/>
      </g>
    </svg>

    <div class="grid__row">
      <p class="next-casestudy__subline">Up Next</p>
      <h2 class="next-casestudy__headline">{{ nextpage.headline }}</h2>
    </div>
  </a>
</section>


{% include footer.html %}
