<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script>
        // hide body to avoid flashing unstyled content
        document.documentElement.className += ' hide-on-load';
        // make body visible after dom loaded
        document.addEventListener('DOMContentLoaded', function(){
          $(document.documentElement).removeClass('hide-on-load');
        });
    </script>

    <link rel="prefetch" href="/work">
    <link rel="prefetch" href="/about">
    <link rel="prefetch" href="/notes">
    <link rel="prefetch" href="/contact">
    <link rel="prerender" href="/work">
    <link rel="prerender" href="/about">
    <link rel="prerender" href="/notes">
    <link rel="prerender" href="/contact">
  </head>
  <body id="" class="page page-{{page.id}}">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div style="display:none;">
        {% include svg-defs.svg %}
    </div>

    <section class="hero">

        <header class="hero__logo">
            <a href="/" class="logo-rect"><svg class="svg"><use xlink:href="#shape-logo-rect" /></svg></a>
        </header>
        <h1 class="hero__caption">
            <span class="hero__text">
                <span class="hero__word"><span class="hero__word__inner delay100">Crafting</span></span> <span class="hero__word"><span class="hero__word__inner delay250">digital</span></span> <span class="hero__word"><span class="hero__word__inner delay400">experiences</span></span> <span class="hero__word"><span class="hero__word__inner delay550">with</span></span> <span class="hero__word"><span class="hero__word__inner delay700">cutting</span></span> <span class="hero__word"><span class="hero__word__inner delay850">edge</span></span> <span class="hero__word"><span class="hero__word__inner delay1000">technologies.</span></span>
            </span>
        </h1>
        <nav class="hero__nav js-hero-nav nav">
            <ul class="nav__list grid-wrapper">
                <li class="nav__item" data-no-turbolink>
                    <a href="/" class="logo-clean js-nav-home">
                        <svg class="svg"><use xlink:href="#shape-logo-clean" /></svg>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/work">Our Work</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/about">About Us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/notes">Notes</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </section>

    <main class="main-content grid-wrapper">
        {{ content }}
    </main>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
