<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="hero">
        <header class="hero__item hero__logo">
            14islands
        </header>
        <h1 class="hero__item hero__caption">
            Crafting digital experiences with cutting edge technologies
        </h1>
        <nav class="hero__item hero__nav nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--home" data-no-turbolink><a>Logo</a></li>
                <li class="nav__item"><a href="/work/">Our Work</a></li>
                <li class="nav__item"><a href="/about/">About Us</a></li>
                <li class="nav__item"><a href="/notes/">Notes</a></li>
                <li class="nav__item"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </section>

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
