<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:locale" content="{{site.locale}}" />
		<meta property="og:type" content="{% if page.og_type %}{{ page.og_type }}{% else %}{{ site.og_type }}{% endif %}" />
		<meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }}{% endif %}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta property="og:image" content="https://14islands.com{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}" />
		<meta property="og:url" content="https://14islands.com{{page.url}}" />
		<meta property="og:site_name" content="14islands" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@14islands">
		<meta name="twitter:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }}{% endif %}">
		<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<meta name="twitter:creator" content="@14islands">
		<meta name="twitter:image" content="https://14islands.com{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<meta name="theme-color" content="#ffffff">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f47643">
		<link rel="manifest" href="/manifest.json">
		<link rel="alternate" type="application/rss+xml" title="14islands - Blog" href="/feed.xml">

		<script>
			// hide body to avoid flashing unstyled content
			var htmlEL = document.documentElement;
			htmlEL.className += ' js-loading';
			// make body visible after dom loaded
			document.addEventListener('DOMContentLoaded', function() {
				htmlEL.className = htmlEL.className.replace('js-loading', 'js-loaded');
			});
		</script>

		<!-- build:css({app,.tmp}) /css/main.css -->
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
		<!-- endbuild -->

	</head>
	<body id="" class="page page-{{page.id}}">

		<!--[if lt IE 9]>
				<p class="browsehappy"><span>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.<span></p>
		<![endif]-->

		{% include hero.html %}

		<main class="main-content js-pjax-container">
				{{ content }}
		</main>

		{% include scripts.html %}
		{% include googleanalytics.html %}

	</body>
</html>
