---
layout: default
og_type: article
---
<article class="post grid u-pad-both pjax-animate">
	<section class="grid__row">
		{{ content }}
	</section>
</article>

{% if page.next_in_category != nil %}
  {% assign nextpage = page.next_in_category %}
{% else %}
  {% assign nextpage = page.first_in_category %}
{% endif %}

<section class="related-posts">
	<a class="related-posts__link grid u-default-v-padding u-bg-natt-dark" href="{{ site.baseurl }}{{ nextpage.url }}">
		<div class="grid__row">
	    <p class="related-posts__label typography__mono">More jobs</p>
	    <h2 class="related-posts__title">{{ nextpage.title }}</h2>
	  </div>
	</a>
</section>


{% include footer.html %}
