---
layout: default
og_type: article
---
<article class="post grid u-pad-both pjax-animate">
	<section class="grid__row">
		<span class="post__date typography__mono">{{ page.date | date: "%-d %B %Y" }}</span>
		{{ content }}
	</section>
</article>


{% if page.comments != Nil %}
	{% assign showComments = page.comments %}
{% else %}
	{% assign showComments = site.comments %}
{% endif %}

{% if showComments %}
	{% include blog-comments.html %}
{% endif %}

{% include blog-newsletter.html %}

{% if page.next_in_category != nil %}
  {% assign nextpage = page.next_in_category %}
{% else %}
  {% assign nextpage = page.first_in_category %}
{% endif %}


<section class="related-posts">
	<a class="related-posts__link grid u-default-v-padding u-bg-natt-dark" href="{{ site.baseurl }}{{ nextpage.url }}">
		<div class="grid__row">
	    <p class="related-posts__label typography__mono">Read Next</p>
	    <h2 class="related-posts__title">{{ nextpage.title }}</h2>
	  </div>
	</a>
</section>


{% include footer.html %}
