---
layout: default
---

<header>
  <img src="{{ page.images.hero }}" alt="image one"/>
  <img src="{{ page.images.another }}" alt="image two"/>
</header>

<article class="post">
	<section class="block--centered">
		{{ content }}
	</section>
</article>



<p>
  <h3>Using plugin to link to next/previous post in this category</h3>
{% if page.next_in_category != nil %}
  <a href="{{page.next_in_category.url}}" class="next-link">Previous post</a>
{% endif %}
{% if page.previous_in_category != nil %}
  <a href="{{page.previous_in_category.url}}" class="previous-link">Next Post</a>
{% endif %}
</p>
