<div class="u-ratio u-ratio--16_10">
    <div class="spg-map-animation js-component-spg-map-animation u-ratio__content">
      <script>
          var SPG = SPG || {};
          SPG.markers = [
            {
              type: 'Feature',
              properties: {
                'btype': 'bostad',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.063, 59.2978]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'bostad',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.163, 59.2978]
              }
            },
          {
              type: 'Feature',
              properties: {
                'btype': 'bostad',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.0547670, 59.3364651]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'bostad',
                'title': "Oslo 1",
                'description': 'Oslo'
              },
              geometry: {
                type: 'Point',
                coordinates: [10.75, 59.95]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'bostad',
                'title': "Norge 2",
                'description': 'Bergen'
              },
              geometry: {
                type: 'Point',
                coordinates: [5.2, 60.3]
              }
            }
          ];
          
          SPG.markers2 = [
            {
              type: 'Feature',
              properties: {
                'btype': 'omsorg',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.163, 59.2978]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'omsorg',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.263, 59.2978]
              }
            },
          {
              type: 'Feature',
              properties: {
                'btype': 'omsorg',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.1547670, 59.3364651]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'omsorg',
                'title': "Oslo 1",
                'description': 'Oslo'
              },
              geometry: {
                type: 'Point',
                coordinates: [6.75, 59.95]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'omsorg',
                'title': "Norge 2",
                'description': 'Bergen'
              },
              geometry: {
                type: 'Point',
                coordinates: [7.2, 60.3]
              }
            }
          ];
          
          
          
          SPG.markers3 = [
            {
              type: 'Feature',
              properties: {
                'btype': 'utveckling',
                'title': "utveckling 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [18.363, 59.1978]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'utveckling',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [15.263, 58.2978]
              }
            },
            {
              type: 'Feature',
              properties: {
                'btype': 'utveckling',
                'title': "Anholt 1",
                'description': 'Stockholm'
              },
              geometry: {
                type: 'Point',
                coordinates: [10.1547670, 55.3364651]
              }
            }
          ];
      </script>
    </div>
</div>