---
layout: casestudy
class: elastica
permalink: /work/elastica/
title: Elastica Case Study - 14islands
name: Elastica
headline: Making cloud security look splendid.
description: Making cloud security look splendid.
color: '#f6772c'
hoverColor: '#db6927'
logo: logo_elastica.svg
image: /images/work/elastica/elastica-illustration.svg
priority: 4
private: true
og_image: /images/work/elastica/elastica-illustration.svg
og_url: /work/elastica/
---


{% include casestudy-header.html about="Elastica is a cloud security startup based in Silicon Valley. Part of their journey was to build a beautiful website to present their services." %}


{% include casestudy-video.html vimeoId="120048484" ratio="16_10" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Building the hype

We set out on a mission to combine Responsive Web Design, captivating animations and great performance &#8212; realising how important it is for a company like Elastica to build confidence in their visitors.

{% endmarkdown %}
	</div>

{%comment%}
{% include wide-content-image.html src="/images/work/elastica/elastica-threats-desktop-2_1-8bit.png" alt="Elastica threats page" margin="both" ratio="2_1" %}
{%endcomment%}

<div class="grid__row">
{% markdown %}

The site was partially built in Wordpress, in order to give the Elastica marketing team the control and freedom they need to work with the content.

{% endmarkdown %}
	</div>
</section>


{% include casestudy-responsive.html url="/images/work/elastica/elastica-iphone6-full-page-shortened-8bit.png" parallax=true parallaxOffset="-0.5" parallaxDirection="vertical" %}


<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design &amp; UX

This is one of many successful projects we've done together with [UENO](http://ueno.co). The Elastica website features bold colors, long storylike pages and creative animations.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/elastica/elastica-cloudsoc-desktop-2_1.jpg" alt="Elastica threats page" margin="top" ratio="2_1" %}

<div class="grid__row">
{% markdown %}

We absolutely love taking on designs with this level of creativity and ambition. It makes hard work and attention to detail so much more rewarding.

{% endmarkdown %}
</div>

{% include wide-content-image.html src="/images/work/elastica/elastica-blog-desktop-2_1.jpg" alt="The Elastica blog with large engaging hero images" margin="both" ratio="2_1" %}

<div class="grid__row">
{% markdown %}

A blog was built in Wordpress which features large cover images and styled content. All text and images are completely dynamic and editable &#8212; empowering the editors to create new, beautifully designed pages.

{% endmarkdown %}
</div>
</section>

<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row">
{% markdown %}
## Bringing it to life

In addition to crafting a fully responsive experience, the goal was to create an exciting story as you scroll through the pages. We built tasteful animations and transitions to enhance the content and guide visitors through the website.
{% endmarkdown %}
  </div>

  <div class="grid__row--wide u--margin-both--half">
    {% include work/elastica/spinning-satellites.html %}
  </div>

  <div class="grid__row">
{% markdown %}
We used a mix of techniques ranging from CSS3 animations, JavaScript animations and HTML5 Canvas rendering to get the right result.
{% endmarkdown %}
  </div>

  {% comment %}
  {% include casestudy-codepen.html slug="znLKm" ratio="16_9" %}
  {% endcomment %}

  <div class="grid__row">
{% markdown %}
Animations on the Elastica website run based on the scroll position, and they are timed to play exactly when entering the viewport.
<!-- (these examples are looping so you can enjoy them over and over again) -->
{% endmarkdown %}
  </div>

  {% comment %}
  {% include casestudy-codepen.html slug="poydt" ratio="16_9" %}
  {% endcomment %}

  <div class="grid__row">
{% markdown %}
All in all, we ended up handcrafting over 20 animations, and we had a lot of fun doing it.
{% endmarkdown %}
  </div>
</section>



<section class="grid u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies
{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
  <a class="casestudy__technology-item" href="https://wordpress.org/">
     {% include svgs/technology-logos/logo_wordpress.min.svg %}
     <h3 class="casestudy__technology-title">Wordpress</h3>
     <p class="casestudy__technology-description">Content management.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
     {% include svgs/technology-logos/logo_acf.min.svg %}
     <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
     <p class="casestudy__technology-description">Multible content types for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://yoast.com/wordpress/plugins/seo/">
     {% include svgs/technology-logos/logo_seo-by-yoast.min.svg %}
     <h3 class="casestudy__technology-title">SEO by Yoast</h3>
     <p class="casestudy__technology-description">SEO optimization for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://responsive.io/">
     {% include svgs/technology-logos/logo_responsive-io.min.svg %}
     <h3 class="casestudy__technology-title">responsive.io</h3>
     <p class="casestudy__technology-description">Responsive Images.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://sass-lang.com/">
     {% include svgs/technology-logos/logo_sass.min.svg %}
     <h3 class="casestudy__technology-title">Sass</h3>
     <p class="casestudy__technology-description">CSS pre-processing.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://modernizr.com/">
     {% include svgs/technology-logos/logo_modernizr.min.svg %}
     <h3 class="casestudy__technology-title">Modernizr</h3>
     <p class="casestudy__technology-description">Browser and device feature detection.</p>
  </a><!-- Remove spacing
  --><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://jquery.com/">
     {% include svgs/technology-logos/logo_jquery.min.svg %}
     <h3  class="casestudy__technology-title">jQuery</h3>
     <p class="casestudy__technology-description">DOM manipulation and more.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://gruntjs.com/">
     {% include svgs/technology-logos/logo_grunt.min.svg %}
     <h3 class="casestudy__technology-title">Grunt</h3>
     <p class="casestudy__technology-description">Task Automation.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://bower.io/">
     {% include svgs/technology-logos/logo_bower.min.svg %}
     <h3 class="casestudy__technology-title">Bower</h3>
     <p class="casestudy__technology-description">Front-end package manager.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
     {% include svgs/technology-logos/logo_github.min.svg %}
     <h3 class="casestudy__technology-title">Component Loader</h3>
     <p class="casestudy__technology-description">Generic framework for JS components.</p>
  </a>
	</div>

</section>


{% include casestudy-quote.html quote="14islands brings projects to life and help make them better than I could ever imagine. Their attention to detail sets them apart and I can recommend teaming up with them anytime." author-image-src="/images/work/elastica/haraldur-thorleifsson.jpg" author-name="Haraldur Thorleifsson" author-job-title="Creative Director at UENO" %}


<section class="grid u--pad-bottom">
	<div class="grid__row">
		{% markdown %}

## Impression

Responsive web development and beautiful design all came together to create an impressive and confident experience. This was a super fun and challenging project for us in so many ways.

Want to work with us? [Get in touch](/contact/)

    {% endmarkdown %}
	</div>
</section>
