---
layout: casestudy
class: sthlm6000
permalink: /work/sthlm6000/
title: Sthlm6000+ Case Study - 14islands
name: Sthlm6000+
headline: Improving student housing in Stockholm.
description: Improving student housing in Stockholm.
color: '#00e689'
hoverColor: '#00b069'
logo: logo_bvd.min.svg
image: /images/work/sthlm6000/list-illustration.png
priority: 5
private: false
og_image: /images/work/sthlm6000/list-illustration.png
og_url: /work/sthlm6000/
---


{% include casestudy-header.html about="Sthlm6000+ is an urban development project that aims to build more than 6000 student apartments in Stockholm." %}


{% include casestudy-video.html vimeoId="119853961" ratio="16_9" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Building it

The project brings together a large number of players in Stockholm; municipalities, construction companies, educational institutions and students.

Our job was to bring designs to life with interactivity and animations.
{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/sthlm6000/home-hero-second-16-9.jpg"  alt="Home page" margin="both" ratio="16_9" %}

<div class="grid__row">
{% markdown %}
The goal of the site is to present this project in a good way and provide information to the public. The site is built responsive in Wordpress to make it fully editable by the client.
{% endmarkdown %}
	</div>
</section>

{% include casestudy-responsive.html url="/images/work/sthlm6000/sthlm6000-iphone6-shortened.jpg" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design

We were approached by [BVD](http://bvd.se) to build the website for this project. BVD is an experienced design studio in Stockholm that focuses on simplicity and quality for their clients.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/sthlm6000/home-hero-16-9.jpg"  alt="Home page" margin="both" ratio="16_9" %}

  <div class="grid__row">
{% markdown %}
They showed us their design concept for the site, it featured bold imagery from Stockholm and nice typography. It had us at hello.
{% endmarkdown %}
  </div>

</section>

<section class="grid u-bg-bright u--pad-both">

  <div class="grid__row">
{% markdown %}
## Experiments
The design immediately inspired us to start experimenting in the browser. This is a prototype we made to present interactive statistics:
{% endmarkdown %}
  </div>

  {% include casestudy-codepen.html slug="Htoyz" %}

    <div class="grid__row">
{% markdown %}
The donut chart is also a nice way display the statistics, bringing the numbers to life in a more visual way.
{% endmarkdown %}
    </div>

  {% include casestudy-codepen.html slug="pvLqNE" %}


  <div class="grid__row">
{% markdown %}
We also experimented with playful ways of presenting building projects on premise using Google Street View.
{% endmarkdown %}
  </div>

  {% include casestudy-codepen.html slug="BChpE" %}


  <div class="grid__row">
{% markdown %}
Not all ideas made it into the project but this process inspired the whole team to come up with new creative directions.
{% endmarkdown %}
  </div>
</section>

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Laying the grounds

All content on the site is editable using Wordpress as the Content Management System. One of the best things about Wordpress is that it provides such a pleasant experience for the editors that manage all the different types of content for the site.
{% endmarkdown %}
</div>

{% include wide-content-image.html src="/images/work/sthlm6000/projekt-bostad-16-9.jpg"  alt="Map with project locations" margin="both" ratio="16_9" %}

<div class="grid__row">
{% markdown %}
The editor in Wordpress is responsive, making it possible to manage the site on a wide variety of devices. This is just one of the reasons we like to use Wordpress.
{% endmarkdown %}
</div>
</section>

<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies

We always pick technologies based on what they can give to the project in terms of functionality whilst still having fun using it (whenever possible).

{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
  <a class="casestudy__technology-item" href="https://wordpress.org/">
     {% include svgs/technology-logos/logo_wordpress.min.svg %}
     <h3 class="casestudy__technology-title">Wordpress</h3>
     <p class="casestudy__technology-description">Content management.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
     {% include svgs/technology-logos/logo_acf.min.svg %}
     <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
     <p class="casestudy__technology-description">Multible content types for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://yoast.com/wordpress/plugins/seo/">
     {% include svgs/technology-logos/logo_seo-by-yoast.min.svg %}
     <h3 class="casestudy__technology-title">SEO by Yoast</h3>
     <p class="casestudy__technology-description">SEO optimization for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://coffeescript.org/">
     {% include svgs/technology-logos/logo_coffeescript.min.svg %}
     <h3 class="casestudy__technology-title">Coffeescript</h3>
     <p class="casestudy__technology-description">A language that compiles into JS.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://responsive.io/">
     {% include svgs/technology-logos/logo_responsive-io.min.svg %}
     <h3 class="casestudy__technology-title">responsive.io</h3>
     <p class="casestudy__technology-description">Responsive Images.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://sass-lang.com/">
     {% include svgs/technology-logos/logo_sass.min.svg %}
     <h3 class="casestudy__technology-title">Sass</h3>
     <p class="casestudy__technology-description">CSS pre-processing.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://modernizr.com/">
     {% include svgs/technology-logos/logo_modernizr.min.svg %}
     <h3 class="casestudy__technology-title">Modernizr</h3>
     <p class="casestudy__technology-description">Browser and device feature detection.</p>
  </a><!-- Remove spacing
  --><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://jquery.com/">
     {% include svgs/technology-logos/logo_jquery.min.svg %}
     <h3  class="casestudy__technology-title">jQuery</h3>
     <p class="casestudy__technology-description">DOM manipulation and more.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://github.com/ftlabs/fastclick">
     {% include svgs/technology-logos/logo_github.min.svg %}
     <h3 class="casestudy__technology-title">FastClick</h3>
     <p class="casestudy__technology-description">Eliminate 300ms delay for touch events.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://gruntjs.com/">
     {% include svgs/technology-logos/logo_grunt.min.svg %}
     <h3 class="casestudy__technology-title">Grunt</h3>
     <p class="casestudy__technology-description">Task Automation.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://bower.io/">
     {% include svgs/technology-logos/logo_bower.min.svg %}
     <h3 class="casestudy__technology-title">Bower</h3>
     <p class="casestudy__technology-description">Front-end package manager.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
     {% include svgs/technology-logos/logo_github.min.svg %}
     <h3 class="casestudy__technology-title">Component Loader</h3>
     <p class="casestudy__technology-description">Generic framework for JS components.</p>
  </a>
	</div>

</section>

{% comment %}
{% include casestudy-quote.html quote="I'm so lucky to have been able to collaborate with such talented folks. Everything 14islands developed came out even better than I could have imagined." author-image-src="/images/work/google-santa-tracker/ariana-nicolay.jpg" author-name="Ariana Nicolay" author-job-title="Visual Designer at Google" %}
{% endcomment %}

<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## Going live

This was only the first phase of the project, so expect more to come.

{% include casestudy-button.html site-url="https://sthlm6000.se" %}

Want to work with us? [Get in touch](http://14islands.com/contact)

{% endmarkdown %}
	</div>
</section>
