---
layout: casestudy
class: elastica
permalink: /work/elastica/
title: Elastica Case Study - 14islands
name: Elastica
headline: Making cloud security look splendid.
description: Making cloud security look splendid.
color: '#f6772c'
hoverColor: '#db6927'
logo: logo_elastica.svg
image: /images/work/elastica/elastica-illustration.svg
priority: 4
private: true
og_image: /images/work/elastica/elastica-illustration.svg
og_url: /work/elastica/
---


{% include casestudy-header.html about="Elastica is a cloud security startup based in Silicon Valley. Part of their journey was to build a beautiful website to present their services." %}


{% include casestudy-video.html vimeoId="118915763" ratio="16_9" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Building the hype

Key points of this section:
14islands created this because we are awesome.
Goal is to spread the Elastica brand.
It's a fast, responsive website.
Full of engaging animations and transitions.
Important to build confidence - visitors must trust Elastica.

<!--
In the spirit of moving fast, our first iteration was to build a static site using HTML, CSS &amp; JavaScript. This meant they could go live early, and the result was a blazing fast responsive website, with engaging transitions and animations.
-->

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/elastica/elastica-threats-desktop-2_1.png" alt="Elastica threats page" margin="both" ratio="2_1" %}

<div class="grid__row">
{% markdown %}

The site was partially built in Wordpress &#8212; giving the Elastica marketing team the control they need.

{% endmarkdown %}
	</div>
</section>

{% include casestudy-responsive.html url="/images/work/elastica/elastica-iphone6-full-page-shortened.png" parallax=true parallaxOffset="-0.5" parallaxDirection="vertical" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design

This is one of many successful projects we've done together with [UENO](http://ueno.co). The Elastica website features bold colors, long storylike pages and creative animations.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/elastica/elastica-cloudsoc-desktop-2_1.png" alt="Elastica threats page" margin="top" ratio="2_1" %}

<div class="grid__row">
{% markdown %}

We absolutely love taking on designs with this level of creativity and ambition. It makes our hard work and attention to every last detail so much more rewarding.

{% endmarkdown %}
</div>

{% include wide-content-image.html src="/images/work/elastica/elastica-blog-desktop-2_1.png" alt="The Elastica blog with large engaging hero images" margin="both" ratio="2_1" %}

<div class="grid__row">
{% markdown %}

A blog was built in Wordpress which features large cover images and styled content. All text and images are completely dynamic and editable &#8212; empowering the editors to create new, beautifully designed pages.

{% endmarkdown %}
</div>
</section>

<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row">
{% markdown %}
## Bringing it to life

In addition to crafting a fully responsive experience, the goal was to create an exciting story as you scroll through the pages.
{% endmarkdown %}
  </div>

<div class="grid__row--wide-content u--pad-both--half">
 <p data-height="580" data-theme-id="6678" data-slug-hash="xyAsh" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/xyAsh/'>Spinning Satellites</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div>

<div class="grid__row">
{% markdown %}
We created tasteful animations and transitions to enhance the content and guide visitors through the website.
{% endmarkdown %}
 </div>

<div class="grid__row--wide-content u--pad-both--half">
  <p data-height="600" data-theme-id="6678" data-slug-hash="znLKm" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/znLKm/'>Circular mask</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div>

<!--div class="grid__row">
{% markdown %}
In addition to crafting a fully responsive experience, the goal was to create an exciting story as you scroll through the pages. We ended up handcrafting over 20 animations which all run based on the scroll position.
{% endmarkdown %}
 </div>

<div class="grid__row--wide-content u--pad-both--half">
  <p data-height="600" data-theme-id="6678" data-slug-hash="bKLBw" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/bKLBw/'>Unmask on scroll</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div-->

<div class="grid__row">
{% markdown %}
Animations run based on the scroll position and plays when entering the viewport.
{% endmarkdown %}
 </div>

<div class="grid__row--wide-content u--pad-both--half">
  <p data-height="600" data-theme-id="6678" data-slug-hash="poydt" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/poydt/'>Dancing Circles</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div>

<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

<div class="grid__row">
{% markdown %}
All in all, we ended up handcrafting over 20 animations, and we had a lot of fun doing it.
{% endmarkdown %}

</div>
</section>



<section class="grid u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies
{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
  <a class="casestudy__technology-item" href="https://wordpress.org/">
     {% include svgs/technology-logos/logo_wordpress.min.svg %}
     <h3 class="casestudy__technology-title">Wordpress</h3>
     <p class="casestudy__technology-description">Content management.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
     {% include svgs/technology-logos/logo_acf.min.svg %}
     <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
     <p class="casestudy__technology-description">Multible content types for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://yoast.com/wordpress/plugins/seo/">
     {% include svgs/technology-logos/logo_seo-by-yoast.min.svg %}
     <h3 class="casestudy__technology-title">SEO by Yoast</h3>
     <p class="casestudy__technology-description">SEO optimization for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://responsive.io/">
     {% include svgs/technology-logos/logo_responsive-io.min.svg %}
     <h3 class="casestudy__technology-title">responsive.io</h3>
     <p class="casestudy__technology-description">Responsive Images.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://sass-lang.com/">
     {% include svgs/technology-logos/logo_sass.min.svg %}
     <h3 class="casestudy__technology-title">Sass</h3>
     <p class="casestudy__technology-description">CSS pre-processing.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://modernizr.com/">
     {% include svgs/technology-logos/logo_modernizr.min.svg %}
     <h3 class="casestudy__technology-title">Modernizr</h3>
     <p class="casestudy__technology-description">Browser and device feature detection.</p>
  </a><!-- Remove spacing
  --><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://jquery.com/">
     {% include svgs/technology-logos/logo_jquery.min.svg %}
     <h3  class="casestudy__technology-title">jQuery</h3>
     <p class="casestudy__technology-description">DOM manipulation and more.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://gruntjs.com/">
     {% include svgs/technology-logos/logo_grunt.min.svg %}
     <h3 class="casestudy__technology-title">Grunt</h3>
     <p class="casestudy__technology-description">Task Automation.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://bower.io/">
     {% include svgs/technology-logos/logo_bower.min.svg %}
     <h3 class="casestudy__technology-title">Bower</h3>
     <p class="casestudy__technology-description">Front-end package manager.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
     {% include svgs/technology-logos/logo_github.min.svg %}
     <h3 class="casestudy__technology-title">Component Loader</h3>
     <p class="casestudy__technology-description">Generic framework for JS components.</p>
  </a>
	</div>

</section>


{% include casestudy-quote.html quote="I'm so lucky to have been able to collaborate with such talented folks. Everything 14islands developed came out even better than I could have imagined." author-image-src="/images/work/google-santa-tracker/ariana-nicolay.jpg" author-name="Ariana Nicolay" author-job-title="Visual Designer at Google" %}


<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## The last title

This was a super fun project that challenged us in so many ways. We need some more text here so it's not too empty.

<!--
Elastica are moving fast, and their site is constantly being updated. It's good to see them building on top of our work.
-->

{% comment %}
{% include casestudy-button.html site-url="http://elastica.net/" %}
{% endcomment %}

Want to work with us? [Get in touch](/contact/)

    {% endmarkdown %}
	</div>
</section>
