---
layout: casestudy
class: tictail
permalink: /work/tictail
color: '#fcc100'
title: Tictail - 14islands
logo: tictail.svg
heading: Tictail  
description: A better way for creatives to sell online.
image: /images/work/tictail/list-illustration.png
priority: 2
private: false
---

{% include casestudy-header.html title="Tictail" description="A better way for creatives to sell online." %}

{% include casestudy-video.html url="http://player.vimeo.com/video/66140585" %}

<section id="about" class="block--centered u--pad-both">
{% markdown %}
## About

[Tictail](http://www.tictail.com/) is a Stockholm-based startup that enables people with great products to easily sell online. They wanted a modern website for the Tictail brand, increase signups and to help their community to succeed. 

The site is fully responsive and built in Wordpress to make all content editable by the people at Tictail.
{% endmarkdown %}
</section>

{% include casestudy-responsive.html url="/images/work/tictail/iphone6screenshot.jpg" alt="Tictail on Mobile" %}

<section class="u--pad-both">
	<div class="block--centered">
{% markdown %}
## Design

The site was designed by our friends at [Studio Källbom](http://www.studiokallbom.se/). Studio Källbom is a talented design studio with an artistic touch.

The site features a magazine like design: nice typography, bold colors and rich content to show features and tell Tictails story. We were totally inspired to make this our best work ever.
{% endmarkdown %}
	</div>
	{% include wide-content-image.html src="/images/work/tictail/home-screenshot-16-9.jpg"  alt="Home page" ratio="16_9" %}
</section>

<section class="u--pad-bottom">
	<div class="block--centered">
{% markdown %}
## Making it happen

We worked in close collaboration with Tictail, often at their offices. 

Here is a picture from a Friday meeting where our very own Marco gave update about the progress to the people at Tictail.
{% endmarkdown %}
	</div>
	{% include wide-content-image.html src="/images/work/tictail/friday-meeting-16-9.jpg" alt="The 14islands HQ" ratio="3_2" %}
	<div class="block--centered">
{% markdown %}
All about the responsive image grid, how it transitions and performce well.
{% endmarkdown %}
	</div>
	{% include wide-content-image.html src="/images/work/tictail/products-screenshot-16-9.jpg"  alt="Menu" ratio="16_9" %}
	<div class="block--centered">
{% markdown %}
All about the menu.
{% endmarkdown %}
	</div>
	</div>
	{% include wide-content-image.html src="/images/work/tictail/menu-screenshot-16-9.jpg"  alt="Menu" ratio="16_9" %}
</section>

<!-- <section class="block--centered u--pad-bottom">
{% markdown %}
## Project Highlights
* Performance
* Wordpress
* Transitions on scroll
* The Hamburger 
* Menu animation
* Offices presented using Google Street View
{% endmarkdown %}
</section> -->

{% include casestudy-quote.html quote="The guys at 14islands are awesome" author="Kaj Drobin, CEO" %}

<!-- <section class="block--centered u--pad-both">
{% markdown %}
## Technologies
{% endmarkdown %}
</section> -->

<section class="block--centered u--pad-both">
{% markdown %}
## Conclusion

Overall we think the feedback speak for itself. 
[Check it out](http://tictail.com/)
{% endmarkdown %}
</section>