---
layout: casestudy
class: google-santa-tracker
permalink: /work/google-santa-tracker
title: Google Santa Tracker - 14islands
logo: google.svg
heading: Google Santa Tracker
color: '#00abf6'
description: Follow Santa and his elves with Santa Tracker.
image: /images/work/google-santa-tracker/santa-tracker-illustration.svg
priority: 3
private: false
---

{% include casestudy-header.html title="Follow Santa and his elves with Santa Tracker" description="Santa Tracker" %}

{% include casestudy-video.html vimeo-id="109427043" %}

<section id="about" class="u--pad-both">
  <div class="block--centered">
{% markdown %}
## 'Tis the Season

For the second year in a row, we helped build Google's Santa Tracker experience. We've had the pleasure to build 16 interactive scenes for this massive christmas environment with lots of fun animations.

Each day - from December 1st to December 24th - we get to follow Santa and his elves as they prepare for Christmas.
{% endmarkdown %}
  </div>

  {% include wide-content-image.html src="/images/work/google-santa-tracker/santa-tracker-village-desktop.png" alt="Santa Tracker village" ratio="3_2" %}

</section> 


{% include casestudy-responsive.html url="/images/work/google-santa-tracker/santa-tracker-village-mobile.png" %}


<section class="u--pad-both">
  <div class="block--centered">
{% markdown %}
## Decorations

The overall experience was directed by our friends at [UPPERQUAD](http://upperquad.com) and [UENO](http://ueno.co). The design features colourful flat elements such as moving animals and elves in different colour outfits.

All design elements are vector based - a good approach to keep things flexible and resolution independent. As always, we made everything responsive to make it look great on all kinds of different devices. This year we even support Chromecast and Android Wear integration.
{% endmarkdown %}
  </div>

  {% include wide-content-image.html src="/images/work/google-santa-tracker/santa-tracker-reindeers-desktop.png" alt="Santa Tracker village" ratio="3_2" margin="top" %}

</section>


<section class="u--pad-bottom">
  <div class="block--centered">
{% markdown %}
## Bringing it to life
Some stuff about how the team was spread out in many countries, how we worked.

Some stuff about animations.
{% endmarkdown %}
  </div>

  <div class="block--centered content-image content-image--margin-both">
    {% include work/google-santa-tracker/reindeer-animations.html %}
  </div>

  <div class="block--centered">
{% markdown %}
And some stuff about how we integrated with many cool Google services, such as the translation text to speech API.
{% endmarkdown %}
  </div>

  {% include wide-content-image.html src="/images/work/google-santa-tracker/santa-tracker-translations-desktop.png" alt="Santa Tracker" ratio="3_2" margin="both" %}

  <div class="block--centered">
{% markdown %}
  The translation scene lets you listen to your favorite holiday greetings in 20 languages. Our office buddies Plan8 did an amazing job with the sound design for the whole project.
{% endmarkdown %}
  </div>
</section>


<section class="block--centered u--pad-bottom">
{% markdown %}
## Santa's factory

As always, when working with Google, we got to play with a lot of new toys. This year Santa's factory was upgraded to use Web Components (using Polymer) and the new Web Animations specification. Read more about our <a href="#">thoughts on Web Animations on the blog</a>.

* [Polymer](https://www.polymer-project.org/), Web Components polyfill
* [Web Animations](https://github.com/web-animations/web-animations-js), Animations polyfill
* [Sass](http://sass-lang.com/), CSS pre-processing.
* [Modernizr](http://modernizr.com/), Browser and device feature detection.
* [jQuery](http://jquery.com/), DOM manipulation and more.
* [Gulp](http://gruntjs.com/), Task Automation.
* [Bower](http://gruntjs.com/), Front-end package manager.

{% endmarkdown %}
</section>


{% include casestudy-quote.html quote="Working with the fellows at 14islands was a true pleasure to us. Friendly and professional wizkids." author-image-src="/images/work/tictail/kaj-2-1.png" author-name="Phil Ruppanner" author-job-title="Founder / Creative Director at UPPERQUAD" %}


<section class="block--centered u--pad-both">
{% markdown %}
## The best of all gifts

Working with the Santa Tracker team is always a joy and we look forward to reuniting the familiy for next christmas. 

The site has won multiple awards both years we were involved:

* [FWA Site of the Day 2014](http://www.thefwa.com/site/google-santa-tracker-2014)
* [FWA Site of the Day 2013](http://www.thefwa.com/site/google-santa-tracker-2013)
* [FWA Mobile of the Day 2013](http://www.thefwa.com/mobile/google-santa-tracker)
{% endmarkdown %}

{% include casestudy-button.html site-url="https://santatracker.google.com/" %}
</section>








