---
layout: casestudy
class: google-santa-tracker
permalink: /work/google-santa-tracker
title: Google Santa Tracker - 14islands
name: Google Santa Tracker
headline: Follow Santa and his elves with Santa Tracker.
color: '#00abf6'
hoverColor: '#009adb'
logo: logo_google.svg
image: /images/work/google-santa-tracker/santa-tracker-illustration.svg
priority: 3
private: false
---


{% include casestudy-header.html %}


{% include casestudy-video.html vimeoId="118058075" %}


<section id="about" class="grid u--pad-both">
  <div class="grid__row">
{% markdown %}
## 'Tis the Season

For the second year in a row, we helped build Google's Santa Tracker experience. We've had the pleasure to build 16 interactive scenes for this massive christmas environment with lots of fun animations.

Each day - from December 1st to December 24th - we get to follow Santa and his elves as they prepare for Christmas.
{% endmarkdown %}
  </div>
</section>


{% include casestudy-image.html src="/images/work/google-santa-tracker/santa-tracker-village-desktop.png" alt="Santa's village is the entry point to all the individual games and scenes. Each one is built as a separate App making it easier for the team to work in parallel." ratio="3_2" %}



<section class="grid u--pad-both">
  <div class="grid__row">
{% markdown %}
## Decorations

The overall experience was directed by our friends at [UPPERQUAD](http://upperquad.com) and [UENO](http://ueno.co). The design features colourful flat elements such as moving animals and elves in different colour outfits.

All design elements are vector based - a good approach to keep things flexible and resolution independent. As always, we made everything responsive to make it look great on all kinds of different devices. This year we even support Chromecast and Android Wear integration.
{% endmarkdown %}
  </div>

</section>


{% include casestudy-responsive.html url="/images/work/google-santa-tracker/santa-tracker-village-mobile.png" %}


<section class="grid u--pad-both">
  <div class="grid__row">
{% markdown %}
## Bringing it to life
Some stuff about animations to make it more about our work. We need to show how valuable our expertise and craftmanship was for the success of the projects.
{% endmarkdown %}
  </div>

  <div class="grid__row content-image u--pad-both--half">
    {% include work/google-santa-tracker/reindeer-animations.html %}
  </div>

  <div class="grid__row">
{% markdown %}
And some stuff about how we integrated with many cool Google services, such as the translation text to speech API.
{% endmarkdown %}
  </div>

  {% include wide-content-image.html src="/images/work/google-santa-tracker/santa-tracker-reindeers-desktop.png" alt="Santa Tracker village" ratio="3_2" margin="top" %}

  <div class="grid__row">
{% markdown %}
Also some stuff about how the team was spread out in many countries, how we worked.
{% endmarkdown %}
  </div>
</section>


{% include casestudy-image.html src="/images/work/google-santa-tracker/santa-tracker-translations-desktop.png" alt="The translation scene lets you listen to your favorite holiday greetings in 20 languages. Our office buddies Plan8 did an amazing job with the sound design for the whole project." ratio="3_2" %}

<section class="grid u--pad-both">
  <div class="grid__row">
{% markdown %}
## Technologies

As always, when working with Google, we got to play with a lot of new toys. This year Santa's factory was upgraded to use Web Components (using Polymer) and the new Web Animations specification. Read more about our [thoughts on Web Animations on the blog](#)
{% endmarkdown %}
  </div>
  <div class="grid__row--wide casestudy__technology-list">
      <a class="casestudy__technology-item" href="https://www.polymer-project.org/">
         {% include technology-logos/logo_polymer.svg %}
         <h3 class="casestudy__technology-title">Polymer</h3>  
         <p class="casestudy__technology-description">Web Components polyfill.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="https://github.com/web-animations/web-animations-js">
         {% include technology-logos/logo_github.svg %}
         <h3 class="casestudy__technology-title">Web Animations</h3>  
         <p class="casestudy__technology-description">Animations polyfill.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="http://sass-lang.com/">
         {% include technology-logos/logo_sass.svg %}
         <h3 class="casestudy__technology-title">Sass</h3>  
         <p class="casestudy__technology-description">CSS pre-processing.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="http://modernizr.com/">
         {% include technology-logos/logo_modernizr.svg %}
         <h3 class="casestudy__technology-title">Modernizr</h3>  
         <p class="casestudy__technology-description">Browser and device feature detection.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="http://jquery.com/">
         {% include technology-logos/logo_jquery.svg %}
         <h3  class="casestudy__technology-title">jQuery</h3>  
         <p class="casestudy__technology-description">DOM manipulation and more.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="http://gulpjs.com/">
         {% include technology-logos/logo_gulp.svg %}
         <h3 class="casestudy__technology-title">Gulp</h3>  
         <p class="casestudy__technology-description">Task Automation.</p>     
      </a><!-- Remove spacing
      --><a class="casestudy__technology-item" href="http://gruntjs.com/">
         {% include technology-logos/logo_bower.svg %}
         <h3 class="casestudy__technology-title">Bower</h3>  
         <p class="casestudy__technology-description">Front-end package manager.</p>
      </a>
  </div>
</section>


{% include casestudy-quote.html quote="Working with the fellows at 14islands was a true pleasure to us. Friendly and professional wizkids." author-image-src="/images/work/tictail/kaj-2-1.png" author-name="Phil Ruppanner" author-job-title="Founder / Creative Director at UPPERQUAD" %}


<section class="grid u--pad-both">
  <div class="grid__row">
{% markdown %}
## The best of all gifts

Working with the Santa Tracker team is always a joy and we look forward to reuniting the familiy for next christmas.

The site has won multiple awards both years we were involved:

* [FWA Site of the Day 2014](http://www.thefwa.com/site/google-santa-tracker-2014)
* [FWA Site of the Day 2013](http://www.thefwa.com/site/google-santa-tracker-2013)
* [FWA Mobile of the Day 2013](http://www.thefwa.com/mobile/google-santa-tracker)
{% endmarkdown %}

{% include casestudy-button.html site-url="https://santatracker.google.com/" %}
  </div>
</section>








