---
layout: casestudy
class: elastica
permalink: /work/elastica/
title: Elastica Case Study - 14islands
name: Elastica
headline: Making cloud security look splendid.
description: Making cloud security look splendid.
color: '#f6772c'
hoverColor: '#db6927'
logo: logo_elastica.svg
image: /images/work/elastica/elastica-illustration.svg
priority: 4
private: true
og_image: /images/work/elastica/elastica-illustration.svg
og_url: /work/elastica/
---


{% include casestudy-header.html about="Elastica is a cloud security startup based in Silicon Valley. Part of their journey was to build a beautiful website to present their services." %}


{% include casestudy-video.html vimeoId="118915763" ratio="16_9" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Launching early

In the spirit of moving fast, our first iteration was to build a static site using HTML, CSS &amp; JavaScript. This meant they could go live early, and the result was a blazing fast responsive website, with engaging transitions and animations.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/sthlm6000/home-hero-16-9.jpg"  alt="Home page" margin="both" ratio="16_9" %}

<div class="grid__row">
{% markdown %}

We then circled back and converted high priority pages into Wordpress templates &#8212; giving the Elastica marketing team the control they needed to make fast changes.

{% endmarkdown %}
	</div>
</section>

{% include casestudy-responsive.html url="/images/work/sthlm6000/home-mobile.jpg" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design

This is one of many successful projects we've done together with [UENO](http://ueno.co). The Elastica website features bold colors, long storylike pages and creative animations.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/sthlm6000/about-pie-chart-16-9.jpg"  alt="About page with pie chart" margin="both" ratio="16_9" %}

<div class="grid__row">
{% markdown %}

We absolutely love taking on designs with this level of creativity and ambition. It makes our hard work and attention to every last detail so much more rewarding.

{% endmarkdown %}
</div>

</section>

<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row">
{% markdown %}
## Bringing it to life

In addition to crafting a fully responsive experience, the goal was to create an exciting story as you scroll through the pages. We ended up handcrafting over 20 animations which all run based on the scroll position.
{% endmarkdown %}

<div class="u--pad-both--half">
 <p data-height="580" data-theme-id="6678" data-slug-hash="xyAsh" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/xyAsh/'>Spinning Satellites</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>

{% markdown %}
asdf asdf
{% endmarkdown %}

<!--div class="u--pad-both--half">
  <span data-height="400" data-theme-id="6678" data-slug-hash="BChpE" data-default-tab="result" data-user="14islands" class='codepen'>See the Pen <a href='http://codepen.io/14islands/pen/BChpE/'>Google panorama component</a> by 14islands (<a href='http://codepen.io/14islands'>@14islands</a>) on <a href='http://codepen.io'>CodePen</a>.</span>
</div-->



{% markdown %}
asdf asdf
{% endmarkdown %}

</div>
</section>



<section class="grid u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies
{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
  <a class="casestudy__technology-item" href="https://wordpress.org/">
     {% include svgs/technology-logos/logo_wordpress.min.svg %}
     <h3 class="casestudy__technology-title">Wordpress</h3>
     <p class="casestudy__technology-description">Content management.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
     {% include svgs/technology-logos/logo_acf.min.svg %}
     <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
     <p class="casestudy__technology-description">Multible content types for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://yoast.com/wordpress/plugins/seo/">
     {% include svgs/technology-logos/logo_seo-by-yoast.min.svg %}
     <h3 class="casestudy__technology-title">SEO by Yoast</h3>
     <p class="casestudy__technology-description">SEO optimization for WordPress.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://responsive.io/">
     {% include svgs/technology-logos/logo_responsive-io.min.svg %}
     <h3 class="casestudy__technology-title">responsive.io</h3>
     <p class="casestudy__technology-description">Responsive Images.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://sass-lang.com/">
     {% include svgs/technology-logos/logo_sass.min.svg %}
     <h3 class="casestudy__technology-title">Sass</h3>
     <p class="casestudy__technology-description">CSS pre-processing.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://modernizr.com/">
     {% include svgs/technology-logos/logo_modernizr.min.svg %}
     <h3 class="casestudy__technology-title">Modernizr</h3>
     <p class="casestudy__technology-description">Browser and device feature detection.</p>
  </a><!-- Remove spacing
  --><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://jquery.com/">
     {% include svgs/technology-logos/logo_jquery.min.svg %}
     <h3  class="casestudy__technology-title">jQuery</h3>
     <p class="casestudy__technology-description">DOM manipulation and more.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://gruntjs.com/">
     {% include svgs/technology-logos/logo_grunt.min.svg %}
     <h3 class="casestudy__technology-title">Grunt</h3>
     <p class="casestudy__technology-description">Task Automation.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="http://bower.io/">
     {% include svgs/technology-logos/logo_bower.min.svg %}
     <h3 class="casestudy__technology-title">Bower</h3>
     <p class="casestudy__technology-description">Front-end package manager.</p>
  </a><!-- Remove spacing
  --><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
     {% include svgs/technology-logos/logo_github.min.svg %}
     <h3 class="casestudy__technology-title">Component Loader</h3>
     <p class="casestudy__technology-description">Generic framework for JS components.</p>
  </a>
	</div>

</section>


{% include casestudy-quote.html quote="I'm so lucky to have been able to collaborate with such talented folks. Everything 14islands developed came out even better than I could have imagined." author-image-src="/images/work/google-santa-tracker/ariana-nicolay.jpg" author-name="Ariana Nicolay" author-job-title="Visual Designer at Google" %}


<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## Move fast and break things

This was a super fun project that challenged us in so many ways. Elastica are moving fast, and their site is constantly being updated. It's good to see them building on top of our work.

{% include casestudy-button.html site-url="http://elastica.net/" %}

Want to work with us? [Get in touch](/contact/)

    {% endmarkdown %}
	</div>
</section>
