---
layout: casestudy
class: montgomery
permalink: /work/montgomery/
title: Montgomery Case Study - 14islands
name: Montgomery
headline: Investments made easy.
description: Investments made easy.
color: '#1485cc'
hoverColor: '#0f6194'
logo: logo_montgomery.min.svg
image: /images/work/montgomery/shape-edit.svg
imageClass: box__content__img--max-450
priority: 7
private: false
og_image: /images/work/montgomery/perspective-test.png
---


{% include casestudy-header.html about="Montgomery Investment Management is a boutique funds management firm based in Sydney, Australia. We got approached by Roger Montgomery to build and interactive application to facilitate the manual work required to perform an investment." %}

<div class="u-bg-bright u--pad-both">
{% include wide-content-image.html src="/images/work/montgomery/index-page-cropped.png" alt="New investment user flow example." ratio="16_9" margin="none" %}
</div>

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Seriously simple

Making an investment doesn’t have to be complicated. What if the legal paperwork required for an investment can be generated and pre-filled by an easy-to-use online form application?

The challenge was set and we embraced the cause.
{% endmarkdown %}

	</div>

</section>

{% include casestudy-responsive.html url="/images/work/montgomery/mobile-full-page2.png" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Un-complexing the process

The normal process of applying for an investment involves going through over 20 pages of information divided into multiple sections.

With an open mind we evaluated the flow and suggested a few points. Points that could potentially ease the process if implemented in our online application form - making it easier to go through digitally.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/montgomery/perspective-test.png" alt="PDF form initial study." ratio="16_9" margin="top" %}
</section>


<section class="grid u--pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
## Crafting a styleguide

Having a style guide is crucial when dealing with responsive web design. And since we are working with forms, having all the components laid out would help visualizing how well our design is doing to communicate our overall solution.

The design was made in house by ourselves.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/montgomery/styleguide.jpg" alt="Styleguide." ratio="16_9" margin="top" %}
</section>

<section class="grid u--pad-top">
	<div class="grid__row">
{% markdown %}
## Experiencing the flow

To build a nicely designed UI that fills a purpose is one of our favorite kind of projects. Animations should have a meaning. Design should solve a problem. Development should make it real. Everything is crafted with the intent to help you go through the application in the smoothest way possible.

{% endmarkdown %}
	</div>

	{% include casestudy-video-inline.html vimeoId="158332393" ratio="16_10" %}

</section>

<section class="grid u--pad-bottom">
	<div class="grid__row">
{% markdown %}
## Technologies

Montgomery Investment website is built with [Drupal](http://drupal.org), giving us a chance to dive in and learn more about this popular enterprise Content Management System. We also built some advanced functionality like performing communication with external systems and rendering a pre-filled PDF with the given information from the app.

An ambitious project where custom development embraced user experience and design very nicely.
{% endmarkdown %}

	</div>

	<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
		<a class="casestudy__technology-item" href="https://drupal.org/">
			 {% include svgs/technology-logos/logo_drupal.min.svg %}
			 <h3 class="casestudy__technology-title">Drupal</h3>
			 <p class="casestudy__technology-description">Content management.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://php.net/">
			 {% include svgs/technology-logos/logo_php.min.svg %}
			 <h3 class="casestudy__technology-title">PHP</h3>
			 <p class="casestudy__technology-description">Popular back-end scripting language.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://dev.mysql.org/">
			 {% include svgs/technology-logos/logo_mysql.min.svg %}
			 <h3 class="casestudy__technology-title">MySQL</h3>
			 <p class="casestudy__technology-description">SQL database management system.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://greensock.com/">
			 {% include svgs/technology-logos/logo_greensock.min.svg %}
			 <h3 class="casestudy__technology-title">GreenSock</h3>
			 <p class="casestudy__technology-description">Animation Library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://sass-lang.com/">
			 {% include svgs/technology-logos/logo_sass.min.svg %}
			 <h3 class="casestudy__technology-title">SASS</h3>
			 <p class="casestudy__technology-description">CSS pre-processing.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_backbone.min.svg %}
			 <h3 class="casestudy__technology-title">Backbone</h3>
			 <p class="casestudy__technology-description">Browser and device feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://jquery.com/">
			 {% include svgs/technology-logos/logo_jquery.min.svg %}
			 <h3  class="casestudy__technology-title">jQuery</h3>
			 <p class="casestudy__technology-description">DOM manipulation and more.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://gruntjs.com/">
			 {% include svgs/technology-logos/logo_grunt.min.svg %}
			 <h3 class="casestudy__technology-title">Grunt</h3>
			 <p class="casestudy__technology-description">Task Automation.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Simple JavaScript components.</p>
		</a>
		</div>
</section>

{% include casestudy-quote.html quote="14islands has shown an outstanding professionalism from start to finish. It has been a pleasure working with them." author-image-src="/images/work/montgomery/rm-large.jpg" author-name="Roger Montgomery" author-job-title="Chief Investment Officer at Montinvest.com" %}

<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## Looking to invest?

{% include casestudy-button.html site-url="http://montinvest.com/fund-form/" %}

Want to work with us? [Get in touch](/contact/)

{% endmarkdown %}
	</div>
</section>
