---
layout: casestudy
class: montgomery
permalink: /work/montgomery/
title: Montgomery Case Study - 14islands
name: Montgomery
headline: Investments made easy.
description: Investments made easy.
color: '#00abf6'
hoverColor: '#009adb'
logo: logo_montgomery.min.svg
image: /images/work/google-santa-tracker/santa-tracker-illustration.svg
priority: 4
private: false
og_image: /images/work/google-santa-tracker/santa-tracker-village-desktop.png
---


{% include casestudy-header.html about="Montgomery Investment Management is a boutique funds management firm based in Sydney, Australia. We got approached by Roger Montgomery to build and interactive application to facilitate the manual work required to perform an investment." %}


{% include casestudy-video.html vimeoId="118058075" ratio="16_10" class="pjax-animate" %}


<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Seriously simple

Investments and funds are serious business.

Making an investment doesn’t have to be complicated. What if the legal paperwork required for an investment can be generated and pre-filled by a easy-to-use online form application?

The challenge was set and we embraced the cause.
{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/montgomery/pdf-form-notebook.jpg" alt="PDF form initial study." ratio="3_2" margin="top" %}

</section>


<section class="grid u--pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
## Un-complexing the process

The process of applying for an investment involves going through over 20 pages of information divided into multiple sections.

With an open mind we took a fresh look in the process required to apply for an investment. We suggested a few points that could potentially facilitate the process if implemented in our online application form.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/montgomery/user-flow1.png" alt="New investment user flow example." ratio="16_9" margin="top" %}

</section>


<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Crafting a styleguide

Having a style guide is crucial when dealing with responsive web design. And since we are working with forms, having all the components laid out would facilitate visualizing how well our design is doing to communicate our overall solution.

The design was made in house by ourselves.

{% endmarkdown %}
	</div>

	SHOW OFF A LIVE STYLE GUIDE HERE

</section>

<section class="grid u--pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
## Experiencing the flow

To build a nicely designed UI that fills a purpose is one of our favorite kind of projects. Animations should have a meaning. Design should solve a problem. Development should make it real. Everything is crafted with the intent to help you go through the application.

The idea was to build a “wizard”-like form that guides you through steps until completion but that at the same time it would not get in your way. You should be able to go back and forth whenever and wherever you want.

{% endmarkdown %}
	</div>

	SHOW OFF SOME TRANSITIONS HERE?

</section>

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Technologies

The existing website was already built in Drupal, giving us a chance to dive in and learn more about this popular enterprise CMS. Some advanced functionality like performing a SOAP communication with external systems and rendering a PDF of the completed application were custom built.

An ambitious project where custom development embraced user experience and design very nicely.
{% endmarkdown %}
	</div>

	<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
		<a class="casestudy__technology-item" href="https://drupal.org/">
			 {% include svgs/technology-logos/logo_drupal.min.svg %}
			 <h3 class="casestudy__technology-title">Drupal</h3>
			 <p class="casestudy__technology-description">Content management.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://php.net/">
			 {% include svgs/technology-logos/logo_php.min.svg %}
			 <h3 class="casestudy__technology-title">PHP</h3>
			 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://dev.mysql.org/">
			 {% include svgs/technology-logos/logo_mysql.min.svg %}
			 <h3 class="casestudy__technology-title">MySQL</h3>
			 <p class="casestudy__technology-description">Database.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://greensock.com/">
			 {% include svgs/technology-logos/logo_greensock.min.svg %}
			 <h3 class="casestudy__technology-title">GreenSock</h3>
			 <p class="casestudy__technology-description">Animation Library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://sass-lang.com/">
			 {% include svgs/technology-logos/logo_sass.min.svg %}
			 <h3 class="casestudy__technology-title">SASS</h3>
			 <p class="casestudy__technology-description">CSS pre-processing.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_backbone.min.svg %}
			 <h3 class="casestudy__technology-title">Backbone</h3>
			 <p class="casestudy__technology-description">Browser and device feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://jquery.com/">
			 {% include svgs/technology-logos/logo_jquery.min.svg %}
			 <h3  class="casestudy__technology-title">jQuery</h3>
			 <p class="casestudy__technology-description">DOM manipulation and more.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://gruntjs.com/">
			 {% include svgs/technology-logos/logo_grunt.min.svg %}
			 <h3 class="casestudy__technology-title">Grunt</h3>
			 <p class="casestudy__technology-description">Task Automation.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Simple JavaScript components.</p>
		</a>
		</div>
</section>

{% include casestudy-quote.html quote="14islands were absolutely amazing in what they could do, despite challenging deadlines and working with brand new technologies. We are hugely impressed with their work and always appreciate the chance to collaborate with them." author-image-src="/images/work/google-santa-tracker/phil-ruppanner.jpg" author-name="Phil Ruppanner" author-job-title="Creative Director / Founder at UPPERQUAD" %}
