---
layout: casestudy
class: spg
permalink: /work/spg/
title: SPG Case Study - 14islands
name: Scandinavian Property Group
headline: New identity brought to life.
description: New identity brought to life.
color: '#22334B'
hoverColor: '#005AEE'
logo: logo_spg.min.svg
image: /images/work/spg/spg-illustration.svg
priority: 5
og_image: /images/work/spg/spg-screenshot-map_16_10.png
private: true
---


{% include casestudy-header.html about="Scandinavian Property Group (SPG) is a real estate company specialised in the Scandinavian market, with offices both in Oslo, Norway and Stockholm, Sweden. They wanted a fresh new website as part of a new company identity." %}

{% include casestudy-video.html vimeoId="148325154" ratio="16_9" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Enter the Experience

The idea with the website is to present SPG and their real estate portfolio in a clear and  inspiring way. Simple structure, interactive elements and smooth transitions between pages make the user experience seamless.

The website supports multiple languages and is currently available in Swedish ([spg.se](http://spg.se){:target="_blank"}) and Norwegian ([spg.no](http://spg.no){:target="_blank"}). It's made with WordPress so its fully editable by the people at SPG, and its built responsive to work well on mobile, tablets and desktop computers.
{% endmarkdown %}
	</div>
</section>

{% include casestudy-responsive.html url="/images/work/spg/spg-iphone6-full-page-shortened-8bit.png" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design

[BVD](http://bvd.se) designed the identity and website. BVD is an experienced design studio in Stockholm that focuses on simplicity and quality for their clients.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/spg/spg-screenshot-grid_16_10.jpg"  alt="Home page" margin="top" ratio="16_10" %}

</section>

<section class="grid u-bg-bright u--pad-both">

	<div class="grid__row">
{% markdown %}
## Injecting the spirit

In addition to crafting a fully responsive experience, the goal was to inspire as you scroll through the pages. We built simple animations and transitions to enhance the experience.
{% endmarkdown %}
	</div>

	<div class="grid__row--wide u--margin-both--half">
		{% include work/spg/spg-logo-animation.html %}
	</div>

	<div class="grid__row">
{% markdown %}
We built a custom designed map that allows you to zoom closer to each location. Each level of the map exposes different level of details.
{% endmarkdown %}
	</div>

	<div class="grid__row--wide u--margin-both--half">
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
		{% include work/spg/spg-map-animation.html %}
	</div>
</section>

<section class="grid u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies

The site was built in WordPress using the following technologies.

{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
	<a class="casestudy__technology-item" href="https://wordpress.org/">
		 {% include svgs/technology-logos/logo_wordpress.min.svg %}
		 <h3 class="casestudy__technology-title">Wordpress</h3>
		 <p class="casestudy__technology-description">Content management.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
		 {% include svgs/technology-logos/logo_acf.min.svg %}
		 <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
		 <p class="casestudy__technology-description">Multible content types for WordPress.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://www.mapbox.com/">
		 {% include svgs/technology-logos/logo_mapbox.min.svg %}
		 <h3 class="casestudy__technology-title">Mapbox</h3>
		 <p class="casestudy__technology-description">Custom designed map.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://miguel-perez.github.io/smoothState.js/">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">smoothState</h3>
		 <p class="casestudy__technology-description">Smooth page transitions.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://greensock.com/">
		 {% include svgs/technology-logos/logo_greensock.min.svg %}
		 <h3 class="casestudy__technology-title">GreenSock</h3>
		 <p class="casestudy__technology-description">Animation Library.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://responsive.io/">
		 {% include svgs/technology-logos/logo_responsive-io.min.svg %}
		 <h3 class="casestudy__technology-title">responsive.io</h3>
		 <p class="casestudy__technology-description">Responsive Images as a service.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://sass-lang.com/">
		 {% include svgs/technology-logos/logo_sass.min.svg %}
		 <h3 class="casestudy__technology-title">Sass</h3>
		 <p class="casestudy__technology-description">CSS pre-processing.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://babeljs.io/">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">Babel</h3>
		 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://modernizr.com/">
		 {% include svgs/technology-logos/logo_modernizr.min.svg %}
		 <h3 class="casestudy__technology-title">Modernizr</h3>
		 <p class="casestudy__technology-description">Browser and device feature detection.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://jquery.com/">
		 {% include svgs/technology-logos/logo_jquery.min.svg %}
		 <h3  class="casestudy__technology-title">jQuery</h3>
		 <p class="casestudy__technology-description">DOM manipulation and more.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://gruntjs.com/">
		 {% include svgs/technology-logos/logo_gulp.min.svg %}
		 <h3 class="casestudy__technology-title">Gulp</h3>
		 <p class="casestudy__technology-description">Task Automation.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">Component Loader</h3>
		 <p class="casestudy__technology-description">Simple JavaScript components.</p>
	</a>
	</div>
</section>


{% include casestudy-quote.html quote="At a design company like BVD, it's important that we partner with the right team. We are very happy to see how our design was implemented and put together with 14islands. Quality-focused developers who always come up with ways to get the most out of the design." author-image-src="/images/work/sthlm6000/ethel-ghirmai.jpg" author-name="Ethel Ghirmai" author-job-title="Digital Strategist at BVD" %}


<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## It's live

{% include casestudy-button.html site-url="http://spg.se" %}

Want to work with us? [Get in touch](/contact/)

{% endmarkdown %}
	</div>
</section>
