---
layout: casestudy
class: oyyo
permalink: /work/oyyo/
title: Oyyo Case Study - 14islands
name: Oyyo
headline: Pushing the limits of Shopify.
description: Pushing the limits of Shopify.
color: '#ef8c63'
hoverColor: '#e5bc8e'
logo: logo_oyyo.min.svg
image: /images/work/oyyo/oyyo-illustration.png
priority: 6
og_image: /images/work/spg/spg-screenshot-map_16_10.png
private: true
---


{% include casestudy-header.html about="Oyyo is a producer of  hand woven dhurries, uniquely made from 100% organic cotton and vivid vegetable dye. They wanted a new online store to match the quality of their N°2 collection." %}

{% include casestudy-video.html vimeoId="149380907" ratio="16_9" class="pjax-animate" %}

<section id="about" class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Shopping

We built them a fully responsive online store using the [Shopify](https://www.shopify.com) platform. The store features design and interactions to present their products in the nicest way possible.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/oyyo/oyyo_screenshot1_16_9.jpg"  alt="Product page" margin="top" ratio="16_9" %}
</section>

{% include casestudy-responsive.html url="/images/work/oyyo/oyyo-iphone6-full-page-shortened-8bit.png" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u--pad-both">
	<div class="grid__row">
{% markdown %}
## Design

The site was designed by our friends at [Studio Källbom](http://www.studiokallbom.se/), a talented design studio with an artistic touch.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/oyyo/StudioKallbom_16_9.jpg"  alt="Studio Kallbom" margin="top" ratio="16_9" %}

</section>

<section class="grid u-bg-bright u--pad-both">

	<div class="grid__row">
{% markdown %}
## The process

Oyyo produces their products with care, so the same had to apply for the website.  The team collaborated on Slack throughout the whole process.  We set the bar high and we really had to push the limits of Shopify to get the experience right.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/oyyo/oyyo_screenshot2_16_9.jpg"  alt="About page" margin="top" ratio="16_9" %}
</section>

<section class="grid u--pad-both">
	<div class="grid__row">

{% markdown %}
## Technologies

The site was built on top of Shopify using the following technologies.

{% endmarkdown %}
	</div>

<div class="grid__row--wide-content casestudy__technology-list u--pad-top--half">
	<a class="casestudy__technology-item" href="https://wordpress.org/">
		 {% include svgs/technology-logos/logo_wordpress.min.svg %}
		 <h3 class="casestudy__technology-title">Wordpress</h3>
		 <p class="casestudy__technology-description">Content management.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://www.advancedcustomfields.com/">
		 {% include svgs/technology-logos/logo_acf.min.svg %}
		 <h3 class="casestudy__technology-title">Advanced Custom Fields</h3>
		 <p class="casestudy__technology-description">Multible content types for WordPress.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://www.mapbox.com/">
		 {% include svgs/technology-logos/logo_mapbox.min.svg %}
		 <h3 class="casestudy__technology-title">Mapbox</h3>
		 <p class="casestudy__technology-description">Custom designed map.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://miguel-perez.github.io/smoothState.js/">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">smoothState</h3>
		 <p class="casestudy__technology-description">Smooth page transitions.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://greensock.com/">
		 {% include svgs/technology-logos/logo_greensock.min.svg %}
		 <h3 class="casestudy__technology-title">GreenSock</h3>
		 <p class="casestudy__technology-description">Animation Library.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://responsive.io/">
		 {% include svgs/technology-logos/logo_responsive-io.min.svg %}
		 <h3 class="casestudy__technology-title">responsive.io</h3>
		 <p class="casestudy__technology-description">Responsive Images as a service.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://sass-lang.com/">
		 {% include svgs/technology-logos/logo_sass.min.svg %}
		 <h3 class="casestudy__technology-title">Sass</h3>
		 <p class="casestudy__technology-description">CSS pre-processing.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://babeljs.io/">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">Babel</h3>
		 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://modernizr.com/">
		 {% include svgs/technology-logos/logo_modernizr.min.svg %}
		 <h3 class="casestudy__technology-title">Modernizr</h3>
		 <p class="casestudy__technology-description">Browser and device feature detection.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://jquery.com/">
		 {% include svgs/technology-logos/logo_jquery.min.svg %}
		 <h3  class="casestudy__technology-title">jQuery</h3>
		 <p class="casestudy__technology-description">DOM manipulation and more.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="http://gruntjs.com/">
		 {% include svgs/technology-logos/logo_gulp.min.svg %}
		 <h3 class="casestudy__technology-title">Gulp</h3>
		 <p class="casestudy__technology-description">Task Automation.</p>
	</a><!-- Remove spacing
	--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
		 {% include svgs/technology-logos/logo_github.min.svg %}
		 <h3 class="casestudy__technology-title">Component Loader</h3>
		 <p class="casestudy__technology-description">Simple JavaScript components.</p>
	</a>
	</div>
</section>


{% include casestudy-quote.html quote="14islands went high and above what we expected. Highly recommend them to build quality presentation for your product." author-image-src="/images/work/oyyo/lina_zedig.jpg" author-name="Lina Zedig" author-job-title="Co-Founder at Oyyo" %}


<section class="grid u--pad-both">
	<div class="grid__row">
		{% markdown %}

## Start shopping

{% include casestudy-button.html site-url="http://oyyo.se" %}

Want to work with us? [Get in touch](/contact/)

{% endmarkdown %}
	</div>
</section>
