---
layout: casestudy
class: plumewifi
permalink: /work/plume-wifi/
title: Plume Case Study - 14islands
name: Plume
headline: The world's first self-optimizing WiFi.
description: The world's first self-optimizing WiFi.
color: '#868686'
hoverColor: '#737373'
logo: logo_plumewifi.min.svg
priority: 1
private: true
image: /images/work/plumewifi/plume-illustration.min.svg
imageClass: box__content__img--max-350
og_image: /images/work/bedow/Bedow-landing-page.png
---


{% include casestudy-header.html about="Plume is a San Francisco startup on a mission to re-invent the home WiFi. We were brought in as a development studio to build their new website." %}

{% include casestudy-video.html vimeoId="178894185" ratio="16_9" class="pjax-animate" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Up to speed

Bedow is known for their [creative ideas](http://bedow.se/work) and they wanted to make sure the new website reflects that. The new design featured some aspects that we haven't seen before. Bold typography and animated icons made us feel excited right from the start.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/plumewifi/plume-howitworks.png" alt="New Plume Wifi page." ratio="16_10" margin="top" %}

</section>

{% include casestudy-responsive.html url="/images/work/plumewifi/plume-iphone6-full-page-shortened-8bit.png" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Design

The site features a customizable grid that lets them design their pages as they see fit. Lots of breathing room and flexibility to help them showcase their cases in a better way.

{% endmarkdown %}

	</div>

{% include wide-content-image.html src="/images/work/plumewifi/plume-design.jpg" alt="Plume Wifi Design." ratio="16_9" margin="top" %}

</section>

<section class="grid">
	<div class="grid__row">
{% markdown %}
## Digital Production

Thinking outside the box is something we always remind ourselves to practice. Their idea of not having a typical “hamburger icon” on the site gave us a smile. Branding based on typography instead of a logo? Exchanging words with icons? Bring it!
{% endmarkdown %}

	</div>

</section>

<section class="grid u-bg-bright u-margin-both-half u-pad-both-half">
	<div class="grid__row">
	  {% include work/bedow/iconography.html %}
	</div>
</section>

<section class="grid">
	<div class="grid__row u-margin-top-half">
		<p>The work page also features animations that are based on the user interaction. Another demonstration of clever navigation is the filtering that works by clicking on the different category links.</p>
	</div>

	{% include casestudy-video-inline.html pad="bottom" vimeoId="170774444" ratio="16_9" %}

</section>


<section class="grid u-pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
## Collaborating

The fact that we are [neighbors](https://14islands.com/contact/) made good face-to-face communication prominent. Quick catch-ups also allowed us taking some decisions ["in the browser"](https://speakerdeck.com/14islands/responsive-web-design-recap?slide=70) - making it an agile and open-minded process.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/bedow/14islands-Bedow-meeting-bw.jpg" alt="Live mobile testing with Bedow visiting 14islands HQ." margin="top" ratio="16_9" caption=true shapeClass="shape-overlay--bottom-right" shapeSVG="about-image-bottom-right.min.svg" %}

</section>

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Technologies

Responsive at it’s core, the site uses Wordpress with a custom content architecture and our own [theme boilerplate](https://github.com/14islands/fourteen).

{% endmarkdown %}

	</div>

	<div class="grid__row--wide-content casestudy__technology-list u-pad-top-half">
		<a class="casestudy__technology-item" href="https://www.npmjs.com/">
			 {% include svgs/technology-logos/logo_npm.min.svg %}
			 <h3 class="casestudy__technology-title">NPM</h3>
			 <p class="casestudy__technology-description">Package manager for JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://jade-lang.com/">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">Jade</h3>
			 <p class="casestudy__technology-description">Template Engine.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://miguel-perez.github.io/smoothState.js/">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">smoothState</h3>
			 <p class="casestudy__technology-description">Smooth page transitions.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://greensock.com/">
			 {% include svgs/technology-logos/logo_greensock.min.svg %}
			 <h3 class="casestudy__technology-title">GreenSock</h3>
			 <p class="casestudy__technology-description">Animation Library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://stylus-lang.com/">
			 {% include svgs/technology-logos/logo_stylus.min.svg %}
			 <h3 class="casestudy__technology-title">Stylus</h3>
			 <p class="casestudy__technology-description">CSS pre-processing.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://babeljs.io/">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">Babel</h3>
			 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Browser and device feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://jquery.com/">
			 {% include svgs/technology-logos/logo_jquery.min.svg %}
			 <h3  class="casestudy__technology-title">jQuery</h3>
			 <p class="casestudy__technology-description">DOM manipulation and more.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">Component Loader</h3>
			 <p class="casestudy__technology-description">Simple JavaScript components.</p>
		</a>
		</div>

</section>

{% include casestudy-quote.html quote="The collaboration with 14islands has been amazing." author-image-src="/images/work/plumewifi/plume-isak-nk.jpg" author-name="Daniel Isaksson" author-job-title="Technical Director at North Kingdom" %}

<section class="grid u-pad-both">
	<div class="grid__row">
		{% markdown %}

## Get Connected

The synergy in projects like this is an important factor for the outcome and we are super happy with the result. Thank you Bedow for the opportunity and for sharing your design perspective with us.

{% include casestudy-button.html site-url="http://plumewifi.com/" %}

Want to work with us? [Get in touch](/contact/)

{% endmarkdown %}
	</div>
</section>
