---
layout: casestudy
class: plumewifi
permalink: /work/plume-wifi/
title: Plume Case Study - 14islands
name: Plume
headline: Smart WiFi put in motion.
description: The world's first self-optimizing WiFi.
color: '#868686'
hoverColor: '#737373'
logo: logo_plumewifi.min.svg
priority: 1
private: true
image: /images/work/plumewifi/plume-illustration.min.svg
imageClass: box__content__img--max-350
og_image: /images/work/plumewifi/plume-open-graph.jpg
---


{% include casestudy-header.html about="Plume is a San Francisco startup on a mission to re-invent the home WiFi. We were brought in as a development studio to build their new website." %}

{% include casestudy-video.html vimeoId="179873392" ratio="16_9" class="pjax-animate" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Up to speed

Plume is a self-optimizing WiFi system for the home. It provides a simple and fast WiFi in every room of your home by plugging in nice looking pods.

The goal of the website is to show the product in delightful ways and allow people to purchase it. The site is mobile friendly and features many inspiring animations.

{% endmarkdown %}
	</div>

{% include wide-content-image.html src="/images/work/plumewifi/plume-home.min.jpg" alt="New Plume Wifi page." ratio="16_10" margin="top" %}

</section>

{% include casestudy-responsive.html url="/images/work/plumewifi/plume-iphone6-full-page-shortened-8bit.png" parallax=true parallaxOffset="-0.6" parallaxDirection="vertical" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Design

The project was a team effort. Concept and design was made by [Character](http://charactersf.com/){:target="_blank"}. Digital Production was in hands of [North Kingdom](http://www.northkingdom.com/){:target="_blank"}.

The designs were professional and got us inspired. A fun challange to craft out and bring into motion.
{% endmarkdown %}

	</div>

{% include wide-content-image.html src="/images/work/plumewifi/plume-design.jpg" alt="Plume Wifi Design." ratio="16_9" margin="top" %}

</section>


<section class="grid u-pad-both u-bg-bright casestudy__plume-waves-container">
	<div class="grid__row">
{% markdown %}
## Plug and play
A big part of this project was to figure out the best way to implement each animation. We started out with simple experiments to find the best feel and technical approach.
{% endmarkdown %}
	</div>
	<div class="grid__row--wide u-margin-top-half">
   	{% include work/plumewifi/plume-prototype.html %}
  </div>
 	<div class="grid__row u-margin-top-half">
{% markdown %}
Many animations, like the prototype above, were created as flat SVG/CSS animations which are great for performance. This particular animation was later implemented as a high fidelity 3D render to better fit the overal concept.
{% endmarkdown %}
	</div>
{% include casestudy-video-inline.html vimeoId="179321780" pad="top-half" ratio="16_9" %}
	<div class="grid__row u-margin-top-half">
{% markdown %}
## Making waves
We built over 15 animations to showcase what Plume can do for your home.
{% endmarkdown %}
	</div>
	<div class="grid__row u-margin-top-half">
{% include work/plumewifi/plume-band-together.html %}
  </div>
</section>

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Technologies

On top of working with cutting edge web standards in HTML, CSS and JavaScript; We used the following technologies.

{% endmarkdown %}

	</div>

	<div class="grid__row--wide-content casestudy__technology-list u-pad-top-half">
		<a class="casestudy__technology-item" href="https://www.npmjs.com/">
			 {% include svgs/technology-logos/logo_npm.min.svg %}
			 <h3 class="casestudy__technology-title">NPM</h3>
			 <p class="casestudy__technology-description">Package manager for JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/pugjs/pug">
			 {% include svgs/technology-logos/logo_pug.min.svg %}
			 <h3 class="casestudy__technology-title">Pug</h3>
			 <p class="casestudy__technology-description">Template Engine.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://stylus-lang.com/">
			 {% include svgs/technology-logos/logo_stylus.min.svg %}
			 <h3 class="casestudy__technology-title">Stylus</h3>
			 <p class="casestudy__technology-description">CSS pre-processing.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://jquery.com/">
			 {% include svgs/technology-logos/logo_jquery.min.svg %}
			 <h3  class="casestudy__technology-title">jQuery</h3>
			 <p class="casestudy__technology-description">DOM manipulation and more.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://greensock.com/">
			 {% include svgs/technology-logos/logo_greensock.min.svg %}
			 <h3 class="casestudy__technology-title">GreenSock</h3>
			 <p class="casestudy__technology-description">Animation Library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://babeljs.io/">
			 {% include svgs/technology-logos/logo_babel.min.svg %}
			 <h3 class="casestudy__technology-title">Babel (ES6)</h3>
			 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Browser and device feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/14islands/component-loader">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">Component Loader</h3>
			 <p class="casestudy__technology-description">Simple JavaScript components.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://miguel-perez.github.io/smoothState.js/">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">smoothState</h3>
			 <p class="casestudy__technology-description">Smooth page transitions.</p>
		</a>
		</div>

</section>

{% include casestudy-quote.html quote="14islands did an awesome job as development partners. They delivered high quality, attention to details and creative solutions to problems. I highly recommend to partner up with them." author-image-src="/images/work/plumewifi/plume-isak-nk.jpg" author-name="Daniel Isaksson" author-job-title="Technical Director at North Kingdom" %}

<section class="grid u-pad-both">
	<div class="grid__row">
		{% markdown %}

## Connect

Plume is a great product and deserves a website to live up to it.

{% include casestudy-button.html site-url="http://plumewifi.com/" %}

Want to work with us? [Get in touch](/contact/)

{% endmarkdown %}
	</div>
</section>
