---
layout: casestudy
class: vardagskampen
permalink: /work/vardagskampen/
title: Neuroförbundet Case Study - 14islands
name: Neuroförbundet
headline: Vardagskampen - Feel how it’s to live with Parkinson
description: Interland is an adventure-packed game that lets kids put fundamental lessons of digital safety into practice to help them 'Be Internet Awesome'.
color: '#FF9980'
hoverColor: '#FA8669'
logo: logo_google.svg
image: /images/work/google-interland/internaut.svg
imageClass: box__content__img--max-350
hasDarkTypography: false
priority: 0
private: false
og_image: /images/work/google-interland/interland.png
---


{% include casestudy-header.html about="Neuroförbundet is a charity organisation in Sweden that supports people with brain diseases. They wanted to create a game that raises awareness of the Parkinson disease. Our role on the project was development and digital design support in collaboration with our friends from bedow that were responsible for the overall concept and identity work." %}


<section class="grid u-pad-both" style="background-color: #FF9980;">
	<div class="grid__row">
{% markdown %}
## Everyday struggle

The idea was to give people the feeling of how it’s to live with Parkinson. Everyday tasks can become a struggle, such as switching a lightbulb or put a tooth paste on your brush. The game makes precision pretty difficult as vibrations come break the tasks the user needs to accomplish.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/vardagskampen/screen.jpg" alt="Interland - intro" ratio="16_10" margin="both" %}

	<div class="grid__row">
{% markdown %}
Our role on the project was development and digital design support in collaboration with our friends from bedow that were responsible for the overall concept and identity work.
{% endmarkdown %}
	</div>

</section>

<section class="grid u-pad-both u-bg-bright">

	{% include wide-content-image.html src="/images/work/vardagskampen/screen-2.jpg" alt="Interland - intro" ratio="16_10" margin="both" %}

	<div class="grid__row">
{% markdown %}
## Swish to support

At the end of the game, people can donate the result of the game to support this worthy cause. We made it seamless by integrating with Swish - the number one app in Sweden to transfer money.

{% endmarkdown %}
	</div>

	{% include wide-content-image.html src="/images/work/vardagskampen/swish.jpg" alt="Interland - intro" ratio="16_10" margin="both" %}

	<div class="grid__row">
{% markdown %}
## Creative Tech

Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus.
{% endmarkdown %}

	</div>

	<div class="grid__row casestudy__technology-list u-pad-top-half">
		<a class="casestudy__technology-item casestudy__technology-item--half casestudy__technology-top-divider" href="http://threejs.org/">
			 <h3 class="casestudy__technology-title">Three.js</h3>
			 <p class="casestudy__technology-description">Javascript 3D library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item casestudy__technology-item--half casestudy__technology-top-divider" href="https://www.khronos.org/webgl/">
			 <h3 class="casestudy__technology-title">WebGL</h3>
			 <p class="casestudy__technology-description">Low-level 3D graphics for the web</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item casestudy__technology-item--half casestudy__technology-top-divider casestudy__technology-bottom-divider" href="https://greensock.com/">
			 <h3 class="casestudy__technology-title">GreenSock</h3>
			 <p class="casestudy__technology-description">Animation Library.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item casestudy__technology-item--half casestudy__technology-top-divider casestudy__technology-bottom-divider" href="https://www.blender.org/">
			<h3 class="casestudy__technology-title">Blender</h3>
			<p class="casestudy__technology-description">3D creation suite.</p>
		</a>
	</div>

	{% include wide-content-image.html src="/images/work/vardagskampen/screen-3.jpg" alt="Interland - intro" ratio="4_3" margin="both" %}

	{% include casestudy-quote.html quote="Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit." author-image-src="/images/work/google-interland/JakobNylund.jpg" author-name="Jakob Nylund" author-job-title="Design Director and Partner at North Kingdom" %}

</section>
