---
layout: casestudy
class: jffd
permalink: /work/justfoodfordogs/
title: JustFoodForDogs Case Study - 14islands
name: JFFD
headline: The best food you can feed your dog
description: JustFoodForDogs Club is a subscription service to deliver fresh, homemade dog food and treats.
color: '#61D286'
hoverColor: '#4EB570'
logo: logo_jffd.svg
image: /images/work/justfoodfordogs/high-five-cover.png
imageClass: box__content__img--max-350
hasDarkTypography: false
priority: 0
private: false
og_image: /images/work/justfoodfordogs/high-five.png
---


{% include casestudy-header.html about="JustFoodForDogs makes healthy and hand crafted food for dogs in their premium kitchens based in California, USA. They asked us to design and develop a full-blown subscription service so their customers could easily get dog food delivered on a regular basis." %}

{% include casestudy-video.html vimeoId="266509925" ratio="16_9" class="pjax-animate" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## On a mission towards healthy dog lives.

Dogs bring tons of love and joy to their owners and we wanted to show that same personal feeling and playfulness in every step of the experience.

{% endmarkdown %}
	</div>

	<div class="grid__row grid__row--wide u-margin-both">
		{% include work/jffd/logo-animation.html %}
		<div class="jffd-animation-group">
			{% include work/jffd/step1-animation.html %}
			{% include work/jffd/step2-animation.html %}
			{% include work/jffd/step3-animation.html %}
		</div>
	</div>

	<div class="grid__row">
{% markdown %}

At the same time, we wanted to communicate transparency and expertise that play a big part in the quality of JustFoodForDog's products. We paired detailed pictures of the real food with animations and some dog love to show personality and bring the service to life.

{% endmarkdown %}
	</div>

{% include casestudy-video-inline.html vimeoId="266320790" ratio="16_9" %}

	<div class="grid__row">
{% markdown %}

## A personalised meal plan

Because every dog has different needs we created a personalised experience that recommends the best recipe to every customer depending on their dog’s profile.
We wanted that flow to be a delightful moment for the owners, where they answer simple questions and learn interesting facts on their pets and the recipes in return.

{% endmarkdown %}

	</div>

	<div class="jffd-phone-group u-pad-top">
		<img class="jffd-phone" src="/images/work/justfoodfordogs/phone_01.gif" alt="mobile signup" />
		<img class="jffd-phone" src="/images/work/justfoodfordogs/phone_02.gif" alt="mobile recipe loading" />
	</div>

</section>

<section class="grid u-pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
More than the recipe, the recommendation engine calculates quantities based on energetic needs, frequency of delivery and estimated delivery dates.

Through their account, the users can always overview and manage their upcoming deliveries, recipes, pets, profile and payments at any time after purchase.

{% endmarkdown %}
	</div>
	{% include casestudy-video-inline.html vimeoId="266321336" ratio="16_9" %}
</section>

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## Creative Tech

This project featured a true separation of concerns with the front-end communicating with a custom build API, built from scratch with the best back-end practices in mind.

We picked the most modern and suiting front-end & back-end stack we could think of - which also made building this project a lot of fun :)

{% endmarkdown %}

	</div>

	<div class="grid__row--wide-content casestudy__technology-list u-pad-top-half">
		<a class="casestudy__technology-item" href="https://www.npmjs.com/">
			 {% include svgs/technology-logos/logo_npm.min.svg %}
			 <h3 class="casestudy__technology-title">NPM</h3>
			 <p class="casestudy__technology-description">Package manager.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://postcss.org/">
			 {% include svgs/technology-logos/logo_postCSS.svg %}
			 <h3 class="casestudy__technology-title">PostCSS</h3>
			 <p class="casestudy__technology-description">CSS tool.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://nuxtjs.org/">
			 {% include svgs/technology-logos/logo_nuxtjs.svg %}
			 <h3 class="casestudy__technology-title">Nuxt.js</h3>
			 <p class="casestudy__technology-description">VueJS framework.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://vuejs.org/">
			{% include svgs/technology-logos/logo_vuejs.svg %}
			<h3 class="casestudy__technology-title">VueJS</h3>
			<p class="casestudy__technology-description">JavaScript framework.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/bodymovin/bodymovin">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">bodymovin</h3>
			 <p class="casestudy__technology-description">After Effects exporter.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://rubyonrails.org/">
			 {% include svgs/technology-logos/logo_ruby-on-rails.svg %}
			 <h3 class="casestudy__technology-title">Ruby on Rails</h3>
			 <p class="casestudy__technology-description">Application framework.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://babeljs.io/">
			 {% include svgs/technology-logos/logo_babel.min.svg %}
			 <h3 class="casestudy__technology-title">Babel</h3>
			 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Browser feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://heroku.com/">
			 {% include svgs/technology-logos/logo_heroku.svg %}
			 <h3  class="casestudy__technology-title">Heroku</h3>
			 <p class="casestudy__technology-description">Cloud platform.</p>
		</a>
		</div>

</section>

<div class="u-bg-bright">
	{% include casestudy-quote.html quote="14islands is the best outside partner I’ve ever worked with in my career. In just three months, they designed and developed a brand new subscription service. The site in fact leaps ahead of our competitors right out of the gate. I would wholeheartedly recommend 14islands for both design & development any day." author-image-src="/images/work/justfoodfordogs/tian.jpg" author-name="Tian Wang" author-job-title="Project Sponsor" %}

	<div class="js-component-lottie jffd-dog-animation" data-path="/jffd/faq.json">
		<img class="jffd-dog-animation-image" srcset="/images/work/justfoodfordogs/FAQ_dogx1.png, /images/work/justfoodfordogs/FAQ_dogx2.png 2x">
	</div>

</div>

<section class="grid u-pad-both">
	<div class="grid__row">
		{% markdown %}

## Love is a four legged word

Despite the fact we all want dogs now, we had a great time designing and developing this service together with a great client and are looking forward to a new healthy and happy dog community in the US 🐶.

{% endmarkdown %}

{% include casestudy-button.html text="Check it out" site-url="https://club.justfoodfordogs.com/" %}

	</div>
</section>
