---
layout: casestudy
class: jffd
permalink: /work/justfoodfordogs/
title: JustFoodForDogs Case Study - 14islands
name: JFFD
headline: Dog food made personal.
description: JustFoodForDogs Club is a subscription service to deliver fresh, homemade dog food and treats.
color: '#61D286'
hoverColor: '#4EB570'
logo: logo_jffd.svg
image: /images/work/justfoodfordogs/cover_640.png
hasDarkTypography: false
priority: 0
private: false
og_image: /images/work/justfoodfordogs/share.png
---


{% include casestudy-header.html about="JustFoodForDogs makes healthy dog food, hand-crafted in their boutique kitchens based in California, USA.  They asked us to design and develop a full-blown subscription service, so their customers can get fresh food delivered on a regular basis, tailored to each dog." %}

{% include casestudy-video.html vimeoId="266509925" ratio="16_9" class="pjax-animate" %}

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## On a mission: healthy dog lives

Dogs bring tons of love and joy to their owners. We wanted to express that feeling of personality and playfulness in every step of the experience.

{% endmarkdown %}
	</div>

	<div class="grid__row grid__row--wide u-margin-both">
		{% include work/jffd/logo-animation.html %}
		<div class="jffd-animation-group">
			{% include work/jffd/step1-animation.html %}
			{% include work/jffd/step2-animation.html %}
			{% include work/jffd/step3-animation.html %}
		</div>
	</div>

	<div class="grid__row">
{% markdown %}

Honesty about ingredients plays a big part in the JustFoodForDog product - we paired detailed pictures of the real food with animations and some dog love to show personality and bring the service to life.

{% endmarkdown %}
	</div>

{% include casestudy-video-inline.html vimeoId="266829505" ratio="16_9" %}

	<div class="grid__row">
{% markdown %}

## A personalised meal plan

Every dog has different needs, so we created a personalised experience that recommends the best recipe to every customer, based on their dog’s profile.

We wanted the process to be a fun moment for the owners.  One where they answer simple questions and learn interesting facts about their pets and the recipes in return.

{% endmarkdown %}

	</div>

	<div class="jffd-phone-group u-pad-top">
		<img class="jffd-phone" src="/images/work/justfoodfordogs/phone_01.gif" alt="mobile signup" />
		<img class="jffd-phone" src="/images/work/justfoodfordogs/phone_02.gif" alt="mobile recipe loading" />
	</div>

</section>

<section class="grid u-pad-both u-bg-bright">
	<div class="grid__row">
{% markdown %}
More than just suggesting a recipe, the recommendation engine calculates quantities based on energetic needs, frequency of delivery and estimated delivery dates.

Through their account, users can view and manage their upcoming deliveries, recipes, pet profiles and payments at any time after they’ve made their purchase.


{% endmarkdown %}
	</div>
	{% include casestudy-video-inline.html vimeoId="266829284" ratio="16_9" %}
</section>

<section class="grid u-pad-both">
	<div class="grid__row">
{% markdown %}
## The modern toolset

We had to build many parts to bring a full subscription service to life.  A lightning fast marketing site, an interactive signup flow and account pages to manage subscriptions.
We even built an admin tool for their back-office to provide great support to customers.

It was important for them to create a stable and scalable platform to grow on. All business logic is built as a re-usable API; handling everything from subscriptions and payments, to deliveries and sending customer emails.

The site is fully responsive and developed to work on all screen sizes and device capabilities.
{% endmarkdown %}

	</div>

	<div class="grid__row--wide-content casestudy__technology-list u-pad-top-half">
		<a class="casestudy__technology-item casestudy__technology-item--stripe" href="https://stripe.com/">
			 {% include svgs/technology-logos/logo_stripe.svg %}
			 <h3 class="casestudy__technology-title">Stripe</h3>
			 <p class="casestudy__technology-description">Payment proccessing.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item casestudy__technology-item--avalara" href="https://www.avalara.com/us/en/index.html">
			 {% include svgs/technology-logos/logo_avalara.svg %}
			 <h3 class="casestudy__technology-title">Avalara</h3>
			 <p class="casestudy__technology-description">Cloud based tax solution.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://www.shipstation.com/">
			 {% include svgs/technology-logos/logo_shipstation.svg %}
			 <h3 class="casestudy__technology-title">Shipstation</h3>
			 <p class="casestudy__technology-description">Shipping as a service.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://vuejs.org/">
			{% include svgs/technology-logos/logo_vuejs.svg %}
			<h3 class="casestudy__technology-title">VueJS</h3>
			<p class="casestudy__technology-description">JavaScript framework.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://github.com/bodymovin/bodymovin">
			 {% include svgs/technology-logos/logo_github.min.svg %}
			 <h3 class="casestudy__technology-title">bodymovin</h3>
			 <p class="casestudy__technology-description">After Effects exporter.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://rubyonrails.org/">
			 {% include svgs/technology-logos/logo_ruby-on-rails.svg %}
			 <h3 class="casestudy__technology-title">Ruby on Rails</h3>
			 <p class="casestudy__technology-description">Application framework.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="https://babeljs.io/">
			 {% include svgs/technology-logos/logo_babel.min.svg %}
			 <h3 class="casestudy__technology-title">Babel</h3>
			 <p class="casestudy__technology-description">Compiles future JavaScript.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://modernizr.com/">
			 {% include svgs/technology-logos/logo_modernizr.min.svg %}
			 <h3 class="casestudy__technology-title">Modernizr</h3>
			 <p class="casestudy__technology-description">Browser feature detection.</p>
		</a><!-- Remove spacing
		--><a class="casestudy__technology-item" href="http://heroku.com/">
			 {% include svgs/technology-logos/logo_heroku.svg %}
			 <h3  class="casestudy__technology-title">Heroku</h3>
			 <p class="casestudy__technology-description">Cloud platform.</p>
		</a>
		</div>

</section>

<div class="u-bg-bright">
	{% include casestudy-quote.html quote="14islands is the best outside partner I’ve ever worked with in my career. In just three months, they designed and developed a brand new subscription service. The site in fact leaps ahead of our competitors right out of the gate. I would wholeheartedly recommend 14islands for both design & development any day." author-image-src="/images/work/justfoodfordogs/tian.jpg" author-name="Tian Wang" author-job-title="Project Sponsor" %}

	<div class="js-component-lottie jffd-dog-animation" data-path="{{site.baseurl}}/jffd/faq.json">
		<img class="jffd-dog-animation-image" srcset="/images/work/justfoodfordogs/FAQ_dogx1.png, /images/work/justfoodfordogs/FAQ_dogx2.png 2x">
	</div>

</div>

<section class="grid u-pad-both">
	<div class="grid__row">
		{% markdown %}

## Love is a four legged word

Despite the fact that we all want dogs now, we had a great time designing and developing this service together with our client. We are now looking forward to a new healthy dog community in the US 🐶.

{% endmarkdown %}

	</div>
</section>
