<div class="js-component-circular-mask-animation elastica-circular-mask-animation vcentered"
     data-force-loop="true" data-scroll-repeat="true">
  <div class="elastica-circular-mask-animation__ratio">
    <img src="{{site.baseurl}}/images/work/elastica/circular-mask-animation-bg.svg" />
    <canvas width="450" height="500">
      <img class="js-canvas-mask" src="{{site.baseurl}}/images/work/elastica/circular-mask-animation-mask.png" width="450" height="500" />
    </canvas>
    <div class="elastica-circular-mask-animation__ratio__flash"></div>
  </div>
</div>
