---
layout: default
id: styleguide
title: Styleguide - 14islands
---
<section class="grid u--pad-both">
  <div class="grid__row">
  	<h1>Heading 1</h1>
  	<p>Lorem ipsum dolor sit amet, <a title="This is a test" href="#" target="_blank">this is how we style a link</a>. Nullam <em>emphasis</em> mi at faucibus laoreet. Sed <strong>strong</strong> sem quis ligula auctor posuere et non sem.</p>
  	<h2>Heading 2</h2>
  	<ul>
  		<li>List item 1</li>
  		<li>List item 2</li>
  	</ul>
  	<h3>Heading 3</h3>
  	<ol>
  		<li>List item 1</li>
  		<li>List item 2</li>
  	</ol>
  	<h4>Heading 4</h4>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis mi at faucibus laoreet.</p>
  	<blockquote><p>This is a quote. Donec feugiat purus pretium, rhoncus augue at, maximus mi.</p></blockquote>
  	<p>Nullam sed sem quis ligula auctor posuere et non sem. Donec vel leo a lacus posuere vestibulum.</p>
  </div>
</section>

<section class="grid u--pad-both">
  <h1>.grid</h1>
  <div class="grid__row" style="outline: 1px solid hotpink">
    <h2>.grid__row</h1>
  </div>
  <div class="grid__row--wide" style="outline: 1px solid hotpink">
    <h2>.grid__row--wide</h1>
    A container with .grid__row--wide will strech the full width of the wide grid
    <div class="grid__row--wide__content">
      <div style="outline: 1px solid hotpink">
        <h2>.grid__row--wide__content</h1>
        Children with text content needs to have the .grid__row--wide__content class to get padding.
      </div>
    </div>
  </div>

  <div class="grid__row--wide-content" style="outline: 1px solid hotpink">
    <h2>.grid__row--wide--content</h1>
    <div style="outline: 1px solid hotpink">
      Content inside a .grid__row--wide--content automatically gets the correct padding.
    </div>
  </div>

</section>

<section class="grid u-bg-bright u--pad-both">
  <div class="grid__row">
    <h1>u-bg-bright</h1>
    <h2>Content Image</h2>
  </div>

  {% include wide-content-image.html src="../images/about/we-care.jpg" alt="Hjörtur and Marco on a hangout at the 14islands office" ratio="3_2" margin="both" caption=true shapeClass="shape-overlay--bottom-right" shapeSVG="about-image-bottom-right.svg" %}
</section>

<section class="grid u-bg-natt-dark u--pad-both">
	<div class="grid__row">
		<h1>u-bg-natt-dark</h1>
	</div>
</section>

{% include footer.html %}
