---
layout: page
id: work
title: Our Work - 14islands
---

<section class="grid u--pad-both pjax-animate">
  <header class="header grid__row">
  <h1>We explore ideas<br> and build great stuff.</h1>
  </header>

  <div class="grid__row--wide u--pad-top--half">
  {% assign sorted_pages = (site.categories.work | sort: 'priority') %}
  {% for post in sorted_pages %}
    {% unless post.private and site.hide_private %}
    <a href="{{ site.baseurl }}{{ post.permalink }}" class="work--project-{{ post.class }}">
      <article class="box" {% if post.color %} style="background-color: {{ post.color }};" {% endif %}>
        {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
        {% if thecycle == 'even' %}
          <svg class="box__shape box__shape--odd" viewBox="-375 -27.5 1310 655" enable-background="new -375 -27.5 1310 655">
            <g fill="{{post.color}}">
              <polyline points="935,62.3 935,-27.5 -371.1,-7.8  "/>
              <rect x="-375" y="-8" width="1310" height="635.5"/>
            </g>
          </svg>
        {% else %}
          <svg class="box__shape box__shape--odd" viewBox="-375 -27.5 1310 655" enable-background="new -375 -27.5 1310 655">
            <g fill="{{post.color}}">
              <polyline points="-375,62.3 -375,-27.5 931.1,-7.8   "/>
              <rect x="-375" y="-8" width="1310" height="635.5"/>
            </g>
          </svg>
        {% endif %}

        <div class="grid__row--wide__content box__content u--default-v-padding">
          <div class="box__content__img {{ post.imageClass }}">
            {% if {{post.image}} contains '.svg' %}
              <img src="{{site.baseurl}}{{post.image}}"/>
            {% else %}
            {% capture fullsrc %} {{site.baseurl}}{{post.image}} {% endcapture %}
              {% include rio-image.html src=fullsrc alt=post.name %}
            {% endif %}
          </div>
          <div class="box__content__logo">
            {% include client-logos/{{post.logo}} %}
          </div>
          <h2 class="box__content__headline">{{ post.headline }}</h2>
          <span class="box__content__cta">Read Case Study</span>
        </div>
      </article>
    </a>
    {% endunless %}
  {% endfor %}
  </div>
</section>

<section class="grid u-bg-natt-dark u--pad-top u--pad-bottom--half">
  <div class="grid__row">
    <h1>We have the pleasure to work with great people.</h1>
  </div>
  <div class="grid__row--wide-content u--pad-top--half">
    <ul class="client-list">

      <li class="client-list__item">
        <a href="https://www.google.com" target="_blank" title="Google">
          {% include client-logos/logo_google.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="https://quizup.com" target="_blank" title="QuizUp">
          {% include client-logos/logo_quizup.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="https://tictail.com" target="_blank" title="Tictail">
          {% include client-logos/logo_tictail.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="https://elastica.net" target="_blank" title="Elastica">
          {% include client-logos/logo_elastica.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://ueno.co" target="_blank" title="UENO">
          {% include client-logos/logo_ueno.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="https://www.linasmatkasse.se" target="_blank" title="Linas Matkasse">
          {% include client-logos/logo_linas-matkasse.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://www.fjordnet.com" target="_blank" title="FJORD">
          {% include client-logos/logo_fjord.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://www.montinvest.com" target="_blank" title="Montgomery Investment Management">
          {% include client-logos/logo_montgomery.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://upperquad.com" target="_blank" title="UPPERQUAD">
          {% include client-logos/logo_upperquad.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://kambi.com" target="_blank" title="Kambi Sports Solutions">
          {% include client-logos/logo_kambi.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://bvd.se" target="_blank" title="BVD">
          {% include client-logos/logo_bvd.svg %}
        </a>
      </li>

      <li class="client-list__item">
        <a href="http://plan8.se" target="_blank" title="Plan8">
          {% include client-logos/logo_plan8.svg %}
        </a>
      </li>
    </ul>

  </div>
</section>

