---
layout: default
id: work
title: Our Work - 14islands
---

<header class="header">
	<h1 class="header__title">We explore ideas and
build great stuff.</h1>
</header>


{% for post in site.categories.work %}
  {% unless post.private and site.hide_private %}
  <a href="{{ post.permalink }}">
  	<article class="box" {% if post.color %} style="background-color: {{ post.color }};" {% endif %}>
  		{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
  		{% if thecycle == 'even' %}
  		<svg class="box__shape box__shape--even" viewBox="0 0 338.8 23.3" enable-background="new 0 0 338.8 23.3">
  			<polyline fill="{{post.color}}" points="0,23.3 0,0 338.8,5.1 "/>
  		</svg>
  		{% else %}
  		<svg class="box__shape box__shape--odd" viewBox="0 0 338.8 23.3" enable-background="new 0 0 338.8 23.3">
  			<polyline fill="{{post.color}}" points="0,23.3 0,0 338.8,5.1 "/>
  		</svg>
  		{% endif %}

  		<div class="box__content">
	  	 	<h2 class="box__content__headline">{{ post.heading }}</h2>
	     	<p class="box__content__subline">{{ post.description }}</p>
     	</div>
   	</article>
  </a>
  {% endunless %}
{% endfor %}


<h2>We’ve had the pleasure of working with great people.</h2>

<ul>
	<li>Montinvest</li>
	<li>Elastica</li>
	<li>UENO</li>
	<li>Tictail</li>
	<li>3Dissue</li>
	<li>Moodelizer</li>
	<li>FJORD</li>
	<li>Google</li>
	<li>Kambi Sports Solutions</li>
	<li>Fantasy Interactive</li>
	<li>Appear Networks</li>
	<li>Diktator Interactive</li>
	<li>Studio Kallbom</li>
	<li>Theodore</li> <!-- Maybe -->
</ul>
<!--
{% assign sorted_clients = (site.categories.clients | sort: 'date') %}
{% for client in sorted_clients reversed %}
  <div>{{ client.title }}</div>
{% endfor %}
-->

