---
layout: page
id: about
title: About Us - 14islands
og_image: /images/about/we-are-14islands-2.jpg
---

<section id="we-are" class="grid u-pad-both">
  <header class="grid__row pjax-animate">
	 <h1>We are<br>14islands.</h1>
	 <p>A creative design & development studio that cares deeply about building great user experiences. We help businesses craft sites, apps and playful games on the web.</p>
  </header>

  {% include wide-content-image.html src="/images/about/new/we-are.jpg" alt="The 14islands HQ" ratio="3_2" margin="top" class="pjax-animate" %}

</section>

<section id="we-care" class="grid u-bg-bright u-pad-both">
  <div class="grid__row">
    <h1>We care<br>about the web.</h1>
    <p>We believe that great user experiences are what sets companies apart in the digital age; Good design and performance, natural and playful interactions, enjoyable on all devices and screen sizes. This is the work we do.</p>
  </div>

  {% include wide-content-image.html src="/images/about/new/we-care-2.jpg" alt="Hjörtur and Natalia getting some work done" ratio="3_2" margin="top" caption=true shapeClass="shape-overlay--bottom-right" shapeSVG="about-image-bottom-right.min.svg" %}

</section>

<section id="we-love" class="grid u-pad-both">
  <div class="grid__row">
  	<h1>We love<br>what we do.</h1>

  	<p>There’s always something cooking in the 14islands kitchen. We are constantly experimenting with emerging technologies, and never miss an opportunity to give talks or workshops on development. </p>
  </div>

  {% include wide-content-image.html src="/images/about/new/we-love-2.jpg" alt="The 14islands team Hanging out in the office." ratio="3_2" margin="both" caption=true shapeClass="shape-overlay--top-left" shapeSVG="about-image-top-left.min.svg" %}

  <div class="grid__row">
	 <p>The <a href="https://14islands.com/blog/">14islands blog</a> is our main channel for sharing our latest findings and clever techniques. We update our <a href="http://codepen.io/14islands/" target="_blank">Codepen</a> frequently with inspiring animations or small snippets of code.</p>
   <!-- If we think something will benefit the community, we put it on our <a href="https://github.com/14islands" target="_blank">Github page</a>. -->
  </div>

</section>

<section id="meet-us" class="u-bg-natt-dark u-pad-top">
  <div class="grid">
    <div class="grid__row">
      <h1>Meet the<br>islanders.</h1>
      <p>We are proud of our multicultural background and our differences only make us stronger as a team. We like to keep it playful and belive in having fun.</p>
    </div>
  </div>

  <div class="u-bg-natt-dark">

    <script>
      var FOURTEEN = FOURTEEN || {};
      FOURTEEN.modelTeam = {
        1: [
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-chicken-grill.jpg",
            "alt": "Chicken grilling"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-country-house.jpg",
            "alt": "Country House"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-David-Marco.jpg",
            "alt": "David and Marco cracking"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-Marco-thinking.jpg",
            "alt": "Marco solving a serious problem"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-plant.jpg",
            "alt": "Bonzai"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-fire-truck.jpg",
            "alt": "A cool fire truck."
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-office-fixing.jpg",
            "alt": "Fixing stuff in the office"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-plants.jpg",
            "alt": "New plants."
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-yasuragi-serious-guys.jpg",
            "alt": "Looking serious."
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-bike.jpg",
            "alt": "Biking is good"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-Hjortur-presentation.jpg",
            "alt": "Hjörtur presenting"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-office-serious-Marco.jpg",
            "alt": "Office view from the main room"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-midnatsloppet.jpg",
            "alt": "Midnatsloppet 2014"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-poster-bullshit.jpg",
            "alt": "BS free zone poster"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-drawing.jpg",
            "alt": "Drawing on the glass"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-office-building-snow.jpg",
            "alt": "HQ on snow"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-David-VR.jpg",
            "alt": "Davud playing with VR"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-Marco-presenting.jpg",
            "alt": "Marco presenting"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/single-David-VR-bananas.jpg",
            "alt": "David going bananas"
          }
        ],
        2: [
					{
						"src": "{{site.baseurl}}/images/about/team-grid/double-France.jpg",
						"alt": "France"
					},
          {
            "src": "{{site.baseurl}}/images/about/team-grid/double-bench.jpg",
            "alt": ""
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/double-Iceland.jpg",
            "alt": "Iceland"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/double-Brasil.jpg",
            "alt": "Brasil"
          },
          {
            "src": "{{site.baseurl}}/images/about/team-grid/double-Wolin.jpg",
            "alt": "Poland"
          }
        ]
      };
    </script>

    <div class="team-grid js-component-grid" data-gap="0" data-map-model="modelTeam" data-map-pattern="ABOUT_GRID_PATTERN_BLOCKS" data-map-sizes="ABOUT_GRID_CELL_SIZES_BLOCKS" data-is-repeatable="1">
			<figure class="team-grid__item team-grid__item--employee">
        {% include image.html class="team-grid__image" src="/images/about/team-grid/new/double-Aline.jpg" alt="Aline Kesting" %}
        <figcaption class="team-grid__caption js-component-element-scroll-visibility">
          <div class="team-grid__caption__inner">
						<h2 class="team-grid__title">Aline <br />Kesting</h2>
            <ul class="team-grid__text-points">
              <li class="team-grid__text-points__item">Visual Designer.</li>
              <li class="team-grid__text-points__item">Yoga guru.</li>
              <li class="team-grid__text-points__item">German/French.</li>
            </ul>
          </div>
        </figcaption>
      </figure>
			<figure class="team-grid__item team-grid__item--employee">
        {% include image.html class="team-grid__image" src="/images/about/team-grid/new/double-David.jpg" alt="David Lindkvist" %}
        <figcaption class="team-grid__caption js-component-element-scroll-visibility">
          <div class="team-grid__caption__inner">
            <h2 class="team-grid__title">David <br />Lindkvist</h2>
            <ul class="team-grid__text-points">
              <li class="team-grid__text-points__item">Creative Developer.</li>
              <li class="team-grid__text-points__item">Serious drummer.</li>
              <li class="team-grid__text-points__item">Swedish.</li>
            </ul>
          </div>
        </figcaption>
      </figure>
      <figure class="team-grid__item team-grid__item--employee">
        {% include image.html class="team-grid__image" src="/images/about/team-grid/new/double-Hjortur.jpg" alt="Hjörtur Hilmarsson" %}
        <figcaption class="team-grid__caption js-component-element-scroll-visibility">
          <div class="team-grid__caption__inner">
            <h2 class="team-grid__title">Hjörtur <br />Hilmarsson</h2>
            <ul class="team-grid__text-points">
              <li class="team-grid__text-points__item">Creative Developer.</li>
              <li class="team-grid__text-points__item">Super dad.</li>
              <li class="team-grid__text-points__item">Icelandic.</li>
            </ul>
          </div>
        </figcaption>
      </figure>
      <figure class="team-grid__item team-grid__item--employee">
        {% include image.html class="team-grid__image" src="/images/about/team-grid/new/double-Marco.jpg" alt="Marco Barbosa" %}
        <figcaption class="team-grid__caption js-component-element-scroll-visibility">
          <div class="team-grid__caption__inner">
            <h2 class="team-grid__title">Marco <br />Barbosa</h2>
            <ul class="team-grid__text-points">
              <li class="team-grid__text-points__item">Creative Developer.</li>
              <li class="team-grid__text-points__item">Likes to barbecue.</li>
              <li class="team-grid__text-points__item">Brazilian.</li>
            </ul>
          </div>
        </figcaption>
      </figure>
  </div>
</section>
