/**
 * Classes to paint a background-color of an element
 */

.u-bg-bright {
 	background-color: $bright;
}

.u-bg-natt-dark {
 	background-color: $natt-dark;
}

.u-bg-brand {
	background-color: $green; // switch dynamically later somehow
}
.u-bg-brand--dark {
	background-color: $green-dark; // switch dynamically later somehow
}
