.post-row {
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid #efefef;
	@include if-wider-than($breakpoint-three-px) {
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}
}


.post-row__header {
	@include if-wider-than($breakpoint-two-px) {
		position: relative;
	}
}

.post-row__date {
	font-weight: 400;
	text-transform: uppercase;
	color: #888;

	@include if-wider-than($breakpoint-two-px) {
		position: absolute;
		top: 10px;
		left: 0;
	}
}

.post-row__title {
	margin-top: 0;
	margin-bottom: 0;


}

.post-row__info {
	@include if-wider-than($breakpoint-two-px) {
		margin-left: 25%;
	}
}