.post {
	figure {
		//add a slight negative margin when paragraph max width is reached
		$marignRatio: strip-units(1 + (0.01 * $default-content-spacing*2));
	 	@include if-wider-than($grid-max-width-px * $marignRatio) {
			margin-left: - 2rem;
			margin-right: - 2rem;
			max-width: $grid-paragraph-max-width + 4rem;
		}
	}
}


.post__date {
  display: inline-block;
  font-size: 0.9rem;
  color: $gray;

  + h1 {
  	margin-top: 0.5rem;
  }
}


.post-row {
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid #efefef;
	@include if-wider-than($breakpoint-three-px) {
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}
}


.post-row__header {
	@include if-wider-than($breakpoint-two-px) {
		position: relative;
	}
}

.post-row__date {
	font-size: 0.8rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;

	@include if-wider-than($breakpoint-two-px) {
		position: absolute;
		top: 10px;
		left: 0;
	}
}

.post-row__title {
	margin-top: 0;
	margin-bottom: 0;
}

.post-row__info {
	@include if-wider-than($breakpoint-two-px) {
		margin-left: 30%;
	}
}


/////////////////////////////////////////
// POST QUOTE
/////////////////////////////////////////

.post__quote-text {
  font-size: modular-scale(1rem, 2);
  margin: 0 0 0.5rem;
  @media (min-width: $breakpoint-two-px) {
	  font-size: modular-scale(1rem, 2);
	}
	@media (min-width: $breakpoint-three-px) {
	  font-size: modular-scale(1rem, 3);
	}
}

.post__quote-text--small {
  font-size: modular-scale(0.7rem, 2);
  margin: 0 0 0.5rem;
  @media (min-width: $breakpoint-two-px) {
	  font-size: modular-scale(0.7rem, 2);
	}
	@media (min-width: $breakpoint-three-px) {
	  font-size: modular-scale(0.7rem, 3);
	}
}

.post__quote-author {
	font-size: modular-scale(1rem, 1);
	background-position: 0 100% !important;
	margin: 0 0 1rem;
  @media (min-width: $breakpoint-two-px) {
	  font-size: modular-scale(1rem, 1);
	}
	@media (min-width: $breakpoint-three-px) {
	  font-size: modular-scale(1rem, 1);
	}
}

/////////////////////////////////////////
// POST AUTHOR
/////////////////////////////////////////
.post__author {
	@include clearfix;
}

.post__author-image {
	float: left;
	width: 84px;
	height: 84px;
	border-radius: 500px;
}

.post__author-name,
.post__author-job-title {
	display: block;
	position: relative;
	padding-left: 100px;
}

.post__author-name {
	padding-top: 20px;
}


/////////////////////////////////////////
// NEXT UP
/////////////////////////////////////////
.related-posts__label {
  margin-top: 0;
	font-size: 1rem;
}
.related-posts__title {
  margin-top: 0;
}


/////////////////////////////////////////
// COMMENTS
/////////////////////////////////////////
.post-comments {

}
.post-comments__cta {
	color: $offblack;
	padding: 1em;
	text-align: center;
}

/////////////////////////////////////////
// VIDEO WRAPPER
/////////////////////////////////////////

.post-video-wrapper {
	cursor: pointer !important;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer !important;
	}
}
