.box {
	background-color: #666; // default color, gets overriden with inline style
	color: #fff;
	position: relative;
	margin-bottom: 3rem;

	&:after{
		content: "";
		display: block;
		padding-top: 50%; // ratio
	}
}

.svg .box {
  background-color: transparent !important;
}

.box__content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 6%;

}

.box__headline {
  width: 50%;
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: modular-scale(1rem, 2);

  @include if-wider-than(880px) {
    font-size: modular-scale(1rem, 4);
    max-width: 450px;
  }

}

.box__subline {
	@include if-wider-than(880px) {
    //font-size: modular-scale(1.2rem, 1);
  }
}

.box__graphic  {
  position: absolute;
  top: 3%; //position under angle on box
  bottom: 0;
  right: 0;
  left: 40%;
  text-align: center;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
  }

}

.box__shape {
	fill: #666;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.box__shape--odd {
}

.box__shape--even {
	transform: scaleX(-1);
}
