.box {
	background-color: #666; // default color, gets overriden with inline style
	color: #fff;
	position: relative;
	margin-bottom: 3rem;

  @include if-wider-than($breakpoint-two) {
    margin-left: -5%;
    margin-right: -5%;
  }

	&:after{
		content: "";
		display: block;
		padding-top: 50%; // ratio
	}
}

.box__content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5%;
}

.box__shape {
	fill: #666;
	position: absolute;
	top: -3%;
	left: 0;
	width: 100%;
}

.box__shape--odd {
}

.box__shape--even {
	transform: scaleX(-1);
}
