
a.casestudy__header-label {
	display: inline-block;
	font-size: modular-scale(1rem, 1);
	color: $gray;
}

.casestudy__header-logo {
	display: inline-block;
	height: 3.14rem;
	margin-left: .3em;

	svg {
		display: block;
		height: 100%;
		width: auto;

		* {
			fill: $gray;
		}
	}

	.google-interland &,
	.google-santa-tracker &,
	.plumewifi & {
		margin-bottom: -0.99rem;
	}
	.tictail &,
	.sthlm6000 & {
		margin-bottom: -0.73rem;
	}
	.elastica & {
		margin-bottom: -1.15rem;
	}
	.spg &,
	.oyyo & {
		margin-bottom: -0.43rem
	}

	.montgomery & {
    height: 3.7rem;
    margin-bottom: -1.2rem;
  }

  .bedow & {
	  height: 1.8em;
	  margin-bottom: -0.35em;
  }

}

.work--project-stokke {
	.box__content__logo {
		width: 6%;
	}
}

.casestudy__video-wrapper {
	cursor: pointer !important;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer !important;
	}
}

.casestudy__image__caption {
	margin-top: 1rem;
	font-style: italic;
	@include if-wider-than($breakpoint-one-px) {
		font-size: modular-scale(1rem, 1);
	}
}

.casestudy__responsive-wrapper {
	display: block;
	position: relative;
	max-width: 394px;
	margin: 0 auto;
	width: 70%;

	path:nth-child(2) {
		fill: #abaeb1;
	}
}

.casestudy__responsive-screen {
	position: absolute;
	width: 90%;
	top: 9%;
	left: 5%;
	bottom: 12%;
	background-color: $bright;
	overflow: hidden;

	noscript {
		position: absolute;
		top: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	&.casestudy__responsive-screen--horizontal-scroll {
		img {
			height: 100%;
			width: auto;
		}
	}
}

.casestudy__technology-list {
	text-align: left;
}

.casestudy__technology-item {
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-bottom: 1.3rem;
	svg {
		width: 70px;
		max-height: 50px;
		float: left;
		margin-top: 0.2rem;

		.no-touch & {
			filter: grayscale(100%);
		}

		opacity: .7;
		transition: all 300ms $easeOutQuad;
	}
	&:hover svg {
		.no-touch & {
			filter: grayscale(0%);
		}
		opacity: 1;
	}
	@include if-wider-than($breakpoint-two-px) {
		width: (100%/2);
		margin-bottom: 2rem;
	}
	@include if-wider-than(1200px) {
		width: (100%/3);
	}
}

%casestudy__technology-text {
		margin-left: 70px;
		color: $default-font-color;
}

.casestudy__technology-title {
	@extend %casestudy__technology-text;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.6rem;
	.casestudy__technology-item:hover & {
		color: black;
	}
}

.casestudy__technology-description {
	@extend %casestudy__technology-text;
	font-size: 1rem;
}

.casestudy__quote {
	margin: 0;
	@include clearfix;
}

.casestudy__author {
	float: right;
}

.casestudy__author-image {
	float: left;
	width: 84px;
	height: 84px;
	border-radius: 500px;
}

.casestudy__author-name,
.casestudy__author-job-title {
	display: block;
	position: relative;
	padding-left: 100px;
}

.casestudy__author-name {
	padding-top: 20px;
}




// NEXT CASE STUDY FOOTER
#next-casestudy {
	overflow: hidden;
	margin-top: -$default-section-spacing--half;
}
.next-casestudy__link {
	margin-top: $default-section-spacing; // needed to show sloped shape above bg
	display: block;
	position: relative;
}
.next-casestudy__link__shape {
	fill: #666;
	position: absolute;
	top: -$default-section-spacing;
	left: 0;
	right: 0;

	height: 0;
	padding-bottom: 571/1142 * 100%; // need svg ratio for IE10

	svg {
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.next-casestudy__link__shape--hover {
	display: none;
}
a.next-casestudy__link,
a.next-casestudy__link:hover,
a.next-casestudy__link:active {
	color: #fff;
}
.next-casestudy__subline {
	margin-bottom: 1em;
	font-size: 1rem;
	.next-casestudy__link--dark & {
		color: #333;
	}
}
.next-casestudy__headline {
	margin-top: 0;
	width: 100%;
	max-width: initial;
	.next-casestudy__link--dark & {
		color: #333;
	}
}
