
.client-list {
  list-style: none;
  display: inline-block;
  margin-left: 0;
}

.client-list__item {
  display: inline-block;
  padding: 0 $default-section-spacing $default-section-spacing 0;

  // DAVID: We could use CSS3 columns instead since we dont want to support old browsers
  width: 49%;
  @include if-wider-than($breakpoint-one-px) {
    width: 32%;
  }
  @include if-wider-than($breakpoint-two-px) {
    width: 24.5%;
  }

  a {
    display: block;
  }

  svg {
    display: block;
    width: 100%;
    //height: auto;

    * {
      fill: #fff;
    }
  }
}
