.client-list-container {
	@include if-narrower-than($breakpoint-three-px) {
    padding-left: 0;
    padding-right: 0;
    @include if-wider-than($breakpoint-one-px) {
			width: 100% - $default-content-spacing * 2;
    	margin: auto;
    }
  }
}
.client-list {
  list-style: none;
  display: inline-block;
  margin-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-list__item {
  display: inline-block;
  padding-bottom: $default-content-spacing;

  // 2 cols
  // width: 40%;

  // // three cols
  // @include if-wider-than($breakpoint-one-px) {
  //   width: 27%;
  // }

  // 4 cols
  // @include if-wider-than($breakpoint-two-px) {
    width: 20.1%;
  // }

  a {
    display: block;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;

    * {
      fill: #fff;
    }
  }
}
