.client-list {
  margin-top: 5%;
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-left: 0;
}
.client-list__item {
  display: inline-block;
  padding: 1em 2.5em 1em 0;

  a {
    display: block;
  }

  svg {
    display: block;
    height: 60px;
    width: auto;
    max-width: 200px;

    // height: auto;
    // width: 100px;

    * {
      fill: #fff;
    }
  }
}
