
.footer {
	@include clearfix;
}

.footer__logo {
    display: block;
    padding-bottom: 3rem;
    svg {
    	display: inline-block;
    	width: 130px;
    }
    @include if-wider-than($breakpoint-two-px) {
      float: left;
      width: 25%;
      padding-bottom: 0;
      svg {
          width: 110px;
    	}
    }
    @include if-wider-than($breakpoint-three-px) {
        display: none;
    }
}

.footer__logo--wide-grid {
  position: absolute;
  display: none;
  @include if-wider-than($breakpoint-three-px) {
    display: block;
    float: none;
    width: auto;
  }
}

.footer__info {
    position: relative;
    @include if-wider-than($breakpoint-two-px) {
        float: left;
        width: 55%;
        p {
            margin-bottom: 1.4rem;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    @include if-wider-than($breakpoint-three-px) {
        width: 70%;
    }
}

.footer__logo-title {
    //display: none;
    @include if-wider-than($breakpoint-two-px) {
        display: block;
    }
}

.footer__social-nav {
    display: inline-block;
    @include if-wider-than($breakpoint-two-px) {
        float: right;
    }
}

.footer__social {
	clear: both;
	margin-top: 4%;
	a {
		display: block;
		padding: .2rem 0;
	}
	@include if-wider-than($breakpoint-two-px) {
        clear: none;
        float: left;
        width: 20%;
        padding-left: 5%;
        margin-top: 0;
        a {
    		padding: 0;
    	}
    }
    @include if-wider-than($breakpoint-three-px) {
        width: 30%;
    }
}
