
.footer {
	background-color: #f6ece7; //$vulcanoBright;
}

.footer__content {
	@include clearfix;
}

.footer__logo {
    display: block;
		padding-top: 3rem;
    svg {
    	display: inline-block;
    	width: 130px;
			isolation: isolate;
			path {
				mix-blend-mode: multiply;
			}
    }
    @include if-wider-than(400px) {
			text-align: center;
			padding-top: 4rem;
      svg {
          width: 200px;
    	}
    }
}

.footer__logo--wide-grid {
  position: absolute;
  display: none;
  @include if-wider-than($breakpoint-three-px) {
    display: block;
    float: none;
    width: auto;
  }
}

.footer__info {
    position: relative;
    @include if-wider-than($breakpoint-two-px) {
        float: left;
        width: 70%;
        p {
						max-width: 30rem;
            margin-bottom: 1.4rem;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    @include if-wider-than($breakpoint-three-px) {
        width: 70%;
    }
}

.footer__logo-title {
    //display: none;
    @include if-wider-than($breakpoint-two-px) {
        display: block;
    }
}

.footer__social-nav {
    display: inline-block;
		list-style: none;
		margin: 0;
    @include if-wider-than($breakpoint-two-px) {
        float: right;
    }
}

.footer__social {
	clear: both;
	margin-top: 4%;
	li {
		display: block;
		margin-right: 0.5rem;
		margin-bottom: 0.2rem;
	}
	a {
		display: inline-block;
		padding: .2rem;
	}
	@include if-wider-than($breakpoint-two-px) {
      clear: none;
      float: left;
      width: 30%;
      // padding-left: 5%;
			margin: 0;
			li {
				margin-right: 0;
				margin-bottom: 0;
			}
      a {
    		padding: 0;
    	}
    }
    @include if-wider-than($breakpoint-three-px) {
        width: 30%;
    }
}
