//
// Hero component
//
// Markup example:
//
// <section class="hero">
//     <header class="hero__item hero__logo">
//         14islands
//     </header>
//     <h1 class="hero__item hero__caption">
//         Crafting digital experiences with cutting edge technologies
//     </h1>
//     <nav class="hero__item hero__nav nav">
//         <ul class="nav__list">
//             <li class="nav__item">Logo</li>
//             <li class="nav__item"><a href="/">Our Work</a></li>
//             <li class="nav__item"><a href="/projects">About Us</a></li>
//             <li class="nav__item"><a href="/blog">Blog</a></li>
//             <li class="nav__item"><a href="/blog">Contact</a></li>
//         </ul>
//     </nav>
// </section>
//

body {
  transition: opacity .3s $easeOutQuad;
}
.hideOnLoad body {
  opacity: 0;
}

.hero {
	background-color: $green;
	color: #fff;
	display: flex;
	height: 100%;
	min-height: 580px;
	flex-direction: column;
	flex-wrap: nowrap;
}

.hero--hidden {
  height: auto;
  min-height: initial;
  .hero__caption,
  .hero__logo {
    display: none;
  }
}

.hero__item {
	padding-left: 5%;
	padding-right: 5%;
	@include if-wider-than ($breakpoint-one) {
		padding-left: 10%;
		padding-right: 10%;
	}
}

.hero__logo {
	height: pxToRem(50);
	line-height: pxToRem(50);
}

.hero__caption {
	font-weight: 600;
	max-width: 800px;
	margin-top: auto;
	margin-bottom: auto;
	@include if-wider-than($breakpoint-two) {
		@include type-scale($giga, $font-base, '#{$type-scale-unit-value}', $measure);
		margin-top: auto;
		margin-bottom: auto;
	}
}

.hero__nav {
	background-color: #fff;
	height: pxToRem(80);
	line-height: pxToRem(80);
}

.page:not(.page-home) {
	.hero__nav {
		border-bottom: 1px solid #f5f5f5;
	}
}