//
// Hero component
//
// Markup example:
//
// <section class="hero">
//     <header class="hero__item hero__logo">
//         14islands
//     </header>
//     <h1 class="hero__item hero__caption">
//         Crafting digital experiences with cutting edge technologies
//     </h1>
//     <nav class="hero__item hero__nav nav">
//         <ul class="nav__list">
//             <li class="nav__item">Logo</li>
//             <li class="nav__item"><a href="/">Our Work</a></li>
//             <li class="nav__item"><a href="/projects">About Us</a></li>
//             <li class="nav__item"><a href="/blog">Blog</a></li>
//             <li class="nav__item"><a href="/blog">Contact</a></li>
//         </ul>
//     </nav>
// </section>
//


// @keyframes rainbow {
//   0% {
//   	background-position: 0% 82%;
//   }
//   50% {
//   	background-position: 100% 19%;
//   }
//   100% {
//   	background-position: 0% 82%;
//   }
// }


.hero {
	background-color: $green;
	// background-image: linear-gradient(45deg, $vinter, $vinter-dark, $var, $var-dark, $sommar, $sommar-dark, $host, $host-dark);
	// background-size: 1800% 1800%;
	// animation-name: rainbow;
	// animation-duration: 50s;
	// animation-timing-function: $easeInOutQuad;
	// animation-iteration-count: infinite;
	color: #fff;
	display: flex;
	height: 100%;
	min-height: 450px;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	overflow: hidden;

  position: absolute;
  top: 0;

  will-change: transform;
}

.hero--hidden {
  height: auto;
  min-height: initial;
  .hero__caption,
  .hero__logo {
    display: none;
  }
}

.hero__logo {
  margin-top: 2rem;

  //opacity: 0;
  will-change: opacity;
  // transition: opacity 500ms $easeOutQuad;
  // .loaded & {
  //   opacity: 1;
  // }

  transition: transform 500ms $easeInQuint;
  transform: translate3d(0, -160%, 0);
  .loaded & {
    transform: none;
  }
}

.hero__caption {
	font-weight: 600;
	margin-top: auto;
	margin-bottom: auto;
  font-size: modular-scale(1rem, 3);
  line-height: 1.2;

  @media (min-height: 600px) and (min-width: 450px) {
    font-size: modular-scale(1rem, 4);
    line-height: 1;
  }

  @media (min-height: 700px) and (min-width: 700px) {
    font-size: modular-scale(1rem, 5);
    line-height: 1;
  }

  // @media (min-height: 720px) and (min-width: 930px) {
  // 	font-size: modular-scale(1rem, 5);
  // 	line-height: 1;
  // }
  @media (min-height: 940px) and (min-width: 1600px) {
		font-size: modular-scale(1.14rem, 5);
		line-height: 1;
	}
}

.hero__text {
  max-width: 860px;
  display: inline-block;
}

.hero__nav {
  position: relative;
  z-index: 1000;
	background-color: #fff;
	height: pxToRem(80);
	line-height: pxToRem(80);
	font-size: modular-scale(1rem, 1);
  margin-top: 0;
  margin-bottom: 0;

  opacity: 0;
  will-change: transform;
  .loaded & {
    opacity: 1;
    animation-duration: 500ms;
    animation-timing-function: $easeOutQuint;
    animation-fill-mode: backwards;
  }
  .loaded.csstransforms & {
      animation-name: slide-up;
  }
  .loaded.csstransforms3d & {
    animation-name: slide-up-3d;
  }
}

.hero--hidden {
	.hero__nav {
		border-bottom: 1px solid #f5f5f5;
	}
}

.hero__word {
	display: inline-block;
	position: relative;

	// This will "block" the view for the word
	// allowing the slide up effect to look nice
	&:after {
		background: $green;
		content: '';
		display: block;
		position: absolute;
		top: 115%;
		left: 0;
		height: 110%;
		width: 110%;
	}
}

.hero__word__inner {
	display: inline-block;
  opacity: 0;
  will-change: transform;
  .loaded & {
    opacity: 1;
  	animation-duration: 500ms;
  	animation-timing-function: $easeOutQuint;
  	animation-fill-mode: backwards;
  }
  .loaded.csstransforms & {
      animation-name: slide-up;
  }
  .loaded.csstransforms3d & {
    animation-name: slide-up-3d;
  }
}
