
// make all images responsive by default
img {
  border: 0;
  height: auto;
  width: 100%; // allow upscaling to avoid problems with ratio
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

// make responsive.io images hidden while loading
img[data-src] {
  visibility: hidden;
}


@keyframes fadeInContentImage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// content images have:
//  - negative margins
//  - fade in animation on load event
.js .content-image {
  position: relative;

  img {
    will-change: opacity;
    opacity: 0;

    // class added my main.coffee
    &.image-loaded {
      animation-name: fadeInContentImage;
      animation-duration: 1s;
      animation-timing-function: $easeOutQuad;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }
}



// psuedo element padding hack to avoid reflows on responsive images
// http://www.mademyday.de/css-height-equals-width-with-pure-css.html
.ratio {
  position: relative;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
  }
}

// .ratio > img,
// .ratio > noscript,
.ratio__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // David: should we have a bg while the image is loading? might be nice
  background: #f9f9f9;
  .u-bg-bright & {
    background: #ffffff;
  }
  .image-loaded & {
    background: transparent;
  }
}

.ratio--2_1 {
  &:before {
    padding-top: 50%; /* 2:1 ratio */
  }
}

.ratio--16_9 {
  &:before {
    padding-top: 56.25%; /* 16:9 ratio */
  }
}

.ratio--16_10 {
  &:before {
    padding-top: 62.5%; /* 16:10 ratio */
  }
}

.ratio--3_2 {
  &:before {
    padding-top: 66%; /* 3:2 ratio */
  }
}

.ratio--4_3 {
  &:before {
    padding-top: 75%; /* 4:3 ratio */
  }
}

.ratio--5_4 {
  &:before {
    padding-top: 80%; /* 5:4 ratio */
  }
}


