
// make all images responsive by default
img {
  border: 0;
  height: auto;
  width: 100%; // allow upscaling to avoid problems with ratio
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

// make responsive.io images hidden while loading
img[data-src] {
  visibility: hidden;
}


@keyframes fadeInContentImage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// content images have:
//  - negative margins
//  - fade in animation on load event
.js .content-image {
  position: relative;

  img {
    will-change: opacity;
    opacity: 0;
  }
}
  // class added my main.coffee
.js.cssanimations .content-image {
	img.image-loaded{
    animation-name: fadeInContentImage;
    animation-duration: 1s;
    animation-timing-function: $easeOutQuad;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}
.js.no-cssanimations .content-image {
	img.image-loaded {
		opacity: 1;
	}
}
