@keyframes slide-up {
	0% {
		transform: translateY(120%);
	}

	100% {
		transform: none;
	}
}

@keyframes slide-up-3d {
  0% {
    transform: translate3d(0, 120%, 0);
  }

  100% {
    transform: translate3d(0, 0%, 0);
  }
}


.delay500 {
	animation-delay: 500ms;
}

.delay600 {
	animation-delay: 600ms;
}

.delay700 {
	animation-delay: 700ms;
}

.delay800 {
	animation-delay: 800ms;
}

.delay900 {
	animation-delay: 900ms;
}

.delay1000 {
	animation-delay: 1000ms;
}

.delay1100 {
	animation-delay: 1100ms;
}

.delay1200 {
  animation-delay: 1200ms;
}

.delay1300 {
  animation-delay: 1300ms;
}
