* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
	height: 100%;
}

body {
  transition: opacity .3s $easeOutQuad;
  .hide-on-load & {
    opacity: 0;
  }
}

.block--centered {
  position: relative;
  max-width: $grid-max-width-px;
  width: 100%;
  margin: 0 auto;
  padding-left: $side-padding-px;
  padding-right: $side-padding-px;
}

.block--wide-centered {
  @extend .block--centered;
  max-width: $grid-wide-max-width-px;
}

.u--pad-top {
  padding-top: $default-section-margin;
}

.u--pad-bottom {
  padding-bottom: $default-section-margin;
}

.u--pad-both {
  @extend .u--pad-top;
  @extend .u--pad-bottom;
}


.main-content {
  margin-top: $default-section-margin;
  padding-top: pxToRem(80); // same as nav height
}

.svg {
	display: block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

//
// Generic header
//

.header {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.header__title {
	color: #333;
	margin-bottom: 1rem;
  // h3 size
  font-size: modular-scale(1rem, 3);
  @include if-wider-than($breakpoint-two-px) {
    // h1 size
    font-size: modular-scale(1rem, 5);
  }
}

.header__desc {
	color: #888;
}

.wide-grid {
  @include if-wider-than($breakpoint-three-px) {
    margin-left: -10%;
    margin-right: -10%;
  }
}
