a {
 transition: color 0.1s $easeOutQuad;
}

a,
a:visited {
  cursor: pointer;
  color: $default-font-color;
  text-decoration: none;

  p &,
  .footer &,
  .post ul &,
  .casestudy ul & {
  	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,$brand-link-color 50%);
		background-repeat: repeat-x;
		background-size: 2px 2px;
		background-position: 0 100%;
  }
  .post blockquote &,
  .casestudy blockquote & {
  	background-position: 0 4rem;
  }
}

a:focus {
  /*outline: thin dotted;*/
  outline: 0;
}
