//
// Logo variations
//

$logo-rect-height-px: 65px;
$logo-rect-width-px: 190px;

.logo-rect {
	display: block;
	height: $logo-rect-height-px/1.5;;
	width: $logo-rect-width-px/1.5;
	margin-top: 1rem;

	@include if-wider-than($breakpoint-two-px) {
    // h1 size
    font-size: modular-scale(1rem, 5);
    width: $logo-rect-width-px;
    height: $logo-rect-height-px;
  }
}


.page {

  .nav__logo-clean {
    cursor: pointer;
  }

	.polygon {
		transition-property: fill;
		transition-duration: 0.8s;
		transition-delay: 1s;
		transition-timing-function: $easeOutQuad;
	}

	.polygon-down--light {
		fill: $brand-color;
	}

	.polygon-down--dark {
		fill: $brand-color-dark;
	}

	.polygon-up--light {
		fill: $brand-color;
	}

	.polygon-up--dark {
		fill: $brand-color-dark;
	}

}

.page-home {

  .nav__logo-clean {
    cursor: default;
  }


	.hero__nav .polygon-down--light {
		fill: $gray;
	}

	.hero__nav .polygon-down--dark {
		fill: $gray-dark;
	}

	.hero__nav .polygon-up--light {
		fill: $gray;
	}

	.hero__nav .polygon-up--dark {
		fill: $gray-dark;
	}

}
