//
// Logo variations
//

$logo-rect-height-px: 126px;
$logo-rect-width-px: 737px;

.logo-rect {
	display: block;
	height: $logo-rect-height-px / 3;
	width: $logo-rect-width-px / 3;
	margin-top: 1rem;

	@include if-wider-than($breakpoint-two-px) {
    // h1 size
    width: $logo-rect-width-px / 1.5;
    height: $logo-rect-height-px / 1.5;
  }
}


.page {

  .nav__logo-clean {
    cursor: pointer;
  }

	.logo-item {
		transition-property: fill;
		transition-duration: 0.8s;
		transition-delay: 500ms;
		transition-timing-function: $easeOutQuad;
	}

	.logo-item--beach {
		fill: $beach;
	}

	.logo-item--tropical {
		fill: $tropical;
	}

	.logo-item--vulcano {
		fill: $vulcano;
	}
}

.page-home {

  .nav__logo-clean {
    cursor: default;
  }

	.hero__nav .logo-item--beach {
		fill: $gray;
	}

	.hero__nav .logo-item--tropical {
		fill: $gray;
	}

	.hero__nav .logo-item--vulcano {
		fill: $gray;
	}
}
