//
// Nav component
//
// Markup example:
//
// <nav class="nav">
// 	<ul class="nav__list">
//  	<li class="nav__item">Logo</li>
//    <li class="nav__item"><a href="/">Our Work</a></li>
//    <li class="nav__item"><a href="/projects">About Us</a></li>
//    <li class="nav__item"><a href="/blog">Blog</a></li>
//    <li class="nav__item"><a href="/blog">Contact</a></li>
// 	</ul>
// </nav>

.nav {
}

.nav__list {
	list-style: none;
	margin-bottom: 0;
}

.nav__item {
	display: inline-block;
	vertical-align: top;
	@include if-wider-than($breakpoint-three-px) {
    position:relative;
    left: -1.5rem;
  }
}

.nav__item--logo {
	@extend .nav__item;
	@include if-wider-than($breakpoint-three-px) {
    position: absolute;
    left: $grid-gap-px;
  }
}

.nav__logo-clean {
	display: block;
	height: (25px/1.5);
	width: (60px/1.5);
	margin: 24px 0;

	margin-right: .75rem;
	@include if-wider-than($breakpoint-two-px) {
		height: 25px;
		width: 60px;
		margin: 28px 0;
		margin-right: 1.5rem;
  }
  @include if-wider-than($breakpoint-three-px) {
		margin-right: 0;
  }
}

.nav__link {
	display: block;
	letter-spacing: 0.04rem;
	line-height: 1;
	font-size: 1.3rem;
	padding: 22px .75rem;

	&,
	&:visited {
		color: #666;
	}

	.no-touch &:hover {
    color: black;
  }
	.page-work &.nav__link--work,
	.page-about &.nav__link--about,
	.page-contact &.nav__link--contact {
    color: black;
    cursor: default;
	}

	span {
		display: none;
	}

	@include if-wider-than(400px) {
		span {
			display: inline;
		}
  }
	@include if-wider-than($breakpoint-two-px) {
		padding: 28px 1.5rem;
  }
}
