//
// Nav component
//
// Markup example:
//
// <nav class="nav">
// 	<ul class="nav__list">
//  	<li class="nav__item">Logo</li>
//    <li class="nav__item"><a href="/">Our Work</a></li>
//    <li class="nav__item"><a href="/projects">About Us</a></li>
//    <li class="nav__item"><a href="/blog">Blog</a></li>
//    <li class="nav__item"><a href="/blog">Contact</a></li>
// 	</ul>
// </nav>
$nav-item-padding: 0.75rem;
$nav-item-padding-bp-two: 1.5rem;

.nav {
	@include if-wider-than($breakpoint-two-px) {
		display: flex;
		justify-content: center;
  }
}

.nav__list {
	list-style: none;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;

	position: relative;
	margin-left: -$nav-item-padding;
	margin-right: -$nav-item-padding;
	// swidth: auto;
	@include if-wider-than($breakpoint-two-px) {
    // justify-content: center;
		margin-left: -$nav-item-padding-bp-two;
		margin-right: -$nav-item-padding-bp-two;
  }
}

.nav__list-wrapper {

}

/*
.nav__item {
	display: inline-block;
	vertical-align: top;
	background: none;
	@include if-wider-than($breakpoint-three-px) {
    position:relative;
    left: -$nav-item-padding-bp-two;
  }
}

.nav__item--logo {
	@extend .nav__item;
}*/

.nav__logo-clean {
	display: block;
	height: (70px/3.4);
	width: (90px/3.4);
	margin: 22px $nav-item-padding 0;

	svg path {
    mix-blend-mode: multiply;
  }

	@include if-wider-than($breakpoint-two-px) {
		height: (70px/2.5);
		width: (90px/2.5);
		margin: 24px $nav-item-padding-bp-two 0;
		// margin-right: $nav-item-padding-bp-two;
  }
}

.nav__item--hide-on-small {
	display: none;
	@include if-wider-than(500px) {
		display: inline-block;
	}
}

.nav__link {
	display: block;
	letter-spacing: 0.04rem;
	line-height: 1;
	font-size: 1.3rem;
	padding: 24px $nav-item-padding;

	.nav__link:last-child & {
		padding-right: 0;
	}

	&,
	&:visited {
		color: #666;
	}

	.no-touch &:hover {
    color: black;
  }
	body[class*=' page-work'] &.nav__link--work,
	body.page-about &.nav__link--about,
	body[class*=' page-blog'] &.nav__link--blog,
	.page-contact &.nav__link--contact {
    color: black;
    cursor: default;
	}

	span {
		display: none;
	}

	@include if-wider-than(420px) {
		span {
			display: inline;
		}
  }
	@include if-wider-than($breakpoint-two-px) {
		padding: 30px $nav-item-padding-bp-two;
  }
}
