.no-touch {

	a {
		transition: color 0.2s $easeOutQuad;
	}

	a:active,
	a:hover {
	  color: darken( $green-dark, 10% );
	  text-decoration: none;
	  outline: 0;
	}


	// upgrade browser message
	.browsehappy {
		a:hover,
		a:active {
		color: #fff;
			text-decoration: underline;
		}
	}


  // Case Study: Up Next
  .next-casestudy__link__shape--hover {
    display: block;
    opacity: 0;
    transition: opacity 300ms $easeOutQuad;
  }
  a.next-casestudy__link:hover .next-casestudy__link__shape--hover {
    opacity: 1;
  }

  // Blog: Read next
  .related-posts__link {
		transition: background $easeOutQuad 300ms;
		&:hover {
			background: $natt-dark;
			.related-posts__label,
			.related-posts__title {
				color: #fff;
			}
		}
	}

	// Blog: show comments link
	.post-comments__cta {
		margin: 0;
		transition: background $easeOutQuad 300ms;
		&:hover {
			@extend .u-bg-brand--dark;
		}
	}

}
