.no-touch {

	a {
		transition: color 0.2s $easeOutQuad;
	}

	a:active,
	a:hover {
	  color: $brand-link-color;
	  text-decoration: none;
	  outline: 0;
	}
	h1 a:active,
	h1 a:hover,
	h2 a:active,
	h2 a:hover,
	h3 a:active,
	h3 a:hover,
	h4 a:active,
	h4 a:hover {
		color: darken($brand-link-color, 10%);
	}

	// upgrade browser message
	.browsehappy {
		a:hover,
		a:active {
		color: #fff;
			text-decoration: underline;
		}
	}


  // Case Study: Up Next
  .next-casestudy__link__shape--hover {
    display: block;
    opacity: 0;
    transition: opacity 300ms $easeOutQuad;
  }
  a.next-casestudy__link:hover .next-casestudy__link__shape--hover {
    opacity: 1;
  }

  // Blog: Read next
  .related-posts__link {
		transition: background $easeOutQuad 300ms;
		&:hover {
			background: $natt;
			.related-posts__label,
			.related-posts__title {
				color: #fff;
			}
		}
	}

	// Blog: show comments link
	.post-comments__cta {
		margin: 0;
		transition: background $easeOutQuad 300ms;
		&:hover {
			color: #fff;
			background-color: $brand-color;
		}
	}

}
