.no-touch {

	a {
		transition: color 0.2s $easeOutQuad;
	}

	a:active,
	a:hover {
	  color: darken( $green, 10% );
	  text-decoration: none;
	  outline: 0;
	}

	.nav__link:hover {
		color: #000;
	}

}