
.office__street-view {
	display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; 
  margin: 0;
  padding: 0;
}

.touch .office__street-view {
  pointer-events: none; 
}
