.shape-overlay {

  svg {
    display: none;
  }

  @include if-wider-than($breakpoint-two-px) {
    position: absolute;
    svg {
      display: block;
    }
  }

  figcaption {
    display: block;
    font-size: 1rem;
    color: $gray;
    line-height: 1;
    font-style: italic;
    margin: 1em 1em 0;

    @include if-wider-than($breakpoint-two-px) {
      color: #fff;
      font-weight: 600;
      position: absolute;

      font-size: 1.2rem;
      @include if-wider-than($breakpoint-three-px) {
        font-size: 1.4rem;
      }
    }
  }
}

.shape-overlay--top-left {
  @include if-wider-than($breakpoint-two-px) {
    top: -3%;
    left: -5%;
    width: 35%;

    figcaption {
      top: 19%;
      right: 30%;
      left: 18%;
      margin: 0 0 .5rem 0;
    }
  }
}

.shape-overlay--bottom-right {
  @include if-wider-than($breakpoint-two-px) {
    bottom: -14%;
    right: -5%;
    width: 33%;

    figcaption {
      text-align: right;
      top: 19%;
      right: 20%;
      left: 33%;
      margin: 0 .5rem 0 0;
    }
  }
}

.shape-overlay--casestudy-video {
  @include if-wider-than($breakpoint-two-px) {
    bottom: -9%;
    right: -1%;
    width: 24%;

    figcaption {
      text-align: right;
      top: 4%;
      left: 15%;
      right: 10%;
    }
  }
}

.shape-overlay--casestudy-responsive {
  @include if-wider-than($breakpoint-two-px) {
    top: 12%;
    left: 0%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    figcaption {
      position: relative;
      margin-top: 3rem;
      margin-bottom: 8rem;
      max-width: 10rem;
      box-sizing: content-box;
      padding-right: 4rem;
      padding-left: 2rem;
    }
  }
  @include if-wider-than($breakpoint-three-px) {
    left: auto;
    right: 62%;
  }
}
