.shape-overlay {

  svg {
    display: none;
  }

  @include if-wider-than($breakpoint-two-px) {
    position: absolute;
    svg {
      display: block;
    }
  }

  figcap {
    display: block;
    font-size: 1rem;
    color: $gray;
    line-height: 1;
    font-style: italic;
    margin: 1em 1em 0;

    @include if-wider-than($breakpoint-two-px) {
      color: #fff;
      font-weight: 600;
      position: absolute;

      font-size: 1.2rem;
      @include if-wider-than($breakpoint-three-px) {
        font-size: 1.4rem;
      }
    }
  }
}

.shape-overlay--top-left {
  @include if-wider-than($breakpoint-two-px) {
    top: -3%;
    left: -5%;
    width: 35%;

    figcap {
      top: 19%;
      right: 30%;
      left: 18%;
    }
  }
}

.shape-overlay--bottom-right {
  @include if-wider-than($breakpoint-two-px) {
    bottom: -14%;
    right: -5%;
    width: 33%;

    figcap {
      text-align: right;
      top: 19%;
      right: 20%;
      left: 33%;
    }
  }
}

.shape-overlay--casestudy-video {
  @include if-wider-than($breakpoint-two-px) {
    bottom: -9%;
    right: -1%;
    width: 24%;

    figcap {
      text-align: right;
      top: 4%;
      left: 15%;
      right: 10%;
    }
  }
}

.shape-overlay--casestudy-responsive {
  @include if-wider-than($breakpoint-two-px) {
    top: 12%;
    left: 2%;
    width: 30%;

    figcap {
      top: 8%;
      right: 30%;
      left: 10%;
    }
  }
  @include if-wider-than($breakpoint-two-px) {
    top: 12%;
    left: -10%;
    width: 42%;

    figcap {
      top: 14%;
      right: 30%;
      left: 10%;
    }
  }
}
