$startDelay: 0.1s;

.spinner {
  width: 90px;
  height: 90px;
  margin: 0 auto;

   svg {
    display: block;

    * {
      stroke: #666;
      #stroke: $green;
      stroke-width: 1;
      fill-opacity: 0;

      stroke-dasharray: 200;
      stroke-dashoffset: 200;
    }

    .up * {
      animation-name: dash;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }

    .down * {
      animation-name: dash;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }
}

.spinner--center,
.spinner--products {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -15px;
  z-index: 99;
}

.no-js .spinner,
.spinner--inactive {
  display: none;
}

@keyframes dash {
  70%,80% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-opacity: 1;
  }
  95% {
    stroke: $green;
    stroke-dashoffset: -200;
    stroke-opacity: 0;
  }
  100% {
    stroke-dashoffset: -200;
  }
}