//
//
// Elements
//

//
// DESKTOP ideal typography (for reference):
//
// .hero: 117px
//
// h1: 90px
//
// h2: 72px
//
// p: 24px
//



// =============================================================


html {
  font-family: Calibre, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;

  font-size: 14px;
  line-height: 1.4;
  color: $default-font-color;

  @include if-wider-than($breakpoint-two-px) {
    font-size: 18px;
  }

}

/**
 * Headings
 */

%h1 {
  font-size: modular-scale(1rem, 4);
  margin-top: 2 * modular-scale(1rem, 1);
  margin-bottom: 1 * modular-scale(1rem, 1);
  @include if-wider-than($breakpoint-two-px) {
    font-size: modular-scale(1rem, 5);
  }
}

%h2 {
  font-size: modular-scale(1rem, 3);
  margin-top: 2 * modular-scale(1rem, 1);
  margin-bottom: 1 * modular-scale(1rem, 1);
  @include if-wider-than($breakpoint-two-px) {
    font-size: modular-scale(1rem, 4);
  }
}

%h3 {
  font-size: modular-scale(1rem, 2);
  margin-top: 1 * modular-scale(1rem, 1);
  margin-bottom: 1 * modular-scale(1rem, 1);
  @include if-wider-than($breakpoint-two-px) {
    font-size: modular-scale(1rem, 3);
  }
}

%h4 {
  font-size: modular-scale(1rem, 1);
  margin-top: 1 * modular-scale(1rem, 1);
  margin-bottom: 1 * modular-scale(1rem, 1);
  @include if-wider-than($breakpoint-two-px) {
    font-size: modular-scale(1rem, 2);
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h1,
h2,
h3,
h4 {
  max-width: 800px;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1;

  ul + &,
  ol + &,
  p + &,
  blockquote + &,
  q + & {
    margin-top: 3rem;
  }

  .u-bg-natt-dark & {
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}


/**
 * Paragraphs
 */

p,
li {
  font-size: modular-scale(1rem, 1);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;

  .u-bg-natt-dark & {
    color: #eee;
  }
}

p {
  margin: 0 0 1rem;
  max-width: 700px;
}

ul,
ol {
  margin: 0 0 .5rem 1.5rem;
}

b,
strong {
  font-weight: 700;
}

cite {
  border: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

/**
 * Custom styles
 */

.nano {
  font-size: modular-scale(.8rem, 1);
}

/**
 * Quotes
 */

blockquote {
  display: block;
  margin: 2rem 1rem;
}

blockquote p,
q {
  font-size: modular-scale(1rem, 2);
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  color: #333333;
  quotes: none;

  text-rendering: optimizeLegibility;
}

@media (min-width: $breakpoint-two-px) {
  blockquote {
    margin: 3rem 2rem;
  }
  blockquote p,
  q {
    //font-size: modular-scale(1rem, 2);
  }
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}
