//
//
// Elements
//

$fourteenScale: 1.4;
$ratio: $fourteenScale;

//
// DESKTOP ideal typography (for reference):
//
// .hero {
//   117px
// }
//
// h1 {
//   90px
// }
//
// h2 {
//   72px
// }


/**
 * Copyright 2011-2014 thoughtbot, inc.
 * Bourbon is gree software, and may be redistributed under the terms specified in the license.
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_modular-scale.scss
 */
@function modular-scale($value, $increment) {
  $v1: nth($value, 1);
  $v2: nth($value, length($value));
  $value: $v1;

  // scale $v2 to just above $v1
  @while $v2 > $v1 {
    $v2: ($v2 / $ratio); // will be off-by-1
  }
  @while $v2 < $v1 {
    $v2: ($v2 * $ratio); // will fix off-by-1
  }

  // check AFTER scaling $v2 to prevent double-counting corner-case
  $double-stranded: $v2 > $v1;

  @if $increment > 0 {
    @for $i from 1 through $increment {
      @if $double-stranded and ($v1 * $ratio) > $v2 {
        $value: $v2;
        $v2: ($v2 * $ratio);
      } @else {
        $v1: ($v1 * $ratio);
        $value: $v1;
      }
    }
  }

  @if $increment < 0 {
    // adjust $v2 to just below $v1
    @if $double-stranded {
      $v2: ($v2 / $ratio);
    }

    @for $i from $increment through -1 {
      @if $double-stranded and ($v1 / $ratio) < $v2 {
        $value: $v2;
        $v2: ($v2 / $ratio);
      } @else {
        $v1: ($v1 / $ratio);
        $value: $v1;
      }
    }
  }

  @return $value;
}


// =============================================================


html {
  font-family: Calibre, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;

  font-size: 15px;
  line-height: 1.4;

  @include if-wider-than($breakpoint-two) {
    font-size: 25px;
  }

}

h1 {
  font-size: modular-scale(1rem, 4);
}

h2 {
  font-size: modular-scale(1rem, 3);
}

h3 {
  font-size: modular-scale(1rem, 2);
}

h4 {
  font-size: modular-scale(1rem, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 600px;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1;
}

q,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

b,
strong {
  font-weight: 700;
}

cite {
  border: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

p {
  // max-width: $measure;
  margin: 0 0 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}