
@keyframes google-interland-box-image {
  from {
    transform: translate(0, -1%) rotate(-8deg)
  }
  to {
    transform: translate(0, 1%) rotate(-9deg)
  }
}

// work page box
.work--project-google-interland {
  .box__content__headline {
    @include if-wider-than(1100px) {
  		max-width: 460px;
  	}
  }
  .box__content__img img {
    transform: rotate(-10deg);
    animation: google-interland-box-image 1.5s ease-in-out infinite alternate;
  }
}

// Internaut component
.google-interland__internaut {
    background: #cecece;
    text-align: center;
    height: 50vh;
    margin: 2rem;
}
