<section class="js-component-disqus-embed post-comments grid u-pad-bottom"
         data-disqus-shortname="14islands-com"
         data-disqus-identifier="{{page.url}}"
         data-disqus-expanded="{% if page.comments_expanded != Nil %}{{ page.comments_expanded }}{% else %}{{ site.comments_expanded }}{% endif %}">


	<a href="#" data-disquss-count class="grid__row u-bg-bright" title="Show comments for post">
		<h4 class="post-comments__cta ">
			<span class="disqus-comment-count" data-disqus-identifier="{{page.url}}">Write a comment</span>
		</h4>
	</a>

	<div data-disquss-comments class="grid__row" id="disqus_thread"></div>
</section>
