
{% include blog-author.html author-name="David Lindkvist" author-job-title="Creative web developer / Co-Founder at 14islands" author-image-src="/images/about/team-grid/double-David.jpg" author-twitter-user="ffdead" %}

{% include blog-author.html author-name="Hjörtur Hilmarsson" author-job-title="Creative web developer / Co-Founder at 14islands" author-image-src="/images/about/team-grid/double-Hjortur.jpg" author-twitter-user="hjortureh" %}

{% include blog-author.html author-name="Marco Barbosa" author-job-title="Creative web developer / Partner at 14islands" author-image-src="/images/about/team-grid/double-Marco.jpg" author-twitter-user="MarcoBarbosa"%}
