<section class="u-bg-bright u-default-v-padding grid">
	<div class="grid__row">
		<h2>Keep me posted!</h2>
		<div class="newsletter__wrapper js-component-newsletter">
			<!-- <button class="newsletter__notify-button button button--primary">Get notifications</button> -->
			<form class="newsletter__email-form" action="//14islands.us7.list-manage.com/subscribe/post?u=490492cf1e6a559f7d31be38e&amp;id=9fcb86e4a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input class="newsletter__email-input form__input" type="email" placeholder="Your email..." value="" name="EMAIL"  id="mce-EMAIL">
				<input class="newsletter__email-name-input form__input" type="text" placeholder="Your name..." value="" name="NAME" id="mce-NAME">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="display:none">
			</form>
			<button class="newsletter__email-button button button--primary">Add me</button>
		</div>
	</div>
</section>
