<section class="u-bg-bright u-default-v-padding grid js-component-newsletter">
	<div class="grid__row">
		<h2>Keep me posted!</h2>
		<p class="newsletter__copy-without-notifications">Stay on top of this unpredictable industry we are in. Signup to get an email with our latest articles to your inbox. Like you, we also hate spam <em class="emoji">☠️</em></p>
		<p class="newsletter__copy-with-notifications">Stay on top of this unpredictable industry we are in. Get a notification in your browser or an email with our latest articles. Like you, we also hate spam <em class="emoji">☠️</em></p>
		<div class="newsletter__wrapper">
			<button class="newsletter__notify-button button button--primary">
				<div class="newsletter__notify-button-icon">
					{% include svgs/newsletter/icon-notify.svg %}
				</div>
				<span class="newsletter__notify-button-label">Get notifications</span>
				<span class="newsletter__notify-button-label--off">Turn Off Notifications</span>
			</button>
			<form class="newsletter__email-form" action="//14islands.us7.list-manage.com/subscribe/post?u=490492cf1e6a559f7d31be38e&amp;id=9fcb86e4a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input class="newsletter__email-input form__input" type="email" placeholder="Your email..." value="" name="EMAIL"  id="mce-EMAIL">
				<input class="newsletter__email-name-input form__input" type="text" placeholder="Your name..." value="" name="NAME" id="mce-NAME">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="display:none">
			</form>
			<button class="newsletter__email-button button button--primary">
				<div class="newsletter__email-button-icon">
					{% include svgs/newsletter/icon-email.svg %}
				</div>
				<span class="newsletter__email-button-label">Get email</span>
				<span class="newsletter__email-button-label--add">Add me</span>
			</button>
		</div>
	</div>
</section>
