<section class="grid u-bg-bright u--pad-both pjax-animate">
	<div class="grid__row--wide">
		<div class="casestudy__video-wrapper ratio ratio--{{include.ratio}}">
      <iframe src="//player.vimeo.com/video/{{include.vimeoId}}?autoplay=0&amp;loop=0&amp;color=b7d02e&amp;title=0&amp;byline=0&amp;portrait=0" width="1920" height="1200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

    {% comment %}
		<!--div class="shape-overlay shape-overlay--casestudy-video">
      {% include svgs/shapes/about-image-bottom-right.svg %}
       <figcaption>Watch Project Hightlight Video</figcaption>
    </div-->
    {% endcomment %}

	</div>
</section>
