<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row--wide">
		<figure class="casestudy__responsive-wrapper">
			{% include svgs/devices/iphone6plus.min.svg %}
      {% if include.parallax %}
        <div class="casestudy__responsive-screen js-component-parallax-scroll">
      {% else %}
		  	<div class="casestudy__responsive-screen">
      {% endif %}
        {% include image.html src=include.url alt="Built from mobile up to big screens" %}
			</div>
		</figure>
		<div class="shape-overlay shape-overlay--casestudy-responsive">
      {% include svgs/shapes/casestudy-responsive.min.svg %}
       <figcaption>Built responsive from mobile up to big screens</figcaption>
    </div>
	</div>
</section>
