<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row--wide-content">
		<blockquote class="casestudy__quote">
			<p>“{{include.quote}}”</p>
			<div class="casestudy__author">
        {% include rio-image.html src=include.author-image-src alt=include.author-name class="casestudy__author-image"%}
				<span class="casestudy__author-name">{{include.author-name}}</span>
				<span class="casestudy__author-job-title">{{include.author-job-title}}</span>
			</div>
		</blockquote>
	</div>
</section>
