<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row--wide">
		<figure class="casestudy__responsive-wrapper">
			{% include svgs/iphone6plus.svg %}
			<div class="casestudy__responsive-screen">
        {% include rio-image.html src=include.url alt="Built from mobile up to big screens" %}
			</div>
		</figure>
		<div class="shape-overlay shape-overlay--casestudy-responsive">
      {% include shapes/casestudy-responsive.svg %}
       <figcap>Built responsive from mobile up to big screens</figcap>
    </div>
	</div>
</section>
