<section class="grid u-bg-bright u--pad-both">
	<div class="grid__row--wide">
		<figure class="casestudy__responsive-wrapper u-ratio u-ratio--1_2">
			<div class="u-ratio__content">
			{% include svgs/devices/iphone6plus.min.svg %}
      {% if include.parallax %}
        {% if include.parallaxDirection == "horizontal" %}
          {% assign directionClass = "casestudy__responsive-screen--horizontal-scroll" %}
        {% endif %}
        <div class="casestudy__responsive-screen js-component-parallax-scroll {{directionClass}}" data-parallax-direction="{{include.parallaxDirection}}" data-parallax-offset="{{include.parallaxOffset}}">
      {% else %}
		  	<div class="casestudy__responsive-screen">
      {% endif %}
	        {% include rio-image.html src=include.url alt="Built from mobile up to big screens" %}
				</div>
			</div>
		</figure>
		<div class="shape-overlay shape-overlay--casestudy-responsive">
      {% include svgs/shapes/casestudy-responsive.min.svg %}
       <figcaption>Built responsive from mobile up to big screens</figcaption>
    </div>
	</div>
</section>
