<section class="u-bg-bright u--pad-both">
	<div class="block--centered">
		<style>
			.embed-container { 
				position: relative; 
				padding-bottom: 56.25%; 
				height: 0; 
				overflow: hidden; 
				max-width: 100%; 
			} 
			.embed-container iframe, 
			.embed-container object, 
			.embed-container embed { 
				position: absolute; 
				top: 0; 
				left: 0; 
				width: 100%; 
				height: 100%; 
			}
		</style>
		<div class='embed-container'>
			<iframe src='{{include.url}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		<div class="shape-overlay shape-overlay--bottom-right">
      {% include shapes/about-image-bottom-right.svg %}
       <figcap>Watch Demo Video</figcap>
    </div>
	</div>
</section>