<footer class="grid typography__mono-wrapper footer u-pad-both">
  <div class="grid__row--wide">
    <div class="footer__content grid__row--wide__normal">
      <div class="footer__info">
        <p class="footer__description nano no-hyphens">
          A creative design & development studio that loves to build great user experiences. We help our clients craft sites, apps and playful games on the web.
        </p>
        <p class="footer__description nano no-hyphens">
          14islands is based in Stockholm, Sweden and was founded in 2011.
        </p>
        <p class="nano">
          <a href="mailto:hello@14islands.com">Say hello</a>
        </p>
      </div>
      <div class="footer__social">
        <ul class="footer__social-nav">
          <li>
            <a class="nano" href="{{ site.baseurl }}/blog/" target="_blank">Blog</a>
          </li>
          <li>
            <a class="nano" href="https://instagram.com/14islands" target="_blank">Instagram</a>
          </li>
          <li>
            <a class="nano" href="https://twitter.com/14islands" target="_blank">Twitter</a>
          </li>
          <li>
            <a class="nano" href="https://www.facebook.com/14islands" target="_blank">Facebook</a>
          </li>
          <li>
            <a class="nano" href="http://codepen.io/14islands/" target="_blank">Codepen</a>
          </li>
          <li>
            <a class="nano" href="{{ site.baseurl }}/join-us/" target="_blank">Join Us</a>
          </li>
        </ul>
      </div>
    </div>
		<div class="footer__logo">
			{% include svgs/logo/logo-new-full.min.svg %}
		</div>
  </div>
</footer>
