<footer class="grid footer u-pad-both">
  <div class="grid__row--wide">
    <div class="grid__row--wide__normal">
      <div class="footer__logo">
        {% include svgs/logo/logo-footer.min.svg %}
      </div>
      <div class="footer__info">
        <p class="nano no-hyphens">
          We are a creative development studio that cares deeply about building great user experiences. 14islands was founded in 2011, though our roots in the web industry stretch back more than 15 years.
        </p>
        <p class="nano">
          <a href="mailto:hello@14islands.com">Say hello</a>
        </p>
      </div>
      <div class="footer__social">
        <nav class="footer__social-nav">
          <a class="nano" href="{{ site.baseurl }}/blog/" target="_blank">Blog</a>
          <a class="nano" href="https://twitter.com/14islands" target="_blank">Twitter</a>
          <a class="nano" href="https://www.facebook.com/14islands" target="_blank">Facebook</a>
          <a class="nano" href="https://instagram.com/14islands" target="_blank">Instagram</a>
          <a class="nano" href="http://codepen.io/14islands/" target="_blank">Codepen</a>
        </nav>
      </div>
    </div>
    <div class="grid__row--wide__content">
      <div class="footer__logo footer__logo--wide-grid">
        {% include svgs/logo/logo-footer.min.svg %}
      </div>
    </div>
  </div>
</footer>
