{% if page.id == 'home' %}
<section class="hero js-component-hero-noise">
{% else %}
<section class="hero hero--hidden js-component-hero-noise">
{% endif %}
	<div class="hero__content-wrapper js-btn-explode-logo">

		<div class="hero__content grid">

			<div class="grid__row--wide hero__logo">
				<div class="grid__row--wide__content">

			<div class="hero-noise__logo js-logo">
				<div class="hero-noise__island island-1 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.2 26.1"><path d="M22.2,26.1H0L22.2,0Z" fill="#f47643"/></svg>
				</div>
				<div class="hero-noise__island island-2 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.8 68.3"><path d="M24.8,66.6,5.7,68.3,0,1.7,19.1,0Z" fill="#e5c83d"/></svg>
				</div>
				<div class="hero-noise__island island-3 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 54.6"><path d="M42,49.4,0,54.6,35.9,0Z" fill="#f47643"/></svg>
				</div>
				<div class="hero-noise__island island-4 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M18.9,21.9,0,18.9,3,0,21.9,3Z" fill="#73c9bd"/></svg>
				</div>
				<div class="hero-noise__island island-5 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.3 67.4"><path d="M19.1,67.4,0,66.8,2.2,0,21.3.6Z" fill="#e5c83d"/></svg>
				</div>
				<div class="hero-noise__island island-6 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.45 45.14"><path d="M36.45,3.34,12,45.14a24.23,24.23,0,0,1,24.5-41.8Z" fill="#73c9bd"/></svg>
				</div>
				<div class="hero-noise__island island-7 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.32 41.33"><path d="M0,34.2,34.2,0A24.18,24.18,0,0,1,0,34.2Z" fill="#f47643"/></svg>
				</div>
				<div class="hero-noise__island island-8 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.3 68.3"><path d="M25.4,66.5h0L6.3,68.3,0,1.8,19.1,0l4.7,49.5L39.7,48l1.6,17Z" fill="#e5c83d"/></svg>
				</div>
				<div class="hero-noise__island island-9 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.6 71"><path d="M20.8,0,37.7,32.9,54.6,65.8,27.3,68.4,0,71,10.4,35.5Z" fill="#f47643"/></svg>
				</div>
				<div class="hero-noise__island island-10 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 68.8"><path d="M.1,0,55,68.8H0V0Z" fill="#73c9bd"/></svg>
				</div>
				<div class="hero-noise__island island-11 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.6 72.7"><path d="M17.9,72.7,0,47.8,2.5,0,21.6,1Z" fill="#e5c83d"/></svg>
				</div>
				<div class="hero-noise__island island-12 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.66 66.66"><path d="M36.5,36.5A33.42,33.42,0,0,1,0,66.5L6.6,0A33.3,33.3,0,0,1,36.5,36.5Z" fill="#f47643"/></svg>
				</div>
				<div class="hero-noise__island island-13 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.4 47.6"><path d="M30.4.8,18,47.6A24.21,24.21,0,0,1,29.72.62Z" fill="#73c9bd"/></svg>
				</div>
				<div class="hero-noise__island island-14 js-logo-island">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.33 41.29"><path d="M0,34.2,34.2,0A24.18,24.18,0,0,1,0,34.2Z" fill="#e5c83d"/></svg>
				</div>
			</div>

			</div>
			</div>

		</div>
	</div>
  <nav class="grid hero__nav js-hero-nav">
    <div class="nav grid__row--wide">
      <div class="grid__row--wide__normal">
				<div class="nav__list">
					<div class="nav__item">
						<a href="{{ site.baseurl }}/" class="nav__logo-clean js-nav-home" title="Back to Home page">
							{% include svgs/logo/logo-new-symbol.min.svg %}
						</a>
					</div><!-- Remove space
					--><div class="nav__item">
							<a class="nav__link nav__link--work js-nav-link js-nav-link-work" href="{{ site.baseurl }}/work/" title="Explore our work"><span>Our </span>Work</a>
					</div><!-- Remove space
					--><div class="nav__item">
							<a class="nav__link nav__link--about js-nav-link" href="{{ site.baseurl }}/about/" title="Learn more about us">About <span>Us</span></a>
					</div><!-- Remove space
					--><div class="nav__item nav__item--hide-on-small">
							<a class="nav__link nav__link--blog js-nav-link" href="{{ site.baseurl }}/blog/" title="Read our blog">Blog</a>
					</div><!-- Remove space
					--><div class="nav__item">
							<a class="nav__link nav__link--contact js-nav-link" href="{{ site.baseurl }}/contact/" title="Say hello">Contact</a>
					</div>
				</div>
      </div>
    </div>
  </nav>
</section>
