{% if page.id == 'home' %}
<section class="hero">
{% else %}
<section class="hero hero--hidden">
{% endif %}
  <div class="hero__content grid">
    <header class="grid__row hero__logo">
      <span class="logo-rect js-nav-home"><svg class="svg"><use xlink:href="#shape-logo-rect" /></svg></span>
    </header>
    <h1 class="grid__row hero__caption">
      <span class="hero__text">
        <span class="hero__word"><span class="hero__word__inner delay500">Crafting</span></span> <span class="hero__word"><span class="hero__word__inner delay600">digital</span></span> <span class="hero__word"><span class="hero__word__inner delay700">experiences</span></span> <span class="hero__word"><span class="hero__word__inner delay800">with</span></span> <span class="hero__word"><span class="hero__word__inner delay900">cutting</span></span> <span class="hero__word"><span class="hero__word__inner delay1000">edge</span></span> <span class="hero__word"><span class="hero__word__inner delay1100">technologies.</span></span>
      </span>
    </h1>
  </div>
  <nav class="grid hero__nav js-hero-nav nav delay1300">
    <div class="grid__row--wide">
      <ul class="nav__list grid__row--wide__normal">
        <li class="nav__item--logo">
            <a href="{{site.baseurl}}" class="nav__logo-clean js-nav-home" title="Back to Home page">
                <svg class="svg"><use xlink:href="#shape-logo-clean" /></svg>
            </a>
        </li><!-- Remove space
        --><li class="nav__item">
            <a class="nav__link nav__link--work js-nav-link" href="{{site.baseurl}}work" title="Explore our work"><span>Our </span>Work</a>
        </li><!-- Remove space
        --><li class="nav__item">
            <a class="nav__link nav__link--about js-nav-link" href="{{site.baseurl}}about" title="Learn more about us">About <span>Us</span></a>
        </li><!-- Remove space
        --><li class="nav__item">
            <a class="nav__link nav__link--contact js-nav-link" href="{{site.baseurl}}contact" title="Say hello">Contact</a>
        </li>
      </ul>
      <div class="grid__row--wide__content hero__nav__wide-logo">
        <a href="/" class="nav__logo-clean js-nav-home" title="Back to Home page">
            <svg class="svg"><use xlink:href="#shape-logo-clean" /></svg>
        </a>
      </div>
    </div>
  </nav>
</section>
