{% if page.id == 'home' %}
<section class="hero">
{% else %}
<section class="hero hero--hidden">
{% endif %}
    <header class="hero__logo">
        <span class="logo-rect js-nav-home"><svg class="svg"><use xlink:href="#shape-logo-rect" /></svg></span>
    </header>
    <h1 class="hero__caption">
        <span class="hero__text">
            <span class="hero__word"><span class="hero__word__inner delay100">Crafting</span></span> <span class="hero__word"><span class="hero__word__inner delay250">digital</span></span> <span class="hero__word"><span class="hero__word__inner delay400">experiences</span></span> <span class="hero__word"><span class="hero__word__inner delay550">with</span></span> <span class="hero__word"><span class="hero__word__inner delay700">cutting</span></span> <span class="hero__word"><span class="hero__word__inner delay850">edge</span></span> <span class="hero__word"><span class="hero__word__inner delay1000">technologies.</span></span>
        </span>
    </h1>
    <nav class="hero__nav js-hero-nav nav">
        <ul class="nav__list block--centered">
            <li class="nav__item--logo">
                <a href="/" class="nav__logo-clean js-nav-home" title="Back to Home page">
                    <svg class="svg"><use xlink:href="#shape-logo-clean" /></svg>
                </a>
            </li><!-- Remove space
            --><li class="nav__item">
                <a class="nav__link nav__link--work js-nav-link" href="/work" title="Explore our work"><span>Our </span>Work</a>
            </li><!-- Remove space
            --><li class="nav__item">
                <a class="nav__link nav__link--about js-nav-link" href="/about" title="Learn more about us">About <span>Us</span></a>
            </li><!-- Remove space
            --><li class="nav__item">
                <a class="nav__link nav__link--contact js-nav-link" href="/contact" title="Say hello">Contact</a>
            </li>
        </ul>
    </nav>
</section>
