
{% if include.margin %}
  <figure class="grid__row grid__row--wide content-image u-margin-{{include.margin}}-half {{include.class}} {% if include.outline %}content-image--outline{% endif %}">
{% else %}
  <figure class="grid__row grid__row--wide content-image u-margin-top-half {{include.class}} {% if include.outline %}content-image--outline{% endif %}">
{% endif %}

  <div class="u-ratio u-ratio--{{include.ratio}} u-ratio--placeholder">
    {% include rio-image.html src=include.src alt=include.alt class="u-ratio__content"%}
  </div>
  {% if include.caption %}
    <div class="u-img-caption">
      <figcaption>{{include.alt}}</figcaption>
    </div>
  {% endif %}
</figure>
