<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/_bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

<script src="//src.responsive.io/r.js"></script>

<!-- build:js({app,.tmp}) /js/footer-scripts.js -->

<script src="/_bower_components/modernizr/modernizr.js"></script>
<script src="/_bower_components/jquery-pjax/jquery.pjax.js"></script>
<script src="/_bower_components/fastclick/lib/fastclick.js"></script>
<script src="/_bower_components/scrollMonitor/scrollMonitor.js"></script>

<script src="/js/vendor/CSSPlugin.js"></script>
<script src="/js/vendor/EasePack.js"></script>
<script src="/js/vendor/ScrollToPlugin.js"></script>
<script src="/js/vendor/TweenMax.js"></script>
<script src="/js/vendor/noise.js"></script>

<script src="/js/polyfills/rAF.js"></script>

<script src="/js/plugins.js"></script>
<script src="/js/component-loader.js"></script>

<script src="/js/base.js"></script>
<script src="/js/utils.js"></script>

<script src="/js/helpers/rio-images-loaded.js"></script>
<script src="/js/helpers/scroll-state.js"></script>
<script src="/js/helpers/spinner.js"></script>
<script src="/js/helpers/easing.js"></script>
<script src="/js/helpers/scroll-hijack.js"></script>

<script src="/js/pjaxnavigation.js"></script>
<script src="/js/models/grid-model.js"></script>

<script src="/js/components/base-component.js"></script>
<script src="/js/components/sticky-nav.js"></script>
<script src="/js/components/office-street-view.js"></script>
<script src="/js/components/newsletter.js"></script>
<script src="/js/components/grid.js"></script>
<script src="/js/components/element-scroll-visibility.js"></script>
<script src="/js/components/parallax-scroll.js"></script>
<script src="/js/components/speakerdeck-embed.js"></script>
<script src="/js/components/codepen-embed.js"></script>
<script src="/js/components/disqus-embed.js"></script>

<script src="/js/components/work/elastica/circular-mask-animation.js"></script>
<script src="/js/components/work/elastica/dancing-circles-animation.js"></script>

<script src="/js/components/work/sthlm6000/masking-number-animation.js"></script>
<script src="/js/components/work/sthlm6000/google-streetview-panorama.js"></script>
<script src="/js/components/work/sthlm6000/donut-chart.js"></script>

<script src="/js/components/work/spg/spg-logo-animation.js"></script>

<script src="/js/components/work/bedow/icon.js"></script>
<script src="/js/components/work/bedow/icon-morph.js"></script>
<script src="/js/components/work/bedow/icon-leap.js"></script>

<script src="/js/components/blog/estimation-survey/collision.js"></script>
<script src="/js/components/blog/estimation-survey/pie-chart.js"></script>

<script src="/js/components/hero-noise/hero-noise-island.js"></script>
<script src="/js/components/hero-noise/hero-noise.js"></script>

<script src="/js/main.js"></script>

<!-- endbuild -->
