
{% if include.margin %}
  <figure class="grid__row--wide content-image u--margin-{{include.margin}}--half {{include.class}}">
{% else %}
  <figure class="grid__row--wide content-image u--margin-top--half {{include.class}}">
{% endif %}

  <div class="u-ratio u-ratio--{{include.ratio}} u-ratio--placeholder">
    {% include rio-image.html src=include.src alt=include.alt class="u-ratio__content"%}
  </div>
  {% if include.caption %}
    <div class="shape-overlay {{include.shapeClass}}">
      {% include svgs/shapes/{{include.shapeSVG}} %}
      <figcaption>{{include.alt}}</figcaption>
    </div>
  {% endif %}
</figure>
