
{% if include.margin %}
  <figure class="grid__row--wide content-image u--margin-{{include.margin}}--half">
{% else %}
  <figure class="grid__row--wide content-image u--margin-top--half">
{% endif %}

  <div class="ratio ratio--{{include.ratio}}">
    {% include rio-image.html src=include.src alt=include.alt %}
  </div>
  {% if include.caption %}
    <div class="shape-overlay {{include.shapeClass}}">
      {% include shapes/{{include.shapeSVG}} %}
      <figcap>{{include.alt}}</figcap>
    </div>
  {% endif %}
</figure>
