<div class="cs-bedow-iconography">

	<div class="u-col">
		<span class="u-containerIcon IconBland js-component-bedow-morph-icon" title="Bland" data-start-selector="#js-IconBland-start" data-end-selector="#js-IconBland-end">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.1 10.9">
				<path id="js-IconBland-start" class="js-IconBland-start" d="M119.45,5.55c-1.6-2.9-3.3-3.9-6.5-3.9-6.5,0-6.5,7.6-13.1,7.6s-6.5-7.6-13.1-7.6-6.6,7.6-13.1,7.6-6.5-7.6-13.1-7.6-6.5,7.6-13.1,7.6-6.5-7.6-13.1-7.6-6.5,7.6-13.1,7.6-6.5-7.6-13.1-7.6c-3.3,0-4.9.9-6.5,3.9" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/>
				<path id="js-IconBland-end" style="visibility: hidden;" class="js-IconBland-end" d="M1.65,5.35c1.6,2.9,3.3,3.9,6.5,3.9,6.5,0,6.5-7.6,13.1-7.6s6.5,7.6,13.1,7.6,6.6-7.6,13.1-7.6,6.5,7.6,13.1,7.6,6.5-7.6,13.1-7.6,6.5,7.6,13.1,7.6,6.5-7.6,13.1-7.6,6.5,7.6,13.1,7.6c3.3,0,4.9-.9,6.5-3.9" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/>
			</svg>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconExtraordinary js-component-bedow-morph-icon" title="Extraordinary" data-start-selector="#js-IconExtraordinary-start" data-end-selector="#js-IconExtraordinary-end">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.3 43.3">
				<path id="js-IconExtraordinary-start" class="js-IconExtraordinary-start" d="M109.65,21.65c-1.5-10-3-20-6-20-6,0-6,40-12,40s-6-40-12-40-6,40-12,40-6-40-12-40-6,40-12,40-6-40-12-40-6,40-12,40-6-40-12-40c-3,0-4.5,10-6,20" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/>
				<path style="visibility: hidden;" id="js-IconExtraordinary-end" class="js-IconExtraordinary-end" d="M1.65,21.65c1.5,10,3,20,6,20,6,0,6-40,12-40s6,40,12,40,6-40,12-40,6,40,12,40,6-40,12-40,6,40,12,40,6-40,12-40,6,40,12,40c3,0,4.5-10,6-20" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/>
			</svg>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconEye js-component-bedow-icon" title="Read">
			<span class="js-IconEye-ball IconEye-ball">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.3 42.5"><ellipse cx="21.15" cy="21.25" rx="19.5" ry="19.6" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3.3"/></svg>
			</span>
			<span class="js-IconEye-iris IconEye-iris">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.3 42.5"><circle cx="21.15" cy="21.65" r="8.6"/></svg>
			</span>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconLeap js-component-bedow-leap-icon" title="Leap">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.5 28.4"><path style="visibility: hidden;" class="js-IconLeap-path" d="M1.65,26.75c12.4-8.9,26.5-25.1,59.1-25.1s48.6,17.6,59.1,25.1" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/></svg>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconProcess js-component-bedow-icon" title="Loading">
			<span class="IconProcess-wheel IconProcess-wheel--small">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.7 28.7"><circle cx="14.35" cy="14.35" r="12.7" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/><line x1="14.35" y1="1.55" x2="14.35" y2="27.05" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/><line x1="27.15" y1="14.35" x2="1.65" y2="14.35" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/></svg>
			</span>
			<span class="IconProcess-wheel IconProcess-wheel--large">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.9 56.9"><circle cx="28.45" cy="28.45" r="26.8" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/><line x1="28.45" y1="1.55" x2="28.45" y2="55.35" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/><line x1="1.35" y1="28.45" x2="55.55" y2="28.45" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3.3"/></svg>
			</span>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconPush js-component-bedow-icon" title="Push">
			<span class="IconPush-horizontalBar">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.96 39.96"><line x1="1.48" y1="20.28" x2="65.28" y2="20.28" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.96"/></svg>
			</span>
			<span class="IconPush-tipBar">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.96 39.96"><line x1="65.28" y1="20.28" x2="65.28" y2="7.58" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.96"/></svg>
			</span>
			<span class="IconPush-verticalBar">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.96 39.96">
					<line x1="77.48" y1="1.48" x2="77.48" y2="38.48" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.96"/>
				</svg>
			</span>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconReading js-component-bedow-icon" title="Reading">
			<span class="IconReading-frame">
				<span class="IconReading-cursor"></span>
			</span>
		</span>
	</div>

	<div class="u-col">
		<span class="u-containerIcon IconWorld js-component-bedow-icon" title="World">
			<span class="IconWorld-planet">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.83 39.3">
					<circle cx="32.18" cy="19.65" r="18" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.3"/>
				</svg>
			</span>
			<span class="IconWorld-satellite"></span>
		</span>
	</div>

</div>
