
@keyframes drop-in {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: none;
	}
}
	
.component-property-map__marker {
	span {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		//animation: drop-in .2s ease-out;
		transition: transform .1s ease-out;
		&:hover {
			transition: transform .2s ease-out;
			transform: scale(1.05);
		}
		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
		background-repeat: no-repeat;
		background-position: center center;
	}
	&.single-bostad span {		
	 	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 81 81" enable-background="new 0 0 81 81" xml:space="preserve"><rect id="XMLID_422_" x="3" y="3" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" width="75" height="75"/></svg>');
	}
	&.cluster-bostad span {		
	 	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99 99" enable-background="new 0 0 99 99" xml:space="preserve"><rect id="XMLID_23_" x="3" y="21" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" width="75" height="75"/><rect id="XMLID_22_" x="21" y="3" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" width="75" height="75"/></svg>');
		background-size: auto 78%;
	}
	&.single-omsorg span {		
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve"><circle id="XMLID_19_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="45" cy="45" r="42"/></svg>');
	}
	&.cluster-omsorg span {		
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 113.4 113.9" enable-background="new 0 0 113.4 113.9" xml:space="preserve"><circle id="XMLID_424_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="45" cy="68.9" r="42"/><circle id="XMLID_423_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="68.4" cy="45" r="42"/></svg>');
		background-size: auto 80%;
	}
	&.single-utveckling span {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 93.7 93.7" enable-background="new 0 0 93.7 93.7" xml:space="preserve"><polygon id="XMLID_475_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="4.2,89.4 26.7,5.8 87.9,67"/></svg>');
	}
	&.cluster-utveckling span {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 117.6 117.6" enable-background="new 0 0 117.6 117.6" xml:space="preserve"><polygon id="XMLID_28_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="4.2,113.3 26.8,29.3 88.2,90.8 "/><polygon id="XMLID_35_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="27.8,89.8 50.3,5.8 111.8,67.3 "/></svg>');
		background-size: auto 80%;
	}
	
	&.cluster-bostad-utveckling,
	&.cluster-utveckling-bostad {
		span {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 130.3 130.3" enable-background="new 0 0 130.3 130.3" xml:space="preserve"><polygon id="XMLID_461_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="40.5,89.8 63,5.8 124.5,67.3 "/><polygon id="XMLID_416_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="3,127.3 3,89.8 3,52.3 40.5,52.3 78,52.3 78,89.8 78,127.3 40.5,127.3 "/></svg>');
			background-size: auto 94%;
		}
	}
	&.cluster-omsorg-utveckling,
	&.cluster-utveckling-omsorg {
		span {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 134.8 134.8" enable-background="new 0 0 134.8 134.8" xml:space="preserve"><polygon id="XMLID_457_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="45,89.8 67.5,5.8 129,67.3"/><circle id="XMLID_433_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="45" cy="89.8" r="42"/></svg>');
			background-size: auto 94%;
		}
	}
	&.cluster-omsorg-bostad,
	&.cluster-bostad-omsorg {
		span {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 123 123" enable-background="new 0 0 123 123" xml:space="preserve"><rect id="XMLID_476_" x="45" y="3" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" width="75" height="75"/><circle id="XMLID_473_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="45" cy="78" r="42"/></svg>');
			background-size: auto 94%;
		}
	}
	&.cluster-bostad-omsorg-utveckling,
	&.cluster-bostad-utveckling-omsorg,
	&.cluster-omsorg-bostad-utveckling,
	&.cluster-omsorg-utveckling-bostad,
	&.cluster-utveckling-omsorg-bostad,
	&.cluster-utveckling-bostad-omsorg {
		span {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 141.2 129" enable-background="new 0 0 141.2 129" xml:space="preserve"><polygon id="XMLID_325_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" points="4.2,89.8 25.8,5.8 87.3,67.3 "/><rect id="XMLID_324_" x="63.2" y="23.8" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" width="75" height="75"/><circle id="XMLID_323_" fill="none" stroke="#22334B" stroke-width="6" stroke-miterlimit="10" cx="72.9" cy="84" r="42"/></svg>');
			background-size: 98% auto;
		}
	}
}

