$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);

$logo-dashoffset-s: 103;
$logo-dashoffset-p: 111;
$logo-dashoffset-g-line: 26;
$logo-dashoffset-g-curve: 146;

$char-in-duration: 1500ms;
$char-out-duration: 1000ms; 
$start-delay: 0; 
$char-delay-ratio: 0.25;

$char-in-delay: $char-in-duration * $char-delay-ratio;
$char-out-delay: $char-out-duration * $char-delay-ratio;

.spg-logo-animation {
  display: flex;
  align-items: center;
  background-color: white;

  svg {
    margin: auto;
    width: 75%;
  }

  line,
  path {
    visibility: hidden;

    // initial hidden state
    animation-timing-function: $easeInOutCubic;
    animation-fill-mode: both;
    stroke: #22334B;

    // G horizontal line
    &:nth-child(1) {
      stroke-dasharray: $logo-dashoffset-g-line;
    }
    // G curve
    &:nth-child(2) {
      stroke-dasharray: $logo-dashoffset-g-curve;
    }
    // P
    &:nth-child(3) {
      stroke-dasharray: $logo-dashoffset-p;
    }
    // S
    &:nth-child(4) {
      stroke-dasharray: $logo-dashoffset-s;
    }
  }

  &.do-Animate line,
  &.do-Animate path {
   visibility: visible;

    // G horizontal line
    &:nth-child(1) {
      animation-name: animation-logo-draw-g-line;
      animation-duration: $char-in-duration*0.25;
      animation-delay: $start-delay + $char-in-delay * 2 + $char-in-duration * 0.75;
      animation-timing-function: $easeOutCubic;
    }
    // G curve
    &:nth-child(2) {
      animation-name: animation-logo-draw-g-curve;
      animation-duration: $char-in-duration*0.75;
      animation-delay: $start-delay + $char-in-delay * 2;
      animation-timing-function: $easeInCubic;
    }
    // P
    &:nth-child(3) {
      animation-name: animation-logo-draw-p;
      animation-delay: $start-delay + $char-in-delay;
      animation-duration: $char-in-duration;
    }
    // S
    &:nth-child(4) {
      animation-name: animation-logo-draw-s;
      animation-delay: $start-delay;
      animation-duration: $char-in-duration;
    }

  }
}

@keyframes animation-logo-draw-s {
  from {
    stroke-dashoffset: $logo-dashoffset-s;
  }
  to {
    stroke-dashoffset: $logo-dashoffset-s * 2;
  }
}

@keyframes animation-logo-draw-p {
  from {
    stroke-dashoffset: $logo-dashoffset-p;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animation-logo-draw-g-line {
  from {
    stroke-dashoffset: $logo-dashoffset-g-line;
  }
  to {
    stroke-dashoffset: $logo-dashoffset-g-line * 2;
  }
}

@keyframes animation-logo-draw-g-curve {
  from {
    stroke-dashoffset: $logo-dashoffset-g-curve;
  }
  to {
    stroke-dashoffset: $logo-dashoffset-g-curve * 2;
  }
}
