//
// Breakpoints
//

/*
* Breakpoint wider than most mobiles
*
* @example
* @include if-wider-than-mobile { color: hotpink; }
*
*/
@mixin if-wider-than-mobile {
  @media (min-width: pxToEm(568 + 1)) {
    @content;
  }
}

/*
* Breakpoint wider than number of pixels
*
* @example
* @include if-wider-than(960) { color: hotpink; }
*
*/
@mixin if-wider-than($px) {
  @media (min-width: $px) {
    @content;
  }
}

/*
* Breakpoint taller than number of pixels
*
* @example
* @include if-taller-than(960) { color: hotpink; }
*
*/
@mixin if-taller-than($px) {
  @media (min-height: $px) {
    @content;
  }
}