//
//
// Elements
//

// note: font scaling is done in typeplates
// see _typeplate.scss
html {
  font-family: Calibre, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 600px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

q,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

b,
strong {
  font-weight: 700;
}

cite {
  border: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

p {
  // max-width: $measure;
  margin: 0 0 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}