//
//
// Elements
//

// note: font scaling is done in typeplates
// see _typeplate.scss
html {
  font-family: Calibre, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 600px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

abbr,
acronym,
blockquote,
code,
kbd,
q,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

address {
  font-style: italic;
  margin-bottom: 24px;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: #808080;
}

abbr[title] {
  border-bottom: 1px dotted #2b2b2b;
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

code {
  white-space: pre;
  font-family: monospace;
}

cite {
  border: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: #fff9c0;
  border: 0;
  color: inherit;
  text-decoration: none;
}

p {
  // max-width: $measure;
  margin: 0 0 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

code,
kbd,
pre {
  font-family: monospace, serif;
  font-size: 15px;
  line-height: 1.6;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.333333333em;
  max-width: 100%;
  overflow: auto;
  padding: 0.666666667em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  margin: 0 0 1rem 0rem;
  padding-left: 0rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li  {
  margin: 0 0 1rem;
}

li > ul,
li > ol {
  margin: 0 0 0 1rem;
}

del {
  color: #767676;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
}
