//
// colors
//
$green: #b7d02e;

//
// paddings
//
$default-side-padding: 40;

//
// breakpoints
//
$breakpoint-one: 320;
$breakpoint-two: 768;
$breakpoint-three: 1600;

// $base-one-px: 16;
// $base-two-px: 22;
// $base-three-px: 30;