//
// colors
//
$vinter: #01a084;
$vinter-dark: #006457;

$var: #b7d02e;
$var-dark: #83aa08;

$sommar: #eccd00;
$sommar-dark: #daa500;

$host: #f8b334;
$host-dark: #f17e0b;

$gray: #999;
$gray-dark: #444;

$mono: #424242;
$mono-dark: #2d2d2d;

$natt: #535b82;
$natt-dark: #3e404d;

$green: $var;
$green-dark: $var-dark;

$bright: #f0f0f0;
$default-font-color: #333333;


//
// Margin & padding
//
$default-section-margin: 10%;
$default-side-padding: 40;

//
// Breakpoints
//
$breakpoint-one: 400;
$breakpoint-one-px: #{$breakpoint-one}px;
$breakpoint-two: 768;
$breakpoint-two-px: #{$breakpoint-two}px;
$breakpoint-three: 1400;
$breakpoint-three-px: #{$breakpoint-three}px;

// GRID STUFFZ
$side-padding-px: 16px;
$grid-max-width-px: 786px + (2*$side-padding-px);
$grid-wide-max-width-px: 1300px + (2*$side-padding-px);
$grid-gap-px: ($side-padding-px + $grid-max-width-px - $grid-wide-max-width-px)/2;
