/**
 *  author David Lindkvist
 *
 *  Using the "Style Linking" approch to load fonts as described here:
 *  http://www.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
 *
 *  Font weight map: (https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight)
 *  100 CalibreWeb-Thin
 *      CalibreWeb-ThinItalic
 *  300 CalibreWeb-Light
 *      CalibreWeb-LightItalic
 *  400 CalibreWeb-Regular
 *      CalibreWeb-RegularItalic
 *  500 CalibreWeb-Medium
 *      CalibreWeb-MediumItalic
 *  600 CalibreWeb-Semibold
 *      CalibreWeb-SemiboldItalic
 *  700 CalibreWeb-Bold
 *      CalibreWeb-BoldItalic
 *  900 CalibreWeb-Black
 *      CalibreWeb-BlackItalic
 */

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Thin.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-ThinItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Light.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-LightItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-RegularItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-RegularItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-MediumItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Semibold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-SemiboldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-SemiboldItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-BoldItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-Black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url("../fonts/CalibreWeb-BlackItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/CalibreWeb-BlackItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: 900;
  font-style: italic;
}
