<div class="sthlm6000-about js-component-sthlm-about-chart" data-scroll-repeat="true">

  <div class="sthlm6000-about__chart">

    <figure class="sthlm6000-about__chart__container">

      	<div class="sthlm6000-about__chart__graphic">
  			   <svg id="js-sthlm6000-donut-svg" viewbox="0 0 538 538"></svg>
    		</div>

      <figcaption class="sthlm6000-about__chart__caption">
        <ul class="sthlm6000-stats">
          <li class="sthlm6000-stats__item sthlm6000-stats__item--centered">
            <span class="sthlm6000-stats__item__number js-sthlm6000-stats-number" data-num="2072">0</span>
            <span class="sthlm6000-stats__item__label">Antagna detaljplaner</span>
          </li>
          <li class="sthlm6000-stats__item sthlm6000-stats__item--centered">
            <span class="sthlm6000-stats__item__number js-sthlm6000-stats-number" data-num="1579">0</span>
            <span class="sthlm6000-stats__item__label">Påbörjade byggen</span>
          </li>
          <li class="sthlm6000-stats__item sthlm6000-stats__item--centered">
            <span class="sthlm6000-stats__item__number js-sthlm6000-stats-number" data-num="846">0</span>
            <span class="sthlm6000-stats__item__label">Inflyttningsklara bostäder</span>
          </li>
        </ul>
      </figcaption>
    </figure>

  </div>

</div>