<figure class="js-component-google-streetview-panorama sthlm600-google-streetview-panorama u-ratio u-ratio--16_9"
        data-latitude="59.312988"
        data-longitude="18.073954"
        data-scroll-repeat="true">

  <figcaption class="sthlm600-google-streetview-panorama__header block u-ratio__content">
    <h2 class="js-title sthlm600-google-streetview-panorama__location centered"><span>Å</span><span>s</span><span>ö</span><span>g</span><span>a</span><span>t</span><span>a</span><span>n</span></h2>
  </figcaption>

</figure>
