<figure class="js-component-google-streetview-panorama sthlm600-google-streetview-panorama u-ratio u-ratio--16_9"
        data-latitude="59.312988"
        data-longitude="18.073954"
        data-fallback="https://dl.dropboxusercontent.com/u/1801168/panorama-fallback.jpg"
        data-scroll-repeat="true">

  <figcaption class="sthlm600-google-streetview-panorama__header block u-ratio__content">
    <h2 class="js-title sthlm600-google-streetview-panorama__location centered">Åsögatan</h2>
  </figcaption>

</figure>
