<div class="js-component-masking-number-animation sthlm6000-masking-number-animation u-ratio u-ratio--16_9" data-scroll-repeat="true">

    <div class="sthlm6000-masking-number-animation__back">
      <div class="sthlm6000-masking-number-animation__text-container">
        <h1>+<span class="js-number">0</span></h1>
        <h2>Framtidens studentboende</h2>
      </div>
    </div>

    <div class="sthlm6000-masking-number-animation__cover js-cover">
      <div class="sthlm6000-masking-number-animation__cover__rel">
        <div class="sthlm6000-masking-number-animation__cover__rel__content js-cover-content">
          <div class="sthlm6000-masking-number-animation__text-container">
            <h1>+<span class="js-number">0</span></h1>
            <h2>Framtidens studentboende</h2>
          </div>
        </div>
      </div>
    </div>

</div>
