<div class="google-santa-tracker__reindeers">
  <div class="reindeer-screen reindeer-screen--benchpress">
    <div class="reindeer-cam">
      <div class="reindeer-cam__frames">
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--benchpress"></div>
      </div>
    </div>
  </div>
  <div class="reindeer-screen reindeer-screen--treadmill">
    <div class="reindeer-cam">
      <div class="reindeer-cam__frames">
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--treadmill"></div>
      </div>
    </div>
  </div>
  <div class="reindeer-screen reindeer-screen--jumprope">
    <div class="reindeer-cam">
      <div class="reindeer-cam__frames">
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
        <div class="reindeer-cam__frame reindeer-cam__frame--jumprope"></div>
      </div>
    </div>
  </div>
</div>
