//
// Colors
//
$red: #b51a2a;
$red-darker: #9c1422;

$green: #54CC14;
$green-darker: #00B233;

$blue: #1485cc;
$blue-darker: darken($blue, 12%);

$blue2: #0971b2;

$gray: #666666;
$gray-darker: #333333;

$form-placeholder: #7c7c7c;

$breakpoint-1: '640px';